<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>

    <div>
      <b-table
        :striped="true"
        :bordered="true"
        :hover="true"
        :items="userTable.items"
        :fields="userTable.fields"
        head-variant="dark"
        :current-page="userTable.currentPage"
        :per-page="userTable.perPage"
        :filter="userTable.filter"
        :filter-included-fields="userTable.filterOn"
        :sort-by.sync="userTable.sortBy"
        :sort-desc.sync="userTable.sortDesc"
        :sort-direction="userTable.sortDirection"
      >
        <template v-slot:[`thead-top`]>
          <b-tr>
            <b-th colspan="3"></b-th>
            <b-th colspan="7" class="text-center">Portal Policy</b-th>
            <b-th colspan="2"></b-th>
          </b-tr>
        </template>
        <template v-slot:[`cell(auth.dashboard)`]="row">
          <b-checkbox :checked="row.item.auth.dashboard"></b-checkbox>
        </template>
        <template v-slot:[`cell(auth.topology)`]="row">
          <b-checkbox :checked="row.item.auth.topology"></b-checkbox>
        </template>
        <template v-slot:[`cell(auth.metering)`]="row">
          <b-checkbox :checked="row.item.auth.metering"></b-checkbox>
        </template>
        <template v-slot:[`cell(auth.resources)`]="row">
          <b-checkbox :checked="row.item.auth.resources"></b-checkbox>
        </template>
        <template v-slot:[`cell(auth.monitoring)`]="row">
          <b-checkbox :checked="row.item.auth.monitoring"></b-checkbox>
        </template>
        <template v-slot:[`cell(auth.logging)`]="row">
          <b-checkbox :checked="row.item.auth.logging"></b-checkbox>
        </template>
        <template v-slot:[`cell(auth.admin)`]="row">
          <b-checkbox :checked="row.item.auth.admin"></b-checkbox>
        </template>
        <template v-slot:[`cell(otp)`]="row">
          <b-checkbox :checked="row.item.otp"></b-checkbox>
        </template>
        <template #cell(actions)="row">
          <b-button
            size="sm"
            variant="outline-primary"
            @click="info(row.item, row.index, $event.target)"
          >
            Modify
          </b-button>
        </template>
      </b-table>
      <div>
        <b-pagination
          v-model="userTable.currentPage"
          :total-rows="userTableRows"
          :per-page="userTable.perPage"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Admin",
          href: "#",
        },
        {
          text: "IAM",
          href: "#",
        },
        {
          text: "계정 접근권한 관리",
          active: true,
        },
      ],
      infoModal: {
        id: "info-modal",
        title: "",
        content: "",
      },
      userTable: {
        totalRows: 3,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15],
        sortBy: "",
        sortDesc: false,
        sortDirection: "asc",
        filter: null,
        filterOn: [],
        fields: [
          {
            key: "username",
            label: "UserName",
            sortable: true,
            sortDirection: "desc",
          },
          {
            key: "displayname",
            label: "DisplayName",
            sortable: true,
            sortDirection: "desc",
          },
          { key: "team", label: "Team", sortable: true, sortDirection: "desc" },
          {
            key: "auth.dashboard",
            label: this.$t("TopNav.dashboard"),
            sortable: false,
            sortDirection: "desc",
          },
          {
            key: "auth.topology",
            label: this.$t("TopNav.topology"),
            sortable: false,
            sortDirection: "desc",
          },
          {
            key: "auth.metering",
            label: this.$t("TopNav.metering"),
            sortable: false,
            sortDirection: "desc",
          },
          {
            key: "auth.resources",
            label: this.$t("TopNav.resources"),
            sortable: false,
            sortDirection: "desc",
          },
          {
            key: "auth.monitoring",
            label: this.$t("TopNav.monitoring"),
            sortable: false,
            sortDirection: "desc",
          },
          {
            key: "auth.logging",
            label: this.$t("TopNav.logging"),
            sortable: false,
            sortDirection: "desc",
          },
          {
            key: "auth.admin",
            label: this.$t("TopNav.admin"),
            sortable: false,
            sortDirection: "desc",
          },
          { key: "otp", label: "OTP", sortable: false },
          { key: "actions", label: "", sortable: false },
        ],
        items: [
          {
            username: "Dickerson",
            displayname: "Macdonald",
            team: "Employee",
            auth: {
              dashboard: true,
              topology: true,
              metering: true,
              resources: true,
              monitoring: true,
              logging: true,
              admin: true,
            },
            otp: true,
          },
          {
            username: "Larsen",
            displayname: "Shaw",
            team: "Employee",
            auth: {
              dashboard: false,
              topology: true,
              metering: true,
              resources: true,
              monitoring: true,
              logging: true,
              admin: false,
            },
            otp: false,
          },
          {
            username: "Geneva",
            displayname: "Wilson",
            team: "Employee",
            auth: {
              dashboard: true,
              topology: true,
              metering: true,
              resources: true,
              monitoring: true,
              logging: true,
              admin: false,
            },
            otp: false,
          },
        ],
      },
    };
  },
  computed: {
    userTableRows() {
      return this.userTable.items.length;
    },
  },
  methods: {
    info(item, index, button) {
      alert(JSON.stringify(item));
    }
  },
};
</script>