<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>

    <div>
      <div class="mb-2 float-right">
        <b-button variant="warning" @click="addUser"><fa icon="user-plus" /> 계정 추가</b-button>
      </div>
      <!-- Info modal -->
      <b-modal
        no-close-on-backdrop
        :id="infoModal.id"
        :title="infoModal.title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <b-form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group label="User Name:" label-for="username">
            <b-form-input
              id="username"
              v-model="infoModal.content.username"
              required
              placeholder="Enter UserName"
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Display Name:" label-for="displayname">
            <b-form-input
              id="displayname"
              v-model="infoModal.content.displayname"
              required
              placeholder="Enter DisplayName"
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Email address:" label-for="email">
            <b-form-input
              v-model="infoModal.content.email"
              required
              placeholder="Enter Email"
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Mobile:" label-for="mobile">
            <b-form-input
              v-model="infoModal.content.mobile"
              required
              placeholder="Enter Mobile"
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Team:" label-for="team">
            <b-form-input
              v-model="infoModal.content.team"
              required
              placeholder="Enter Team"
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Photo:" label-for="photo">
            <b-form-input
              v-model="infoModal.content.photo"
              required
              placeholder="Select photo file"
            ></b-form-input>
          </b-form-group>
        </b-form>
      </b-modal>
      <b-table
        :striped="true"
        :bordered="true"
        :hover="true"
        :items="userTable.items"
        :fields="userTable.fields"
        head-variant="dark"
        :current-page="userTable.currentPage"
        :per-page="userTable.perPage"
        :filter="userTable.filter"
        :filter-included-fields="userTable.filterOn"
        :sort-by.sync="userTable.sortBy"
        :sort-desc.sync="userTable.sortDesc"
        :sort-direction="userTable.sortDirection"
        selectable
        select-mode="single"
        @row-clicked="onRowClicked"
      ></b-table>
      <div>
        <b-pagination
          v-model="userTable.currentPage"
          :total-rows="userTableRows"
          :per-page="userTable.perPage"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Admin",
          href: "#",
        },
        {
          text: "IAM",
          href: "#",
        },
        {
          text: "계정 관리",
          active: true,
        },
      ],
      infoModal: {
        id: "info-modal",
        title: "",
        content: "",
      },
      userTable: {
        totalRows: 3,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15],
        sortBy: "",
        sortDesc: false,
        sortDirection: "asc",
        filter: null,
        filterOn: [],
        fields: [
          {
            key: "username",
            label: "UserName",
            sortable: true,
            sortDirection: "desc",
          },
          {
            key: "displayname",
            label: "DisplayName",
            sortable: true,
            sortDirection: "desc",
          },
          {
            key: "email",
            label: "Email",
            sortable: true,
            sortDirection: "desc",
          },
          {
            key: "mobile",
            label: "Mobile",
            sortable: true,
            sortDirection: "desc",
          },
          { key: "team", label: "Team", sortable: true, sortDirection: "desc" },
          { key: "photo", label: "Photo", sortable: false },
        ],
        items: [
          {
            username: "Dickerson",
            displayname: "Macdonald",
            email: "",
            mobile: "",
            team: "",
            photo: "",
          },
          {
            username: "Larsen",
            displayname: "Shaw",
            email: "",
            mobile: "",
            team: "",
            photo: "",
          },
          {
            username: "Geneva",
            displayname: "Wilson",
            email: "",
            mobile: "",
            team: "",
            photo: "",
          },
        ],
      },
    };
  },
  computed: {
    userTableRows() {
      return this.userTable.items.length;
    },
  },
  methods: {
    addUser() {
      this.infoModal.title = `계정 추가`;
      this.infoModal.content = {}; //JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id);
    },
    onRowClicked(item, index, event) {
      this.infoModal.title = `${item.username} 계정 수정`;
      this.infoModal.content = item; //JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, event.target);
    },
    resetModal(bvModalEvt) {
      this.infoModal.title = "";
      this.infoModal.content = "";
      
      bvModalEvt.preventDefault()

      return;
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      return valid;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return;
      }
      
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-prevent-closing");
      });
    },
  },
};
</script>