<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>

    <b-container fluid>
      <b-row>
        <b-col>
          <commonForm
            :disable_form="false"
            :form_type="'Account'"
            :forms="form"
            :preparingData="preparingData"
            @approval_name_event="change_approval_name"
          />
          <div v-show="form.RequestType != ''">
            <accountDetailForm
              :disable_form="false"
              :forms="form_detail"
              :request_approval="isRequestApproval"
              @formDetails="getDetailForm"
            />
          </div>
          <b-card>
            <b-button
              size="lg"
              class="float-right ml-2"
              variant="success"
              :disabled="this.form.RequestType == ''"
              @click="setRequestApproval"
            >
              <fa :icon="'file-upload'" />
              {{ $t('Form.Request') }}
            </b-button>
          </b-card>
        </b-col>
        <b-col cols="3">
          <approvalProcess
            :formType="this.form.ApprovalFormType"
            @approvalProcess="getApprovalProcess"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import moment from "moment";
import commonForm from "~~/components/approval_form/common";
import accountDetailForm from "~~/components/approval_form/accountDetail";
import approvalProcess from "~~/components/approval_form/approval-process";
export default {
  components: {
    commonForm,
    accountDetailForm,
    approvalProcess
  },
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Request",
          href: "#"
        },
        {
          text: "Account",
          href: "#"
        },
        {
          text: "Portal",
          active: true
        }
      ],

      isRequestApproval: false,

      preparingData: {
        RequestType: {
          New: true,
          Edit: false,
          Renewal: false,
          Delete: false
        }
      },
      form: {
        Requester: {
          UserName: "gildong.hong",
          DisplayName: "홍길동",
          Team: "개발팀"
        },
        InfraCategory: "AWS",
        ResourceType: "AWS-Account",
        RequestType: "123",
        ApprovalName: "",
        Content: Object,
        ApprovalFormType: "aws_account_aws-account",
        ApprovalProcess: Object
      },

      form_detail: {
        Content: {
          AccountID: "gildong.hong",
          RenewalDueDate: ""
        },
        RequesterNote: ""
      }
    };
  },
  beforeCreate: function() {},
  computed: {},
  methods: {}
};
</script>
<style>
</style>