<template>
  <div>
    <b-container fluid>
      <h1>Review</h1>
      <b-card>
        <b-row>
          <b-col>
            <b-card>
              <div class="float-right">
                <span
                  class="alert-wait-approval mb-1 mr-3"
                  style="display: inline-block;padding:0.5vw 1vw;"
                >Waiting</span>
                <span
                  class="alert-returned-approval mb-1 mr-3"
                  style="display: inline-block;padding:0.5vw 1vw;"
                >Returned</span>
                <span
                  class="alert-approved-approval mb-1"
                  style="display: inline-block;padding:0.5vw 1vw;"
                >Approved</span>
              </div>

              <!-- <b-form-group label="Request Showing">
                <b-form-radio-group
                  id="radio-sign-request-type"
                  name="radio-sign-request-type"
                  v-on:change="sortByRequestType"
                >
                  <b-form-radio inline name="radio_show_new" value="new">New</b-form-radio>
                  <b-form-radio inline name="radio_show_all" value="all">All</b-form-radio>
                </b-form-radio-group>
              </b-form-group>-->
              <client-only>
                <JqxGrid
                  class="approval-sign-grid cell-1 cell-5 cell-6 cell-7 cell-8"
                  ref="Grid_of_sign"
                  :width="'100%'"
                  :height="300"
                  :source="dataAdapter"
                  :pageable="false"
                  :columns="jqGridColumns"
                  :columnsresize="true"
                  :filterable="true"
                  :editable="false"
                  :sortable="true"
                  @rowselect="GridOfSignOnRowSelect($event)"
                />
              </client-only>
            </b-card>
            <div class="float-right">
              <b-button size="lg" variant="info" @click="refreshRequests">
                <fa :icon="'sync-alt'" />Refresh Screen
              </b-button>
            </div>
          </b-col>
        </b-row>
        <hr />
        <b-row v-show="this.gridboundindex_of_sign != '-1'">
          <b-col cols="8">
            <div>
              <b-row>
                <b-col>
                  <commonForm :disable_form="true" :forms="form_of_common" :preparingData="{}" />
                </b-col>
              </b-row>
              <b-row>
                <!-- <b-col v-if="this.FormDetailTemplate === 'Register'">
                  <registerDetailForm :disable_form="true" :forms="form_of_detail" />
                </b-col>-->
                <b-col v-if="this.FormDetailTemplate === 'Account'">
                  <accountDetailForm
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                </b-col>
                <!-- <b-col v-if="this.FormDetailTemplate === 'Credentials'">
                  <credentialsDetailForm
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                </b-col>
                <b-col v-if="this.FormDetailTemplate === 'AccessPolicy'">
                  <awsServerDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'aws_access-policy_server-access'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <awsDbDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'aws_access-policy_db-access'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <awsNetworkDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'aws_access-policy_network-access'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <idcServerDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'idc_access-policy_server-access'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <idcDbDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'idc_access-policy_db-access'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  /> 
                </b-col>-->
              </b-row>
            </div>
          </b-col>
          <b-col cols="4">
            <b-card>
              <div class="mb-2">
                <strong>프로세스 (결재 순서)</strong>
              </div>
              <b-table
                responsive
                :fields="bTableFields"
                :items="bTableItems"
                style="overflow-x:scroll"
              >
                <template>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                  </div>
                </template>
                <template v-slot:cell(Stage)="row">
                  <div v-if="row.item.Stage == 'Agree'">
                    <b-badge variant="success">Agree</b-badge>
                  </div>
                  <div v-else-if="row.item.Stage == 'Review'">
                    <b-badge variant="secondary">Review</b-badge>
                  </div>
                  <div v-else-if="row.item.Stage == 'Approve'">
                    <b-badge variant="primary">Approve</b-badge>
                  </div>
                </template>
              </b-table>
            </b-card>
            <noteTemplate
              :bNoteTableData="bNoteTableData"
              pageStage="Agree"
              @updateFormData="updateFormData"
            />
          </b-col>
        </b-row>
      </b-card>
    </b-container>
  </div>
</template>


<script>
import commonForm from "~~/components/approval_form/common";
import accountDetailForm from "~~/components/approval_form/accountDetail";

import noteTemplate from "~~/components/approval_form/note";

import moment from "moment";

let JqxGrid = null;
if (process.client) {
  JqxGrid = require("jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue").default;
}
export default {
  components: {
    JqxGrid,
    commonForm,
    accountDetailForm,
    noteTemplate
  },
  data() {
    return {
      bTableFields: [
        {
          key: "Stage",
          label: "",
          stickyColumn: true,
          thStyle: {
            width: "80px"
          }
        },
        {
          key: "Name",
          thStyle: {
            width: "170px"
          },
          tdClass: "text-nowrap"
        },
        {
          key: "Team",
          thStyle: {
            width: "170px"
          },
          tdClass: "text-nowrap"
        }
      ],
      bTableItems: [],

      FormDetailTemplate: "",
      bNoteTableData: {
        _id: "",
        Notes: []
      },
      dataAdapter: process.client
        ? new jqx.dataAdapter(this.source_of_sign)
        : null,
      jqGridColumns: [
        {
          text: "Requester",
          datafield: "Requester",
          cellclassname: this.cellclassname,
          width: "120px"
        },
        {
          text: "Infra Type",
          datafield: "InfraType",
          cellclassname: this.cellclassname,
          width: "80px"
        },
        {
          text: "Resource Type",
          datafield: "ResourceType",
          cellclassname: this.cellclassname,
          width: "120px"
        },
        {
          text: "Request Type",
          datafield: "RequestType",
          cellclassname: this.cellclassname,
          width: "100px"
        },
        {
          text: "Policy Name",
          datafield: "PolicyName",
          cellclassname: this.cellclassname
        },
        {
          text: "Status",
          datafield: "Status",
          cellclassname: this.cellclassname
        },
        {
          text: "Request Time",
          datafield: "RequestTime",
          cellsformat: "yyyy-MM-dd HH:mm:ss",
          cellclassname: this.cellclassname,
          width: "150px"
        },
        {
          text: "Approval Time",
          datafield: "ApprovalTime",
          cellsformat: "yyyy-MM-dd HH:mm:ss",
          cellclassname: this.cellclassname,
          width: "150px"
        },
        {
          text: "Remain Days",
          datafield: "ReApprovalRemainDays",
          cellclassname: this.cellclassname,
          width: "100px"
        },
        {
          text: "Approver",
          datafield: "Approver",
          cellclassname: this.cellclassname,
          width: "100px"
        }
        // {
        //   text: 'ApproverNote',
        //   datafield: 'ApproverNote',
        //   cellclassname: this.cellclassname
        // }
      ],

      gridboundindex_of_sign: -1,

      selectedRequest: {
        _id: "",
        ResourceType: "",
        RequestType: "",
        PolicyName: "",
        Status: "",
        RequestTime: {
          type: Date,
          default: 0
        },
        ApprovalTime: {
          type: Date,
          default: 0
        },
        Reviewer: "",
        Approver: "",
        Note: "",
        RemainRenewalDays: ""
      },
      form_of_common: {
        Requester: {
          UserName: "",
          DisplayName: "",
          Team: ""
        },
        InfraCategory: "",
        ResourceType: "",
        accessRequestType: ""
      }
    };
  },
  beforeCreate: function() {
    if (process.client) {
      this.source_of_sign = {
        datatype: "array",
        datafields: [
          { name: "Requester", map: "Requester>UserName" },
          { name: "InfraType", map: "InfraCategory" },
          { name: "ResourceType", map: "ResourceType" },
          { name: "RequestType", map: "RequestType" },
          { name: "PolicyName", map: "ApprovalName" },
          { name: "Status", map: "vStatus" },
          { name: "RequestTime", map: "Signed>RequestDate", type: "date" },
          { name: "ApprovalTime", map: "Signed>ApproveDate", type: "date" },
          {
            name: "ReApprovalRemainDays",
            map: "Content>RenewalDueDays",
            type: "number"
          },
          { name: "Approver", map: "Signed>Approve>UserName" }
        ],
        localdata: []
      };
    }
  },
  created() {},
  methods: {
    showDetailTemplate(formType) {
      switch (formType) {
        case "aws_account_server-account":
        case "aws_account_db-account":
        case "aws_account_aws-account":
        case "aws_account_dfs-svn-account":
        case "aws_account_dfs-jira-account":
        case "aws_account_dfs-vdi-account":
        case "idc_account_server-account":
        case "idc_account_db-account":
        case "aws_access-policy_vpn-access":
        case "aws_access-policy_aws-access-key":
          this.FormDetailTemplate = "Account";
          break;
        case "aws_account_server-credentials":
        case "aws_account_db-credentials":
        case "idc_account_server-credentials":
        case "idc_account_db-credentials":
          this.FormDetailTemplate = "Credentials";
          break;
        case "aws_access-policy_server-access":
        case "aws_access-policy_db-access":
        case "aws_access-policy_network-access":
        case "idc_access-policy_server-access":
        case "idc_access-policy_db-access":
          this.FormDetailTemplate = "AccessPolicy";
          break;
        case "new-register":
          this.FormDetailTemplate = "Register";
          break;
        default:
          this.FormDetailTemplate = "";
      }
    },
    GridOfSignOnRowSelect: function(event) {
      this.$refs.Grid_of_sign.clearselection();

      this.gridboundindex_of_sign = event.args.rowindex;
      this.selectedRequest = JSON.parse(
        JSON.stringify(
          this.source_of_sign.localdata[this.gridboundindex_of_sign]
        )
      );

      this.form_of_common = this.selectedRequest;
      this.form_of_detail = this.selectedRequest;

      this.bNoteTableData = JSON.parse(JSON.stringify(this.selectedRequest));

      let approvalProcess = [];
      approvalProcess = this.bNoteTableData.ApprovalProcess;
      this.displayBTableItems(approvalProcess);

      this.showDetailTemplate(this.selectedRequest["ApprovalFormType"]);
    },

    cellclassname: function(row, column, value, data) {
      // if (data.ReApprovalRemainDays <= 18) {
      //   return 'alert-urgent-approval'
      // }

      if (data.Status == "Approved") {
        return "alert-approved-approval";
      } else if (data.Status == "Waiting") {
        return "alert-wait-approval";
      } else if (data.Status == "Returned") {
        return "alert-returned-approval";
      }
    },
    refreshRequests() {
      this.clearSelectedForm();
      this.getServerItems();
    },
    clearSelectedForm() {
      this.gridboundindex_of_sign = -1;
      this.$refs.Grid_of_sign.clearselection();
    },

    sortByRequestType(e) {},
    updateFormData(data) {
      this.source_of_sign.localdata[this.gridboundindex_of_sign] = data;
      this.$refs.Grid_of_sign.updatebounddata("cells");
      this.bNoteTableData = JSON.parse(JSON.stringify(data));
    },
    displayBTableItems(approvalProcess) {
      this.bTableItems = [];

      if (approvalProcess) {
        let tableItems = [];
        approvalProcess.forEach(process => {
          process.Members.forEach(member => {
            const portalUser = member.PortalUser;
            tableItems.push({
              Stage: process.Stage,
              UserId: portalUser._id,
              UserName: portalUser.UserName,
              DisplayName: portalUser.DisplayName,
              Name: portalUser.DisplayName + "(" + portalUser.UserName + ")",
              Team: portalUser.Team
            });
          });
        });

        this.bTableItems = tableItems;
      }
    }
  }
};
</script>

<style scope>
/* div.system-grid div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 2) {
  background-color: cadetblue;
} */
.alert-urgent-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #fc8d06; /*#f8d7da;*/
}
.alert-returned-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #fc8d06; /*#f8d7da;*/
}
.alert-approved-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #61c22c; /*#f8d7da;*/
}
.alert-wait-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #e6ddd2; /*#f8d7da;*/
}

.alert-alert-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #fc8d06; /*#f8d7da;*/
}

div.approval-sign-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 7) {
  background-color: #283576;
}
</style>