<template>
  <div>
    <div v-if="menu == 'dashboard'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>Dashboard</b>
        </b-list-group-item>
        <b-list-group-item variant="light" to="/dashboard/stat">Stats</b-list-group-item>
        <b-list-group-item variant="light" to="/dashboard/trend">Trends</b-list-group-item>
        <b-list-group-item variant="light" to="/dashboard/symptom">Symptom</b-list-group-item>
      </b-list-group>
    </div>
    <div v-if="menu == 'request'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>Request</b>
        </b-list-group-item>
        <b-list-group-item variant="dark" v-b-toggle.accordion-1>Account</b-list-group-item>
        <b-collapse id="accordion-1" accordion="my-accordion" visible>
          <b-list-group>
            <b-list-group-item variant="light" to="/request/account/portal">Portal</b-list-group-item>
            <b-list-group-item variant="light" to="/request/account/cloud">Cloud</b-list-group-item>
            <b-list-group-item variant="light" to="/request/account/server">Server</b-list-group-item>
            <b-list-group-item variant="light" to="/request/account/container">Container</b-list-group-item>
            <b-list-group-item variant="light" to="/request/account/db">DB</b-list-group-item>
            <b-list-group-item variant="light" to="/request/account/vpn">VPN</b-list-group-item>
            <b-list-group-item variant="light" to="/request/account/app">Application</b-list-group-item>
          </b-list-group>
        </b-collapse>
        <b-list-group-item variant="dark" v-b-toggle.accordion-2>Authentication</b-list-group-item>
        <b-collapse id="accordion-2" accordion="my-accordion" visible>
          <b-list-group>
            <b-list-group-item variant="light" to="/request/authen/portal">Portal</b-list-group-item>
            <b-list-group-item variant="light" to="/request/authen/cloud">Cloud</b-list-group-item>
            <b-list-group-item variant="light" to="/request/authen/server">Server</b-list-group-item>
            <b-list-group-item variant="light" to="/request/authen/container">Container</b-list-group-item>
            <b-list-group-item variant="light" to="/request/authen/db">DB</b-list-group-item>
            <b-list-group-item variant="light" to="/request/authen/vpn">VPN</b-list-group-item>
            <b-list-group-item variant="light" to="/request/authen/app">Application</b-list-group-item>
          </b-list-group>
        </b-collapse>
        <b-list-group-item variant="dark" v-b-toggle.accordion-3>Access Policy</b-list-group-item>
        <b-collapse id="accordion-3" accordion="my-accordion" visible>
          <b-list-group>
            <b-list-group-item variant="light" to="/request/access/portal">Portal</b-list-group-item>
            <b-list-group-item variant="light" to="/request/access/cloud">Cloud</b-list-group-item>
            <b-list-group-item variant="light" to="/request/access/server">Server</b-list-group-item>
            <b-list-group-item variant="light" to="/request/access/container">Container</b-list-group-item>
            <b-list-group-item variant="light" to="/request/access/db">DB</b-list-group-item>
            <b-list-group-item variant="light" to="/request/access/vpn">VPN</b-list-group-item>
            <b-list-group-item variant="light" to="/request/access/app">Application</b-list-group-item>
          </b-list-group>
        </b-collapse>

        <hr />
        <b-list-group-item variant="light" to="/request/archive">My Request Status</b-list-group-item>
      </b-list-group>
    </div>
    <div v-if="menu == 'agree'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>Agree</b>
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-if="menu == 'review'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>Review</b>
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-if="menu == 'approve'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>Approve</b>
        </b-list-group-item>
      </b-list-group>
    </div>

    <div v-if="menu == 'history'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>History</b>
        </b-list-group-item>
        <b-list-group-item variant="light" to="/history/approval_archive">Approval History</b-list-group-item>
      </b-list-group>
    </div>
    <div v-if="menu == 'admin'">
      <b-list-group>
        <b-list-group-item variant="primary">
          <b>ADMIN</b>
        </b-list-group-item>
        <b-list-group-item variant="dark" v-b-toggle.accordion-1>IAM Service</b-list-group-item>
        <b-collapse id="accordion-1" accordion="my-accordion" visible>
          <b-list-group>
            <b-list-group-item variant="light" to="/admin/service/certify">신규 신청</b-list-group-item>
            <b-list-group-item variant="light" to="/admin/service/change">변경 신청</b-list-group-item>
            <b-list-group-item variant="light" to="/admin/service/termination">해지 신청</b-list-group-item>
            <b-list-group-item variant="light" to="/admin/service/history">이력 조회</b-list-group-item>
          </b-list-group>
        </b-collapse>

        <b-list-group-item variant="dark" v-b-toggle.accordion-2>IAM IAM</b-list-group-item>
        <b-collapse id="accordion-2" accordion="my-accordion">
          <b-list-group>
            <b-list-group-item variant="light" to="/admin/iam/users">IAM 계정 관리</b-list-group-item>
            <b-list-group-item variant="light" to="/admin/iam/access">IAM 계정 접근권한 관리</b-list-group-item>
          </b-list-group>
        </b-collapse>
      </b-list-group>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      menu: ""
    };
  },
  watch: {
    $route(to, from) {
      if (to.name) {
        this.menu = to.name.split("-")[0];
      }
    }
  },
  mounted() {
    this.menu = this.$router.currentRoute.name.split("-")[0];
  }
};
</script>