<template>
  <!-- Footer -->
  <footer style="border-top:1px solid #ddd; background: #222; bottom: 0px; margin-top: 3em;">
    <b-navbar type="dark">
      <b-navbar-brand href="#">{{ $t('Common.Brand') }}</b-navbar-brand>

      <b-navbar-nav align="center">
        <b-nav-item href="#">{{ $t('BotNav.service_terms') }}</b-nav-item>
        <b-nav-item href="#">{{ $t('BotNav.privacy') }}</b-nav-item>
        <b-nav-item href="#">{{ $t('BotNav.partnership') }}</b-nav-item>
        <b-nav-item href="#">{{ $t('BotNav.career') }}</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </footer>
  <!-- Footer -->
</template>