<template>
  <div>
    <header class="siteHeader">
      <div v-if="isLogin">
        <b-navbar
          toggleable="lg"
          type="light"
          style="background: #fff; height: 35px"
          class="top-navbar"
        >
          <b-navbar-nav align="center">
            <b-nav-item size="sm" href="#">
              {{
              $t("TopNav.cloud_service")
              }}
            </b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-nav-item-dropdown class="lang-selection" :text="$t('TopNav.SwitchLang')" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-nav-form>
          </b-navbar-nav>
        </b-navbar>
      </div>
      <div v-else>
        <b-navbar
          toggleable="lg"
          type="light"
          style="background: #fff; height: 35px"
          class="top-navbar"
        >
          <b-navbar-nav align="center">
            <b-nav-item size="sm" href="#">
              {{
              $t("TopNav.cloud_service")
              }}
            </b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-nav-item size="sm" class="mr-sm-2">Logged In</b-nav-item>
            </b-nav-form>
            <b-nav-form>
              <div style="padding-right: 0.5em; font-size: 0.8em">
                <b>
                  <em>Hybrix</em>
                </b>
              </div>
              <div class="avatar"></div>
              <b-nav-item-dropdown class="lang-selection" right>
                <b-dropdown-item href="#">My Services</b-dropdown-item>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Logout</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-nav-form>
          </b-navbar-nav>
        </b-navbar>
      </div>
      <b-navbar toggleable="lg" type="light" sticky style="background: #fff" class="bd-navbar">
        <b-navbar-brand href="/">
          <b-img
            src="~/assets/images/logo/logo_pic_c_4.png"
            style="height: 30px"
            fluid
            class="mr-2"
            alt="TIKA Cloud"
          />
          <b-img
            src="~/assets/images/logo/logo_n.png"
            style="height: 30px"
            fluid
            class="mr-3"
            alt="TIKA Cloud"
          />
        </b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav align="center">
            <b-nav-item to="/dashboard">Dashboard</b-nav-item>
            <b-nav-item to="/request">Request</b-nav-item>
            <b-nav-item to="/agree">Agree</b-nav-item>
            <b-nav-item to="/review">Review</b-nav-item>
            <b-nav-item to="/approve">Approve</b-nav-item>
            <b-nav-item to="/history">History</b-nav-item>
            <b-nav-item to="/admin">관리자</b-nav-item>
          </b-navbar-nav>
        </b-collapse>

        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-avatar
              button
              size="2.3rem"
              badge="2"
              badge-top
              badge-offset="-0.2em"
              badge-variant="danger"
              class="mr-2"
            >
              <fa icon="comment" />
            </b-avatar>
            <b-avatar
              button
              size="2.3rem"
              badge="2"
              badge-top
              badge-offset="-0.2em"
              badge-variant="danger"
              class="mr-2"
            >
              <fa icon="bell" />
            </b-avatar>

            <b-dropdown right class="dropdown-rounded-circle" variant="light" no-caret>
              <template #button-content>
                <div class="form-inline">
                  <b-avatar size="2rem" class="mr-1">
                    <fa icon="user-alt" />
                  </b-avatar>
                  <div class="mr-1" style="font-size: 0.8em">
                    <b>
                      <em>Hybrix</em>
                    </b>
                  </div>
                </div>
              </template>
              <b-dropdown-item href="#">My Services</b-dropdown-item>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#">Logout</b-dropdown-item>
            </b-dropdown>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          </b-nav-form>
        </b-navbar-nav>
      </b-navbar>
    </header>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLogin: true,
      selected: null,
      options: [
        { value: null, text: "Language" },
        { value: "a", text: "English" },
        { value: "b", text: "Korean" }
      ]
    };
  }
};
</script>
<style>
header.siteHeader {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  z-index: 99;
}
.top-navbar .nav-link {
  font-size: 0.5rem;
}

.lang-selection .dropdown-menu {
  z-index: 1030;
}

.bd-navbar {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1),
    inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.btn-xs {
  padding: 0.1rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.1rem;
}
.dropdown-rounded-circle button {
  /* border-radius: 25% !important; */
  border-radius: 20px;
}
</style>