<template>
  <div>
    <b-card>
      <b-row>
        <b-col cols="4">
          <b-form-group class="strong" label="계정 아이디" disabled>
            <b-form-input v-model="form_detail.Content['AccountID']" trim></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="3">
          <b-form-group class="strong" label="유효 시한">
            <date-range-picker
              v-model="dateRange"
              :date-format="dateFormat"
              :single-date-picker="true"
              :ranges="false"
              :disabled="isDisabled"
              @update="updateValues"
            ></date-range-picker>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <b-form-group class="strong" label="잔여 유효일">
            <b-form-input
              disabled
              aria-describedby="input-guide-days"
              v-model="form_detail.Content['RenewalDueDays']"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="!isDisabled">
        <b-col cols="6">
          <b-form-group class="strong" label="상신 메모">
            <b-form-textarea
              id="textarea"
              v-model="form_detail.RequesterNote"
              :placeholder="isDisabled?'':'내용을 입력해주세요....'"
              rows="3"
              max-rows="3"
              :disabled="isDisabled"
            ></b-form-textarea>
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
// let DateRangePicker = null
if (process.client) {
  // DateRangePicker = require('vue2-daterange-picker/src/components/DateRangePicker')
  //   .default
}

export default {
  components: {
    DateRangePicker
  },
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    request_approval: {
      type: Boolean,
      default: false
    },
    forms: {
      type: Object,
      default: {}
    }
  },
  watch: {
    forms: {
      deep: true,
      handler() {
        this.renderForm();
      }
    },
    request_approval: {
      handler() {
        this.setDetailForm();
      }
    }
  },
  data() {
    return {
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      },

      form_detail: {
        Content: {
          AccountID: "",
          RenewalDueDate: new Date(),
          RenewalDueDays: "0"
        },
        RequesterNote: ""
      }
    };
  },
  beforeCreate: function() {},
  created() {
    this.renderForm();

    // if (process.client) {
    //   this.getServerItems()
    // }
  },
  computed: {
    isDisabled() {
      return this.disable_form;
    }
  },
  methods: {
    renderForm() {
      this.form_detail = JSON.parse(JSON.stringify(this.forms));

      this.dateRange = {
        startDate: moment(),
        endDate: moment()
      };

      let days =
        parseInt(
          moment.duration(this.dateRange.endDate.diff(moment())).asDays()
        ) + 1;
      this.form_detail.Content["RenewalDueDays"] = days;
    },
    setDetailForm() {
      if (this.request_approval) {
        this.$emit("formDetails", this.form_detail);
      }
    },
    getServerItems() {},
    dateFormat(classes, date) {
      if (!classes.disabled) {
        classes.disabled =
          moment(date.getTime() + 720 * 60 * 1000) < new Date();
      }
      return classes;
    },
    updateValues(e) {
      let endDate = moment(e.endDate);
      let startDate = moment();

      let days =
        parseInt(moment.duration(endDate.diff(startDate)).asDays()) + 1;

      this.form_detail.Content["RenewalDueDate"] = endDate.format("YYYY-MM-DD");
      this.form_detail.Content["RenewalDueDays"] = days;
    }
  }
};
</script>
