<template>
  <b-row>
    <div style="width: inherit;">
      <div class="position-fixed">
        <b-card>
          <div class="mb-2">
            <strong>프로세스 (결재 순서)</strong>
          </div>
          <b-table
            responsive
            :fields="bTableFields"
            :items="bTableItems"
            :busy="bTableBusy"
            style="overflow-x:scroll;width:285px"
          >
            <template v-slot:table-busy>
              <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
              </div>
            </template>
            <template v-slot:cell(Stage)="row">
              <div v-if="row.item.Stage == 'Agree'">
                <b-badge variant="success">합의</b-badge>
              </div>
              <div v-else-if="row.item.Stage == 'Review'">
                <b-badge variant="secondary">검토</b-badge>
              </div>
              <div v-else-if="row.item.Stage == 'Approve'">
                <b-badge variant="primary">결재</b-badge>
              </div>
            </template>
            <!-- <template v-slot:cell(Action)="row">
              <b-badge class="btn btn-secondary" @click="deleteProcess(row.item.UserName)">X</b-badge>
            </template>-->
          </b-table>
          <b-button
            size="md"
            class="float-right ml-2"
            v-b-modal.modal-change-process
            @click="addProocessToModalTable"
          >
            <fa :icon="'file-upload'" />결재선 변경
          </b-button>
        </b-card>
        <b-modal id="modal-change-process" scrollable no-close-on-backdrop>
          <template #modal-header="{}">
            <!-- Emulate built in modal header close button action -->
            <h5>결재선 변경</h5>
          </template>
          <b-table
            responsive
            :fields="bTableFields_Change"
            :items="bTableItems_Change"
            style="overflow-x:scroll"
          >
            <template v-slot:cell(Stage)="row">
              <div v-if="row.item.Stage == 'Agree'">
                <b-badge variant="success">합의</b-badge>
              </div>
              <div v-else-if="row.item.Stage == 'Review'">
                <b-badge variant="secondary">검토</b-badge>
              </div>
              <div v-else-if="row.item.Stage == 'Approve'">
                <b-badge variant="primary">결재</b-badge>
              </div>
            </template>
            <template v-slot:cell(Action)="row">
              <b-badge class="btn btn-secondary" @click="deleteProcess(row.item)">X</b-badge>
            </template>
          </b-table>

          <template #modal-footer="{ cancel }">
            <b-button size="sm" @click="cancel()">취소</b-button>
            <b-button size="sm" variant="success" @click="saveProcess()">변경</b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </b-row>
</template>

<script>
export default {
  components: {},
  props: {
    service_name: {
      type: String,
      default: "approval"
    },
    formType: {
      type: String,
      default: ""
    },
    request_approval: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    request_approval: {
      handler() {
        this.setApprovalProcess();
      }
    }
  },
  data() {
    return {
      portalSystems: this.$config.portalSystems,
      bTableBusy: true,
      bTableFields: [
        {
          key: "Stage",
          label: "",
          stickyColumn: true,
          thStyle: {
            // display: 'none',
            width: "80px"
          }
        },
        {
          key: "Name",
          // label: '',
          thStyle: {
            // display: 'none',
            width: "170px"
          },
          tdClass: "text-nowrap"
        },
        {
          key: "Team",
          // label: '',
          thStyle: {
            // display: 'none',
            width: "170px"
          },
          tdClass: "text-nowrap"
        }
      ],
      bTableItems: [],
      bTableFields_Change: [
        {
          key: "Stage",
          label: "",
          stickyColumn: true,
          thStyle: {
            // display: 'none',
            width: "80px"
          }
        },
        {
          key: "Name",
          // label: '',
          thStyle: {
            // display: 'none',
            width: "170px"
          },
          tdClass: "text-nowrap"
        },
        {
          key: "Team",
          // label: '',
          thStyle: {
            // display: 'none',
            width: "170px"
          },
          tdClass: "text-nowrap"
        },
        {
          key: "Action",
          label: "",
          thStyle: {
            width: "60px"
          }
        }
      ],
      bTableItems_Change: [],
      initApprovalProcess: {},
      approvalProcess: {},
      initApprovalProcessUsers: []
    };
  },
  created() {
    if (this.formType) {
      this.getApprovalProcess(this.formType);
    } else {
      this.bTableBusy = false;
    }
  },
  methods: {
    displayBTableItems(approvalProcess) {
      this.bTableItems = [];

      if (approvalProcess) {
        let tableItems = [];
        approvalProcess.Process.forEach(process => {
          process.Members.forEach(member => {
            const portalUser = member.PortalUser;
            tableItems.push({
              Stage: process.Stage,
              UserId: portalUser._id,
              UserName: portalUser.UserName,
              DisplayName: portalUser.DisplayName,
              Name: portalUser.DisplayName + "(" + portalUser.UserName + ")",
              Team: portalUser.Team
            });
          });
        });

        this.bTableItems = tableItems;

        // Svae Init Approval Process Of Current Form Type
        this.initApprovalProcessUsers = JSON.parse(
          JSON.stringify(this.bTableItems)
        );
      }

      this.bTableBusy = false;
    },
    getApprovalProcess(formType) {
      let ApprovalProcessRes = { data: "" };
      this.initApprovalProcess = JSON.parse(
        JSON.stringify(ApprovalProcessRes.data)
      );

      // set ApprovalProcess
      this.approvalProcess = JSON.parse(
        JSON.stringify(this.initApprovalProcess)
      );
      this.$emit("approvalProcess", this.approvalProcess);

      this.displayBTableItems(this.initApprovalProcess);
    },
    // getApprovalProcess(formType) {

    //   this.$axios({
    //     method: 'get',
    //     url: `http://${this.portalSystems.active.IpAddress}/${this.service_name}/process/${formType}`
    //   }).then(ApprovalProcessRes => {
    //     this.initApprovalProcess = JSON.parse(JSON.stringify(ApprovalProcessRes.data))

    //     // set ApprovalProcess
    //     this.approvalProcess = JSON.parse(JSON.stringify(this.initApprovalProcess))
    //     this.$emit('approvalProcess', this.approvalProcess)

    //     this.displayBTableItems(this.initApprovalProcess)
    //   })
    // },
    deleteProcess(user) {
      let stageUserCount = 0;
      let userIndex = -1;

      this.bTableItems_Change.forEach((item, index) => {
        if (item["UserName"] == user["UserName"]) {
          userIndex = index;
        }
        if (item["Stage"] == user["Stage"]) {
          stageUserCount += 1;
        }
      });

      if (stageUserCount <= 1) {
        alert("각 단계별 최소인원이 필요합니다.");
      } else {
        this.bTableItems_Change.splice(userIndex, 1);
      }
    },
    saveProcess() {
      this.bTableItems = JSON.parse(JSON.stringify(this.bTableItems_Change));
      this.changeApprovalProcess(this.bTableItems);
      this.$bvModal.hide("modal-change-process");
    },
    addProocessToModalTable() {
      this.bTableItems_Change = JSON.parse(
        JSON.stringify(this.initApprovalProcessUsers)
      );
    },
    changeApprovalProcess(users) {
      let newApprovalProcess = JSON.parse(
        JSON.stringify(this.initApprovalProcess)
      );
      newApprovalProcess.Process.forEach(process => {
        let members = JSON.parse(JSON.stringify(process.Members));
        let removedUserIdList = [];
        process.Members.forEach((member, index) => {
          let isUserInclude = false;
          for (let i = 0; i < users.length; i++) {
            if (
              process.Stage == users[i].Stage &&
              member.PortalUser._id == users[i].UserId
            ) {
              isUserInclude = true;
              break;
            }
          }

          if (!isUserInclude) {
            // user가 해당 목록에 없을 경우 삭제 목록에 추가
            removedUserIdList.push(member.PortalUser._id);
          }
        });

        process.Members = process.Members.filter(member => {
          return !removedUserIdList.includes(member.PortalUser._id);
        });
        // console.log("=====", process.Stage)
        // console.log(process.Members)
      });
      this.approvalProcess = JSON.parse(JSON.stringify(newApprovalProcess));
      this.$emit("approvalProcess", this.approvalProcess);
    }
  }
};
</script>
