<template>
  <div>
    <b-card>
      <b-row>
        <b-col cols="2">
          <b-form-group class="strong" label="이름">
            <b-form-input disabled v-model="form_common.Requester['DisplayName']"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <b-form-group class="strong" label="아이디">
            <b-form-input disabled v-model="form_common.Requester['UserName']"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <b-form-group class="strong" label="팀">
            <b-form-input disabled v-model="form_common.Requester['Team']"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-form-group class="strong" label="인프라 구분">
            <b-form-input disabled v-model="form_common['InfraCategory']"></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="3">
          <b-form-group class="strong" label="자원 유형">
            <b-form-input disabled v-model="form_common['ResourceType']"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col></b-col>
        <b-col cols="8" v-if="form_type == 'AccessPolicy'">
          <b-form-group class="strong" label="정책 상신 유형">
            <b-form-radio-group
              id="radio-access-request-type"
              name="radio-access-request-type"
              v-model="form_common['RequestType']"
              v-on:change="changeAccessRequestType"
              :disabled="isDisabled"
            >
              <b-form-radio value="New" :disabled="!this.preparingData.RequestType.New">신규 정책</b-form-radio>
              <!-- <b-form-radio value="edit">Edit Account</b-form-radio> -->
              <b-form-radio
                value="Renewal"
                :disabled="!this.preparingData.RequestType.Renewal"
              >정책 갱신</b-form-radio>
              <b-form-radio value="Delete" :disabled="!this.preparingData.RequestType.Delete">정책 삭제</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </b-col>
        <b-col cols="8" v-else-if="form_type == 'Account'">
          <b-form-group class="strong" label="계정 상신 유형">
            <b-form-radio-group
              id="radio-access-request-type"
              name="radio-access-request-type"
              v-model="form_common['RequestType']"
              v-on:change="changeAccessRequestType"
              :disabled="isDisabled"
            >
              <b-form-radio value="New" :disabled="!this.preparingData.RequestType.New">신규 계정</b-form-radio>
              <!-- <b-form-radio value="edit">Edit Account</b-form-radio> -->
              <b-form-radio
                value="Renewal"
                :disabled="!this.preparingData.RequestType.Renewal"
              >계정 갱신</b-form-radio>
              <b-form-radio value="Delete" :disabled="!this.preparingData.RequestType.Delete">계정 삭제</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </b-col>
        <b-col cols="8" v-else-if="form_type == 'Credentials'">
          <b-form-group class="strong" label="Credentials Request Type">
            <b-form-radio-group
              id="radio-access-request-type"
              name="radio-access-request-type"
              v-model="form_common['RequestType']"
              v-on:change="changeAccessRequestType"
              :disabled="isDisabled"
            >
              <b-form-radio
                value="New"
                :disabled="!this.preparingData.RequestType.New"
              >New Credentials</b-form-radio>
              <!-- <b-form-radio value="edit">Edit Account</b-form-radio> -->
              <b-form-radio
                value="Renewal"
                :disabled="!this.preparingData.RequestType.Renewal"
              >Renewal Credentials</b-form-radio>
              <b-form-radio
                value="Delete"
                :disabled="!this.preparingData.RequestType.Delete"
              >Delete Credentials</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <!-- <b-col cols="6" v-if="form_type == 'AccessPolicy'">
          <b-form-group
            v-if="form_common['RequestType'] == 'new' || isDisabled"
            class="strong"
            label="Policy Name"
          >
            <b-form-input v-model="form_common['ApprovalName']" :disabled="true"></b-form-input>
          </b-form-group>
          <b-form-group v-else class="strong" label="Policy Name">
            <b-form-select
              v-model="form_common['ApprovalName']"
              :options="accessPolicyNameList"
              v-on:change="changeApprovalName"
              :disabled="isDisabled"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="6" v-else-if="form_type == 'Account'">
          <b-form-group
            v-if="form_common['RequestType'] == 'new' || isDisabled"
            class="strong"
            label="Account"
          >
            <b-form-input v-model="form_common['ApprovalName']" :disabled="true"></b-form-input>
          </b-form-group>
          <b-form-group v-else class="strong" label="Account">
            <b-form-select
              v-model="form_common['ApprovalName']"
              :options="accessPolicyNameList"
              v-on:change="changeApprovalName"
              :disabled="isDisabled"
            ></b-form-select>
          </b-form-group>
        </b-col>
         <b-col cols="6" v-else-if="form_type == 'Credentials'">
          <b-form-group
            v-if="form_common['RequestType'] == 'new' || isDisabled"
            class="strong"
            label="Policy Name"
          >
            <b-form-input v-model="form_common['ApprovalName']" :disabled="true"></b-form-input>
          </b-form-group>
          <b-form-group v-else class="strong" label="Policy Name">
            <b-form-select
              v-model="form_common['ApprovalName']"
              :options="accessPolicyNameList"
              v-on:change="changeApprovalName"
              :disabled="isDisabled"
            ></b-form-select>
          </b-form-group>
        </b-col>-->
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    form_type: {
      type: String,
      default: ""
    },
    forms: {
      type: Object,
      default: {
        Requester: {
          UserName: "",
          DisplayName: "",
          Team: ""
        },
        InfraCategory: "AWS",
        ApprovalName: "",
        ResourceType: "Account",
        RequestType: "",
        ApprovalFormType: ""
      }
    },
    preparingData: {
      type: Object,
      default: {
        RequestType: {
          New: false,
          Edit: false,
          Renewal: false,
          Delete: false
        }
      }
    }
  },
  watch: {
    forms: {
      deep: true,
      handler() {
        this.form_common = JSON.parse(JSON.stringify(this.forms));
        //this.setPolicyDetail()
      }
    },
    preparingData: {
      deep: true,
      handler() {
        // this.preparingData = th
      }
    }
  },
  data() {
    return {
      accessPolicyNameList: [
        {
          value: "PolicyAWS-DB-홍길동-20191016001",
          text: "PolicyAWS-DB-홍길동-20191016001"
        },
        {
          value: "PolicyAWS-DB-홍길동-20191016002",
          text: "PolicyAWS-DB-홍길동-20191016002"
        },
        {
          value: "PolicyAWS-DB-홍길동-20191016003",
          text: "PolicyAWS-DB-홍길동-20191016003"
        },
        {
          value: "PolicyAWS-DB-홍길동-20191016005",
          text: "PolicyAWS-DB-홍길동-20191016005"
        }
      ],

      form_common: {
        Requester: Object,
        InfraCategory: "",
        ResourceType: "",
        RequestType: "",
        ApprovalName: "",
        ApprovalFormType: ""
      }
    };
  },
  created() {
    this.form_common = JSON.parse(JSON.stringify(this.forms));
  },
  computed: {
    isDisabled() {
      return this.disable_form;
    }
  },
  methods: {
    changeAccessRequestType(event) {
      this.form_common.RequestType = event;

      let approvalFormType = this.forms.ApprovalFormType;
      // alert(approvalFormType)

      if (event == "new") {
        // POST MAKE NEW Approval Name
        this.form_common.ApprovalName = "New-Approval-Name-001";
      } else {
        // GET ALL Approval Name About User
        this.form_common.ApprovalName = "";
      }
      this.changeApprovalName();
    },
    changeApprovalName() {
      this.$emit(
        "approval_name_event",
        this.form_common.RequestType,
        this.form_common.ApprovalName
      );
    }
  }
};
</script>

<style scope>
</style>
