<template>
  <div>
    <b-card>
      <b-row>
        <b-col cols="3">
          <b-form-group class="strong" label="Renewal Due Date">
            <date-range-picker
              v-model="dateRange"
              :date-format="dateFormat"
              :single-date-picker="true"
              :ranges="false"
              @update="updateValues"
              :disabled="isDisabled"
            ></date-range-picker>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <b-form-group class="strong" label="Days">
            <b-form-input
              disabled
              aria-describedby="input-guide-days"
              v-model="form_detail.Content['RenewalDueDays']"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <hr />
      <b-row v-if="!isDisabled">
        <b-col cols="6">
          <b-form-group label="All Resources">
            <client-only>
              <JqxGrid
                ref="Grid_of_all_resource"
                :width="'100%'"
                :disabled="isDisabled"
                :selectionmode="'checkbox'"
                :source="dataAdapter_of_all_resource"
                :pageable="false"
                :columns="columns_of_all_resource"
                :editable="false"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
                @rowselect="GridOfAllResourceOnRowSelect($event)"
              />
            </client-only>
          </b-form-group>
        </b-col>
        <b-col cols="1">
          <b-container class="vertCenterContentContainer">
            <b-row class="vertCenteredContent">
              <b-button
                variant="info"
                size="md"
                class="mb-2"
                @click="addSelectedResource"
                :disabled="isDisabled"
              >
                <fa :icon="'arrow-right'" />
              </b-button>
              <b-button
                variant="info"
                size="md"
                class="mb-2"
                @click="removeSelectedResource"
                :disabled="isDisabled"
              >
                <fa :icon="'arrow-left'" />
              </b-button>
            </b-row>
          </b-container>
        </b-col>
        <b-col>
          <b-row>
            <b-col>
              <b-form-group label="Selected Resource">
                <client-only>
                  <JqxGrid
                    ref="Grid_of_selected_server"
                    :width="'100%'"
                    :selectionmode="'checkbox'"
                    :source="dataAdapter_of_selected_server"
                    :pageable="false"
                    :columns="columns_of_selected_server"
                    :editable="false"
                    :sortable="true"
                    :filterable="true"
                    :columnsresize="true"
                    @rowselect="GridOfSelectedServerOnRowSelect($event)"
                  />
                </client-only>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <hr />
      <b-row>
        <b-col>
          <b-form-group label="Resource Name">
            <b-form-input size="md" v-model="form_of_resources['Resource-Name']" disabled></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Credential ID" :disabled="isDisabled">
            <b-input-group>
              <b-form-input
                size="sm"
                class="sm mb-2"
                v-model="resourceCredential"
                placeholder="user_account"
                :disabled="isDisabled"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  variant="primary"
                  size="sm"
                  class="mb-2"
                  :disabled="resourceCredential==''"
                  @click="addResourceUser"
                >Add</b-button>
              </b-input-group-append>
            </b-input-group>
            <b-link
              @click="removeResourceUser(user)"
              v-bind:key="user"
              v-for="user in form_of_resources['Resource-Credentials']"
              :disabled="isDisabled"
            >
              <b-badge class="mr-1">{{user}}</b-badge>
            </b-link>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button size="sm" variant="danger" :disabled=" isDisabled" @click="removeResource">
            <fa :icon="'trash-alt'" />Remove
          </b-button>
          <b-button
            class="float-right ml-2"
            size="sm"
            variant="primary"
            :disabled=" isDisabled"
            @click="addResource"
          >
            <fa :icon="'plus-square'" />Add
          </b-button>
          <b-button
            size="sm"
            class="float-right mr-3"
            variant="secondary"
            :disabled=" isDisabled"
            @click="clearResourceForm"
          >
            <fa :icon="'eraser'" />Clear
          </b-button>
        </b-col>
      </b-row>

      <hr />
      <b-row>
        <b-col>
          <client-only>
            <JqxGrid
              ref="Grid_of_Resource"
              :width="'100%'"
              :source="dataAdapter_of_Resource"
              :pageable="false"
              :columns="columns_of_Resource"
              :editable="false"
              :sortable="true"
              :filterable="true"
              :columnsresize="true"
              @rowselect="GridOfResourceOnRowSelect($event)"
            />
          </client-only>
        </b-col>
      </b-row>
      <hr />
      <b-row v-if="!isDisabled">
        <b-col cols="6">
          <b-form-group class="strong" label="Requester Note">
            <b-form-textarea
              id="textarea"
              v-model="form_detail.RequesterNote"
              placeholder="Enter something..."
              rows="3"
              max-rows="3"
            ></b-form-textarea>
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

let DateRangePicker = null
let JqxGrid = null
if (process.client) {
  JqxGrid = require('jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue').default
  DateRangePicker = require('vue2-daterange-picker/src/components/DateRangePicker')
    .default
}

export default {
  components: {
    JqxGrid,
    DateRangePicker
  },
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    request_approval: {
      type: Boolean,
      default: false
    },
    preparingResources: {
      type: Object,
      default: {
        Resources: []
      }
    },
    forms: {
      type: Object,
      default: {}
    }
  },
  watch: {
    forms: {
      deep: true,
      handler() {
        this.renderForm()
      }
    },
    preparingResources: {
      deep: true,
      handler() {
        this.setResources()
      }
    },
    request_approval: {
      handler() {
        this.setDetailForm()
      }
    }
  },
  data() {
    return {
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      },

      resourceCredential: '',

      form_detail: {
        Content: {
          RenewalDueDate: new Date(),
          RenewalDueDays: '0',
          CredentialsOfResources: []
        },
        RequesterNote: ''
      },

      form_of_resources: {
        'Resource-Name': '',
        'Resource-Credentials': []
      },

      //selectedServers: [],
      selectedServers: [],
      selectedDBs: [],

      gridboundindex_of_Resource: -1,
      gridboundindex_of_all_resource: -1,
      gridboundindex_of_selected_server: -1,

      gridselectedrowindexes_of_all_resource: [],
      gridselectedrowindexes_of_selected_server: [],

      dataAdapter_of_Resource: process.client
        ? new jqx.dataAdapter(this.source_of_Resource)
        : null,
      dataAdapter_of_all_resource: process.client
        ? new jqx.dataAdapter(this.source_of_all_resource)
        : null,
      dataAdapter_of_selected_server: process.client
        ? new jqx.dataAdapter(this.source_of_selected_server)
        : null,

      columns_of_Resource: [
        { text: 'Resource Name', datafield: 'Resource-Name' },
        { text: 'Credential ID', datafield: 'CredentialID' }
      ],

      columns_of_all_resource: [
        {
          text: 'Resource Name',
          datafield: 'Resource-Name',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Resource IP',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],
      columns_of_selected_server: [
        {
          text: 'Resource Name',
          datafield: 'Resource-Name',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Resource IP',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        }
      ]
    }
  },
  beforeCreate: function() {
    if (process.client) {
      this.source_of_all_resource = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }

      this.source_of_selected_server = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }

      this.source_of_Resource = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'CredentialID', map: 'Resource-Credentials' }
        ],
        localdata: []
      }
    }
  },
  created() {
    this.renderForm()
    // if (this.disable_form) {
    //   this.renderForm()
    // }
  },
  computed: {
    isDisabled() {
      return this.disable_form
    }
  },
  methods: {
    setResources() {
      this.source_of_all_resource.localdata = this.preparingResources.Resources
      this.$refs.Grid_of_all_resource.updatebounddata('cells')
    },
    renderForm() {
      this.form_detail = JSON.parse(JSON.stringify(this.forms))
      this.source_of_Resource.localdata = this.form_detail.Content.CredentialsOfResources

      this.dateRange = {
        startDate: moment(this.form_detail.Content.RenewalDueDate),
        endDate: moment(this.form_detail.Content.RenewalDueDate)
      }
      let days =
        parseInt(
          moment.duration(this.dateRange.endDate.diff(moment())).asDays()
        ) + 1

      this.form_detail.Content['RenewalDueDays'] = days
    },
    setDetailForm() {
      if (this.request_approval) {
        this.form_detail.Content.CredentialsOfResources = JSON.parse(
          JSON.stringify(this.source_of_Resource.localdata)
        )
        this.$emit('formDetails', this.form_detail)
      }
    },
    getServerItems() {},
    dateFormat(classes, date) {
      if (!classes.disabled) {
        classes.disabled = moment(date.getTime() + 720 * 60 * 1000) < new Date()
      }
      return classes
    },
    updateValues(e) {
      let endDate = moment(e.endDate)
      let startDate = moment()

      let days = parseInt(moment.duration(endDate.diff(startDate)).asDays()) + 1

      this.form_detail.Content['RenewalDueDate'] = endDate.format('YYYY-MM-DD')
      this.form_detail.Content['RenewalDueDays'] = days
    },

    addResourceUser() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))

      this.form_of_resources['Resource-Credentials'].push(
        this.resourceCredential
      )
      this.form_of_resources['Resource-Credentials'] = uniqueArray(
        this.form_of_resources['Resource-Credentials']
      )
      this.resourceCredential = ''
    },
    removeResourceUser(obj) {
      this.form_of_resources['Resource-Credentials'].forEach(function(
        value,
        index,
        array
      ) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },
    addResource() {
      const resource = JSON.parse(JSON.stringify(this.form_of_resources))
      if (this.gridboundindex_of_Resource >= 0) {
        this.source_of_Resource.localdata[
          this.gridboundindex_of_Resource
        ] = resource
      } else {
        let selectedResources = JSON.parse(
          JSON.stringify(this.source_of_selected_server.localdata)
        )
        selectedResources.forEach(selected => {
          this.form_of_resources['Resource-Name'] = selected['Resource-Name']

          const form = JSON.parse(JSON.stringify(this.form_of_resources))
          this.source_of_Resource.localdata.push(form)
        })
      }
      this.$refs.Grid_of_Resource.updatebounddata('cells')
      this.clearResourceForm()
    },
    removeResource() {
      this.source_of_Resource.localdata.splice(
        this.gridboundindex_of_Resource,
        1
      )
      this.$refs.Grid_of_Resource.updatebounddata('cells')
      this.clearResourceForm()
    },
    clearResourceForm() {
      this.clearObj(this.form_of_resources)

      this.resourceCredential = ''
      this.gridboundindex_of_Resource = -1
      this.$refs.Grid_of_Resource.clearselection()

      this.source_of_selected_server.localdata = []
      this.$refs.Grid_of_selected_server.updatebounddata('cells')
    },
    clearObj(form) {
      ;(function func(obj) {
        Object.keys(obj).forEach(function(key, index) {
          if (Array.isArray(obj[key])) {
            obj[key] = []
          } else if (typeof obj[key] == 'object' && obj[key] != null) {
            func(obj[key])
          } else if (typeof obj[key] == 'boolean') {
            obj[key] = false
          } else {
            obj[key] = ''
          }
        })
      })(form)
    },
    GridOfResourceOnRowSelect: function(event) {
      this.gridboundindex_of_Resource = event.args.rowindex
      this.form_of_resources = JSON.parse(
        JSON.stringify(
          this.source_of_Resource.localdata[this.gridboundindex_of_Resource]
        )
      )

      // this.source_of_selected_server.localdata = this.form_of_resources.Resources
      // this.$refs.Grid_of_selected_server.updatebounddata('cells')
    },
    addSelectedResource() {
      if (this.gridselectedrowindexes_of_all_resource.length > 0) {
        //Check Duplication
        this.gridselectedrowindexes_of_all_resource.forEach(index => {
          let isResourceDuplicated = false
          this.source_of_selected_server.localdata.forEach(resource => {
            if (
              resource._id == this.source_of_all_resource.localdata[index]._id
            ) {
              isResourceDuplicated = true
            }
          })

          if (!isResourceDuplicated) {
            this.source_of_selected_server.localdata.push(
              this.source_of_all_resource.localdata[index]
            )

            // this.form_of_resources['Resource-Name'].push(
            //   this.source_of_all_resource.localdata[index].virtualTagArr.Name
            // )
          }
        })
      } else {
        // selectedResources = []
      }

      this.$refs.Grid_of_all_resource.clearselection()
      this.gridselectedrowindexes_of_all_resource = []

      this.$refs.Grid_of_selected_server.updatebounddata('cells')
      this.$refs.Grid_of_selected_server.clearselection()
      this.gridselectedrowindexes_of_selected_server = []
    },
    removeSelectedResource() {
      if (this.gridselectedrowindexes_of_selected_server.length > 0) {
        this.source_of_selected_server.localdata = this.source_of_selected_server.localdata.filter(
          (value, index) => {
            return (
              this.gridselectedrowindexes_of_selected_server.indexOf(index) ==
              -1
            )
          }
        )
      }

      this.$refs.Grid_of_all_resource.clearselection()
      this.gridselectedrowindexes_of_all_resource = []

      this.$refs.Grid_of_selected_server.updatebounddata('cells')
      this.$refs.Grid_of_selected_server.clearselection()
      this.gridselectedrowindexes_of_selected_server = []
    },
    GridOfAllResourceOnRowSelect: function(event) {
      let selectedIndex = this.$refs.Grid_of_all_resource.getselectedrowindexes()
      let selectedResources = []

      this.gridselectedrowindexes_of_all_resource =
        event.args.owner.selectedrowindexes
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_all_resource = event.args.rowindex
      }
    },
    GridOfSelectedServerOnRowSelect: function(event) {
      let selectedIndex = this.$refs.Grid_of_selected_server.getselectedrowindexes()

      this.gridselectedrowindexes_of_selected_server =
        event.args.owner.selectedrowindexes
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_selected_server = event.args.rowindex
      }
    }
  }
}
</script>

<style scope>
/* div.system-grid div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 2) {
  background-color: cadetblue;
} */

div.management-policy-db-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 3) {
  background-color: #283576;
}

.vertCenterContentContainer {
  height: 100%;
  position: relative;
}

.vertCenteredContent {
  position: relative;
  transform: translateY(100%);
}
</style>
