<template>
  <div>
    <b-card>
      <b-row>
        <b-col cols="3">
          <b-form-group class="strong" label="유효 시한">
            <date-range-picker
              v-model="dateRange"
              :date-format="dateFormat"
              :single-date-picker="true"
              :ranges="false"
              @update="updateValues"
              :disabled="isDisabled"
            ></date-range-picker>
          </b-form-group>
        </b-col>
        <b-col cols="2">
          <b-form-group class="strong" label="잔여 유효일">
            <b-form-input
              disabled
              aria-describedby="input-guide-days"
              v-model="form_detail.Content['RenewalDueDays']"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col></b-col>
        <b-col cols="4">
          <b-form-group class="strong" label="접근제어 서버">
            <b-form-input disabled v-model="form_detail.Content['AccessServerGateway']"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col></b-col>
      </b-row>

      <b-form-group label="Source IP" v-if="isDisabled">
        <b-input-group>
          <b-form-select class="sm mb-2" v-model="selectedSourceIp" :disabled="isDisabled">
            <option
              v-bind:key="item.IpAddress"
              v-for="item in form_detail.Content.SourceIp"
            >{{item.Name}}</option>
          </b-form-select>
          <b-input-group-append>
            <b-button variant="primary" class="sm mb-2" disabled @click="addSourceIp">Add</b-button>
          </b-input-group-append>
        </b-input-group>
        <b-link
          disabled
          @click="removeSourceIp(ip)"
          v-bind:key="ip.IpAddress"
          v-for="ip in form_detail.Content.SourceIp"
        >
          <b-badge class="mr-1">{{ip.Name}}</b-badge>
        </b-link>
      </b-form-group>
      <b-row v-if="!isDisabled && request_type != 'Delete'">
        <hr />
        <b-col cols="6">
          <b-form-group label="All Resources">
            <client-only>
              <JqxGrid
                ref="Grid_of_all_resource"
                class="management-resource-server-idc-grid grid cell-1"
                :width="'100%'"
                :disabled="isDisabled"
                :selectionmode="'checkbox'"
                @rowselect="GridOfAllResourceOnRowSelect($event)"
                :source="dataAdapter_of_all_resource"
                :pageable="true"
                :columns="columns_of_all_resource"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </client-only>
          </b-form-group>
        </b-col>
        <b-col cols="1">
          <b-container class="vertCenterContentContainer">
            <b-row class="vertCenteredContent">
              <b-button
                variant="info"
                size="md"
                class="mb-2"
                @click="addSelectedResource"
                :disabled="isDisabled"
              >
                <fa :icon="'arrow-right'" />
              </b-button>
              <b-button
                variant="info"
                size="md"
                class="mb-2"
                @click="removeSelectedResource"
                :disabled="isDisabled"
              >
                <fa :icon="'arrow-left'" />
              </b-button>
            </b-row>
          </b-container>
        </b-col>
        <b-col>
          <b-form-group label="Selected Resources">
            <client-only>
              <JqxGrid
                ref="Grid_of_selected_resource"
                class="management-resource-server-idc-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfSelectedResourceOnRowSelect($event)"
                :source="dataAdapter_of_selected_resource"
                :pageable="true"
                :columns="columns_of_selected_resource"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </client-only>
          </b-form-group>
        </b-col>
      </b-row>
      <hr />

      <b-row>
        <b-col>
          <b-row v-if="isDisabled">
            <b-col cols="4">
              <b-form-group label="Resource Name">
                <b-form-input
                  size="md"
                  v-model="form_of_db_access_approval['Resource-Name']"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="isDisabled">
              <b-form-group class="range-picker" label="Resource Access Time">
                <b-form-input
                  size="sm"
                  disabled
                  v-model="form_of_db_access_approval.StartTime"
                  placeholder="ex) 09:00"
                ></b-form-input>
                <b-form-input
                  size="sm"
                  disabled
                  v-model="form_of_db_access_approval.EndTime"
                  placeholder="ex) 18:00"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col v-if="isDisabled">
              <b-form-group label="Resource OTP Authentication">
                <b-form-radio
                  disabled
                  v-model="form_of_db_access_approval['OTP-Resource']"
                  inline
                  name="otp"
                  value="true"
                >YES</b-form-radio>
                <b-form-radio
                  disabled
                  v-model="form_of_db_access_approval['OTP-Resource']"
                  inline
                  name="otp"
                  value="false"
                >NO</b-form-radio>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group label="자원 접근 계정" :disabled="isDisabled">
                <b-input-group>
                  <b-form-input
                    size="sm"
                    class="sm mb-2"
                    v-model="resourceUser"
                    placeholder="user_account"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="primary"
                      size="sm"
                      class="mb-2"
                      :disabled="resourceUser==''"
                      @click="addResourceUser"
                    >Add</b-button>
                  </b-input-group-append>
                </b-input-group>
                <b-link
                  @click="removeResourceUser(user)"
                  v-bind:key="user"
                  v-for="user in form_of_db_access_approval['Resource-Users']"
                  :disabled="isDisabled"
                >
                  <b-badge class="mr-1">{{user}}</b-badge>
                </b-link>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <b-form-group label="명령어 제한 방식" :disabled="isDisabled">
                <b-form-radio
                  v-model="form_of_db_access_approval['CmdFilteringType']"
                  inline
                  name="White List"
                  value="Allow"
                >White List</b-form-radio>
                <b-form-radio
                  v-model="form_of_db_access_approval['CmdFilteringType']"
                  inline
                  name="Black List"
                  value="Deny"
                  disabled
                >Black List</b-form-radio>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                v-if="form_of_db_access_approval['CmdFilteringType'] == 'Allow'"
                label="허용 명령어 그룹"
              >
                <b-input-group>
                  <b-form-select
                    size="sm"
                    class="sm mb-2"
                    v-model="selectedCmdAccessGroup"
                    v-on:change="setAccessWhitelist"
                    :disabled="isDisabled"
                  >
                    <option
                      v-bind:key="item"
                      v-for="item in CmdWhiteListGroup"
                      :value="item"
                    >{{item.Name}}</option>
                  </b-form-select>
                </b-input-group>
                <b-link
                  @click="removeResourceCmdWhitelist(cmd)"
                  v-bind:key="cmd"
                  v-for="cmd in selectedCmdAccessGroup.CommandList"
                  :disabled="isDisabled"
                >
                  <b-badge class="mr-1">{{cmd}}</b-badge>
                </b-link>
              </b-form-group>
              <b-form-group
                v-if="form_of_db_access_approval['CmdFilteringType'] == 'Deny'"
                label="차단 명령어 그룹"
              >
                <b-input-group>
                  <b-form-select
                    size="sm"
                    class="sm mb-2"
                    v-model="selectedCmdAccessGroup"
                    v-on:change="setAccessBlacklist"
                    :disabled="isDisabled"
                  >
                    <option
                      v-bind:key="item"
                      v-for="item in CmdBlackListGroup"
                      :value="item"
                    >{{item.Name}}</option>
                  </b-form-select>
                </b-input-group>
                <b-link
                  @click="removeResourceCmdBlacklist(cmd)"
                  v-bind:key="cmd"
                  v-for="cmd in selectedCmdAccessGroup.CommandList"
                  :disabled="isDisabled"
                >
                  <b-badge class="mr-1">{{cmd}}</b-badge>
                </b-link>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button size="sm" variant="danger" :disabled="isDisabled" @click="removeResource">
                <fa :icon="'trash-alt'" />삭제
              </b-button>
              <b-button
                class="float-right ml-2"
                size="sm"
                variant="primary"
                :disabled="isDisabled"
                @click="addResource_dev"
              >
                <fa :icon="'plus-square'" />추가
              </b-button>
              <b-button
                size="sm"
                class="float-right mr-3"
                variant="secondary"
                @click="clearResourceForm"
                :disabled="isDisabled"
              >
                <fa :icon="'eraser'" />선택 초기화
              </b-button>
            </b-col>
          </b-row>
          <hr />
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <no-ssr>
            <JqxGrid
              ref="Grid_of_Policy"
              :width="'100%'"
              :selectionmode="'checkbox'"
              :source="dataAdapter_of_Policy"
              :pageable="false"
              :columns="columns_of_Policy"
              :editable="false"
              :sortable="true"
              :filterable="true"
              :columnsresize="true"
              @rowselect="GridOfPolicyOnRowSelect($event)"
            />
          </no-ssr>
        </b-col>
      </b-row>
      <b-row v-if="!isDisabled">
        <b-col cols="6">
          <b-form-group class="strong" label="상신 메모">
            <b-form-textarea
              id="textarea"
              v-model="form_detail['RequesterNote']"
              placeholder="내용을 입력해주세요...."
              rows="3"
              max-rows="3"
            ></b-form-textarea>
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import moment from 'moment'

let DateRangePicker = null
let JqxGrid = null
if (process.client) {
  JqxGrid = require('jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue').default
  DateRangePicker = require('vue2-daterange-picker/src/components/DateRangePicker')
    .default
}

export default {
  components: {
    JqxGrid,
    DateRangePicker
  },
  props: {
    service_name: {
      type: String,
      default: 'approval'
    },
    disable_form: {
      type: Boolean,
      default: false
    },
    request_type: {
      type: String,
      default: ''
    },
    request_approval: {
      type: Boolean,
      default: false
    },
    preparingResources: {
      type: Object,
      default: {
        AccessDBs: []
      }
    },
    forms: {
      type: Object,
      default: {}
    }
  },
  watch: {
    forms: {
      deep: true,
      handler() {
        this.renderForm()
        this.$refs.Grid_of_Policy.updatebounddata('cells')
      }
    },
    preparingResources: {
      deep: true,
      handler() {
        this.setResources()
      }
    },
    request_approval: {
      handler() {
        this.setDetailForm()
      }
    },
    request_type: {
      handler() {}
    }
  },
  data() {
    return {
      portalSystems: this.$config.portalSystems,
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      },

      selectedSourceIp: 'All',
      selectedCmdAccessGroup: {},

      form_detail: {
        Content: {
          RenewalDueDate: new Date(),
          RenewalDueDays: '0',
          AccessServerGateway: '',
          SourceIp: [{ Name: 'All', IpAddress: 'All' }],
          ResourcePolicy: []
        },
        RequesterNote: ''
      },

      form_of_db_access_approval: {
        'Resource-Name': '',
        'Resource-IpAddress': '',
        dbPort: '',
        dbType: '',
        StartTime: 'AnyTime',
        EndTime: 'AnyTime',
        'OTP-Resource': false,
        'Resource-Users': [],
        CmdFilteringType: '',
        CmdWhitelist: [],
        CmdBlacklist: []
      },
      CmdWhiteListGroup: [],
      CmdBlackListGroup: [],
      resourceUser: '',

      gridboundindex_of_all_resource: -1,
      gridboundindex_of_selected_resource: -1,
      gridboundindex_of_Policy: -1,

      gridselectedrowindexes_of_all_resource: [],
      gridselectedrowindexes_of_selected_resource: [],
      gridselectedrowindexes_of_Policy: [],

      dataAdapter_of_all_resource: process.client
        ? new jqx.dataAdapter(this.source_of_all_resource)
        : null,

      dataAdapter_of_selected_resource: process.client
        ? new jqx.dataAdapter(this.source_of_selected_resource)
        : null,

      columns_of_all_resource: [
        {
          text: 'DB Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'IP Address',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],
      columns_of_selected_resource: [
        {
          text: 'DB Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'IP Address',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      dataAdapter_of_Policy: process.client
        ? new jqx.dataAdapter(this.source_of_Policy)
        : null,

      columns_of_Policy: [
        { text: 'Resource Name', datafield: 'Resource-Name' },
        {
          text: 'Resource IP',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Access Start Time',
          datafield: 'AccessStartTime',
          width: '110px'
        },
        { text: 'Access End Time', datafield: 'AccessEndTime', width: '110px' },
        { text: 'OTP', datafield: 'ResourceOTP', width: '40px' },
        { text: 'Access User', datafield: 'AccessUser' },
        { text: 'Command Whitelist', datafield: 'CommandWhitelist' },
        { text: 'Command Blacklist', datafield: 'CommandBlacklist' }
      ]
    }
  },
  beforeCreate: function() {
    if (process.client) {
      this.source_of_all_resource = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }
      this.source_of_selected_resource = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }

      this.source_of_Policy = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' },
          { name: 'AccessStartTime', map: 'StartTime' },
          { name: 'AccessEndTime', map: 'EndTime' },
          { name: 'ResourceOTP', map: 'OTP-Resource' },
          { name: 'AccessUser', map: 'Resource-Users' },
          { name: 'CommandWhitelist', map: 'CmdWhitelist' },
          { name: 'CommandBlacklist', map: 'CmdBlacklist' }
        ],
        localdata: []
      }
    }
  },
  created() {
    if (process.client) {
      this.getServerItems()
      if (this.disable_form) {
        this.renderForm()
      }
    }
  },
  computed: {
    isDisabled() {
      let bRet = false
      if (this.disable_form || this.request_type == 'Delete') {
        bRet = true
      }
      return bRet
    }
  },
  methods: {
    setResources() {
      this.source_of_all_resource.localdata = this.preparingResources.AccessDBs
      this.$refs.Grid_of_all_resource.updatebounddata('cells')
    },

    renderForm() {
      this.form_detail = JSON.parse(JSON.stringify(this.forms))

      if (this.form_detail.Content.RenewalDueDate == '') {
        this.form_detail.Content.RenewalDueDate = moment().add(1, 'year')
      }

      this.source_of_Policy.localdata = this.form_detail.Content.ResourcePolicy

      this.dateRange = {
        startDate: moment(this.form_detail.Content.RenewalDueDate),
        endDate: moment(this.form_detail.Content.RenewalDueDate)
      }
      let days =
        parseInt(
          moment.duration(this.dateRange.endDate.diff(moment())).asDays()
        ) + 1
      this.form_detail.Content['RenewalDueDays'] = days
    },
    setDetailForm() {
      if (this.request_approval) {
        this.form_detail.Content.ResourcePolicy = JSON.parse(
          JSON.stringify(this.source_of_Policy.localdata)
        )
        this.$emit('formDetails', this.form_detail)
      }
    },

    cellclassname: function(row, column, value, data) {
      if (data.PortalSeverity == 'critical') {
        return 'mgmt-alert-critical'
      } else if (data.PortalSeverity == 'info') {
        return 'mgmt-alert-info'
      }
    },

    getFilteringCmdLists(infra, resource) {
      return this.$axios({
        method: 'get',
        url: `http://${this.portalSystems.active.IpAddress}/${this.service_name}/filteringCmdList`,
        params: {
          InfraCategory: infra,
          ResourceCategory: resource
        }
      })
    },

    getServerItems() {
      Promise.all([this.getFilteringCmdLists('AWS', 'DB')]).then(
        function([FilteringCmdListRes]) {
          let filteringCmdLists = JSON.parse(
            JSON.stringify(FilteringCmdListRes.data)
          )
          this.CmdBlackListGroup = filteringCmdLists.filter(item => {
            return item.FilteringType == 'Deny'
          })

          this.CmdWhiteListGroup = filteringCmdLists.filter(item => {
            return item.FilteringType == 'Allow'
          })
        }.bind(this)
      )
    },
    GridOfAllResourceOnRowSelect: function(event) {
      //let selectedIndex = this.$refs.Grid_of_all_resource.getselectedrowindexes()
      this.gridselectedrowindexes_of_all_resource =
        event.args.owner.selectedrowindexes
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_all_resource = event.args.rowindex
      }
    },
    GridOfSelectedResourceOnRowSelect: function(event) {
      //let selectedIndex = this.$refs.Grid_of_all_resource.getselectedrowindexes()
      this.gridselectedrowindexes_of_selected_resource =
        event.args.owner.selectedrowindexes
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_selected_resource = event.args.rowindex
      }
    },

    GridOfPolicyOnRowSelect: function(event) {
      this.gridselectedrowindexes_of_Policy =
        event.args.owner.selectedrowindexes

      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_Policy = event.args.rowindex
        this.form_of_db_access_approval = JSON.parse(
          JSON.stringify(
            this.source_of_Policy.localdata[this.gridboundindex_of_Policy]
          )
        )
        this.setFilteringCmdList(this.form_of_db_access_approval)
      }
    },
    addSourceIp() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))
      this.form_detail.Content.SourceIp.push(this.selectedSourceIp)
      this.form_detail.Content.SourceIp = uniqueArray(
        this.form_detail.Content.SourceIp
      )
      this.selectedSourceIp = 'All'
    },
    removeSourceIp(obj) {
      // this.removeSourceIp.SourceIp.forEach(function(value, index, array) {
      //   if (value.IpAddress == obj.IpAddress) {
      //     array.splice(index, 1);
      //   }
      // });
    },
    addResourceUser() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))

      this.form_of_db_access_approval['Resource-Users'].push(this.resourceUser)
      this.form_of_db_access_approval['Resource-Users'] = uniqueArray(
        this.form_of_db_access_approval['Resource-Users']
      )
      this.resourceUser = ''
    },
    removeResourceUser(obj) {
      this.form_of_db_access_approval['Resource-Users'].forEach(function(
        value,
        index,
        array
      ) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },
    addResourceCmdWhitelist() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))

      this.form_of_db_access_approval['CmdWhitelist'].push(
        this.selectedCmdWhitelist
      )
      this.form_of_db_access_approval['CmdWhitelist'] = uniqueArray(
        this.form_of_db_access_approval['CmdWhitelist']
      )
      this.selectedCmdWhitelist = ''
    },
    removeResourceCmdWhitelist(obj) {
      this.form_of_db_access_approval['CmdWhitelist'].forEach(function(
        value,
        index,
        array
      ) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },
    removeResourceCmdBlacklist(obj) {
      this.form_of_db_access_approval['CmdBlacklist'].forEach(function(
        value,
        index,
        array
      ) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },

    addSelectedResource() {
      if (this.gridselectedrowindexes_of_all_resource.length > 0) {
        //Check Duplication
        this.gridselectedrowindexes_of_all_resource.forEach(index => {
          let isResourceDuplicated = false
          this.source_of_selected_resource.localdata.forEach(resource => {
            if (
              resource._id == this.source_of_all_resource.localdata[index]._id
            ) {
              isResourceDuplicated = true
            }
          })
          if (!isResourceDuplicated) {
            this.source_of_selected_resource.localdata.push(
              this.source_of_all_resource.localdata[index]
            )
          }
        })
      } else {
        // selectedResources = []
      }
      this.$refs.Grid_of_all_resource.clearselection()
      this.gridselectedrowindexes_of_all_resource = []

      this.$refs.Grid_of_selected_resource.updatebounddata('cells')
      this.$refs.Grid_of_selected_resource.clearselection()
      this.gridselectedrowindexes_of_selected_resource = []
    },
    removeSelectedResource() {
      if (this.gridselectedrowindexes_of_selected_resource.length > 0) {
        this.source_of_selected_resource.localdata = this.source_of_selected_resource.localdata.filter(
          (value, index) => {
            return (
              this.gridselectedrowindexes_of_selected_resource.indexOf(index) ==
              -1
            )
          }
        )
      }
      this.$refs.Grid_of_all_resource.clearselection()
      this.gridselectedrowindexes_of_all_resource = []

      this.$refs.Grid_of_selected_resource.updatebounddata('cells')
      this.$refs.Grid_of_selected_resource.clearselection()
      this.gridselectedrowindexes_of_selected_resource = []
    },

    addResource_dev() {
      const resource = JSON.parse(
        JSON.stringify(this.form_of_db_access_approval)
      )

      
      if (!this.selectedCmdAccessGroup.CommandList) {
        // Check Validation
        if (resource.CmdWhitelist == '' && resource.CmdBlacklist == '') {
          this.$bvToast.toast('Command Filtering List를 설정 해주세요', {
            title: '실패',
            variant: 'danger',
            solid: true
          })
          return
        }
      }

      if (this.gridboundindex_of_Policy >= 0) {
        this.source_of_Policy.localdata[
          this.gridboundindex_of_Policy
        ] = resource
      } else {
        let selectedResources = JSON.parse(
          JSON.stringify(this.source_of_selected_resource.localdata)
        )

        let policyResources = JSON.parse(
          JSON.stringify(this.source_of_Policy.localdata)
        )
        selectedResources.forEach(selected => {
          if (this.form_of_db_access_approval._id == '') {
            delete this.form_of_db_access_approval._id
          }

          this.form_of_db_access_approval['Resource-Name'] =
            selected['Resource-Name']

          this.form_of_db_access_approval['Resource-IpAddress'] =
            selected['Resource-IpAddress']

          this.form_of_db_access_approval['dbType'] = selected['dbType']

          this.form_of_db_access_approval['dbPort'] = selected['dbPort']

          const form = JSON.parse(
            JSON.stringify(this.form_of_db_access_approval)
          )

          //check duplication of resource
          let isResourceDuplicated = false
          let duplicatedIndex = -1
          policyResources.forEach((resource, index) => {
            if (
              resource['Resource-Name'] == selected['Resource-Name'] &&
              resource['Resource-IpAddress'] == selected['Resource-IpAddress']
            ) {
              isResourceDuplicated = true
              duplicatedIndex = index
            }
          })

          if (isResourceDuplicated) {
            this.source_of_Policy.localdata[duplicatedIndex] = form
          } else {
            this.source_of_Policy.localdata.push(form)
          }
        })
      }
      this.$refs.Grid_of_Policy.updatebounddata('cells')
      this.clearResourceForm()
    },

    addResource() {
      const resource = JSON.parse(
        JSON.stringify(this.form_of_db_access_approval)
      )

      if (this.gridboundindex_of_Policy >= 0) {
        this.source_of_Policy.localdata[
          this.gridboundindex_of_Policy
        ] = resource
      } else {
        let selectedResources = JSON.parse(
          JSON.stringify(this.source_of_selected_resource.localdata)
        )
        selectedResources.forEach(selected => {
          this.form_of_db_access_approval['Resource-Name'] =
            selected['Resource-Name']

          this.form_of_db_access_approval['Resource-IpAddress'] =
            selected['Resource-IpAddress']

          this.form_of_db_access_approval['dbType'] = selected['dbType']

          this.form_of_db_access_approval['dbPort'] = selected['dbPort']

          const form = JSON.parse(
            JSON.stringify(this.form_of_db_access_approval)
          )
          this.source_of_Policy.localdata.push(form)
        })
      }

      this.$refs.Grid_of_Policy.updatebounddata('cells')
      this.clearResourceForm()
    },
    removeResource() {
      if (this.gridselectedrowindexes_of_Policy.length > 0) {
        this.source_of_Policy.localdata = this.source_of_Policy.localdata.filter(
          (value, index) => {
            return this.gridselectedrowindexes_of_Policy.indexOf(index) == -1
          }
        )
      }

      this.gridselectedrowindexes_of_Policy = []
      this.$refs.Grid_of_Policy.updatebounddata('cells')
      this.clearResourceForm()
    },
    clearObj(form) {
      ;(function func(obj) {
        Object.keys(obj).forEach(function(key, index) {
          if (Array.isArray(obj[key])) {
            obj[key] = []
          } else if (typeof obj[key] == 'object' && obj[key] != null) {
            func(obj[key])
          } else if (typeof obj[key] == 'boolean') {
            obj[key] = false
          } else {
            obj[key] = ''
          }
        })
      })(form)
    },
    clearResourceForm() {
      this.clearObj(this.form_of_db_access_approval)

      this.form_of_db_access_approval.StartTime = 'AnyTime'
      this.form_of_db_access_approval.EndTime = 'AnyTime'
      this.form_of_db_access_approval['OTP-Resource'] = false

      // this.form_of_db_access_approval.CmdWhitelist = []
      this.selectedCmdAccessGroup = {}
      this.selectedAccount = ''
      this.gridboundindex_of_Policy = -1
      this.$refs.Grid_of_Policy.clearselection()

      this.source_of_selected_resource.localdata = []
      this.$refs.Grid_of_selected_resource.updatebounddata('cells')
    },
    setFilteringCmdList(form) {
      if (form.CmdFilteringType == 'Allow') {
        this.selectedCmdAccessGroup.CommandList = form.CmdWhitelist
      } else if (form.CmdFilteringType == 'Deny') {
        this.selectedCmdAccessGroup.CommandList = form.CmdBlacklist
      }
    },

    setAccessWhitelist(event) {
      this.form_of_db_access_approval['CmdBlacklist'] = []
      this.form_of_db_access_approval['CmdWhitelist'] = event.CommandList
    },
    setAccessBlacklist(event) {
      this.form_of_db_access_approval['CmdWhitelist'] = []
      this.form_of_db_access_approval['CmdBlacklist'] = event.CommandList
    },
    dateFormat(classes, date) {
      if (!classes.disabled) {
        classes.disabled = moment(date.getTime() + 720 * 60 * 1000) < new Date()
      }
      return classes
    },
    updateValues(e) {
      let endDate = moment(e.endDate)
      let startDate = moment()

      let days = parseInt(moment.duration(endDate.diff(startDate)).asDays()) + 1

      this.form_detail.Content['RenewalDueDate'] = endDate.format('YYYY-MM-DD')
      this.form_detail.Content['RenewalDueDays'] = days
    },
    clearResource() {
      this.source_of_Policy.localdata = []
      this.$refs.Grid_of_Policy.updatebounddata('cells')
      this.clearResourceForm()
    }
  }
}
</script>

<style scope>
/* div.system-grid div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 2) {
  background-color: cadetblue;
} */

div.management-policy-db-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 3) {
  background-color: #283576;
}

.vertCenterContentContainer {
  height: 100%;
  position: relative;
}

.vertCenteredContent {
  position: relative;
  transform: translateY(100%);
}
</style>
