<template>
  <div>
    <b-card>
      <b-row>
        <b-col cols="3">
          <b-form-group class="strong" label="유효 시한">
            <date-range-picker
              v-model="dateRange"
              :date-format="dateFormat"
              :single-date-picker="true"
              :ranges="false"
              @update="updateValues"
            ></date-range-picker>
          </b-form-group>
        </b-col>

        <b-col cols="2">
          <b-form-group class="strong" label="잔여 유효일">
            <b-form-input
              disabled
              aria-describedby="input-guide-days"
              v-model="form_detail.Content['RenewalDueDays']"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-button size="sm" variant="link" class="btn-download" :disabled="true">
            <i class="fa fa-arrow-alt-circle-down" />
          </b-button>
          <b-form-group
            label="첨부파일 #1"
            :invalid-feedback="invalidFeedback"
            :valid-feedback="validFeedback"
            :state="state"
          >
            <b-form-file
              v-model="file1"
              @change="onUploadFile1"
              placeholder="Choose a file"
              drop-placeholder="Drop file here"
            ></b-form-file>
          </b-form-group>
        </b-col>
        <b-col>
          <b-button size="sm" variant="link" class="btn-download" :disabled="true">
            <i class="fa fa-arrow-alt-circle-down" />
          </b-button>
          <b-form-group
            label="첨부파일 #2"
            :invalid-feedback="invalidFeedback"
            :valid-feedback="validFeedback"
          >
            <b-form-file
              v-model="file2"
              @change="onUploadFile2"
              :state="state"
              placeholder="Choose a file"
              drop-placeholder="Drop file here"
            ></b-form-file>
          </b-form-group>
        </b-col>
      </b-row>
      <hr />
      <div v-show="gridboundindex_of_network == -1 && !isDisabled">
        <b-row>
          <b-col>
            <b-form-group class="strong" label="네트워크 접근 방식">
              <b-form-radio-group
                id="radio-network-access-type"
                v-model="networkPoilcyForm.NetworkAccessType"
                name="radio-network-access-type"
                v-on:change="changeNetworkAccessType"
              >
                <b-form-radio value="IDC-AWS">IDC - AWS</b-form-radio>
                <b-form-radio value="AWS-AWS">AWS - AWS</b-form-radio>
                <b-form-radio value="EXT-AWS">External - AWS</b-form-radio>
                <b-form-radio value="EXT-IDC" disabled>External - IDC</b-form-radio>
                <b-form-radio value="IDC-IDC" disabled>IDC - IDC</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col v-show="this.resources_network_1['InfraCategory'] === 'AWS'">
            <awsResources
              ref="aws_resources_form_1"
              :direction_status="resources_network_1['Direction']"
              :preparingResources="preparingResources_AWS"
              @direction_event="change_directions"
              @formSelectedResources="setSelectedResources"
            />
          </b-col>
          <b-col v-show="this.resources_network_1['InfraCategory'] === 'IDC'">
            <idcResources
              ref="idc_resources_form_1"
              :direction_status="resources_network_1['Direction']"
              :preparingResources="preparingResources_IDC"
              @direction_event="change_directions"
              @formSelectedResources="setSelectedResources"
            />
          </b-col>
          <b-col v-show="this.resources_network_1['InfraCategory'] === 'EXT'">
            <internetResources
              ref="external_resources_form_1"
              :direction_status="resources_network_1['Direction']"
              :preparingResources="preparingResources_External"
              @direction_event="change_directions"
              @formSelectedResources="setSelectedResources"
            />
          </b-col>
          <b-col v-show="this.resources_network_2['InfraCategory'] === 'AWS'">
            <awsResources
              ref="aws_resources_form_2"
              :direction_status="resources_network_2['Direction']"
              :preparingResources="preparingResources_AWS"
              @direction_event="change_directions"
              @formSelectedResources="setSelectedResources"
            />
          </b-col>
          <b-col v-show="this.resources_network_2['InfraCategory'] === 'IDC'">
            <idcResources
              ref="idc_resources_form_2"
              :direction_status="resources_network_2['Direction']"
              :preparingResources="preparingResources_IDC"
              @direction_event="change_directions"
            />
          </b-col>
        </b-row>
      </div>
      <b-col
        v-show="networkPoilcyForm.NetworkAccessType != '' || this.gridboundindex_of_network != -1"
      >
        <b-row>
          <b-col>
            <b-form-group label="상세 설명">
              <b-form-textarea
                id="textarea"
                v-model="networkPoilcyForm.Description"
                :disabled="isDisabled"
                placeholder="Enter something..."
                rows="1"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
      <b-row>
        <b-col>
          <b-button size="sm" variant="danger" :disabled="isDisabled" @click="removeResource">
            <fa :icon="'trash-alt'" />삭제
          </b-button>
          <b-button
            class="float-right ml-2"
            size="sm"
            variant="primary"
            :disabled="isDisabled"
            @click="addResource"
          >
            <fa :icon="'plus-square'" />추가
          </b-button>
          <b-button
            size="sm"
            class="float-right mr-3"
            variant="secondary"
            @click="clearResourceForm"
            :disabled="isDisabled"
          >
            <fa :icon="'eraser'" />선택 초기화
          </b-button>
        </b-col>
      </b-row>
      <hr />

      <b-row style="h-75">
        <b-col>
          <no-ssr>
            <JqxGrid
              ref="Grid_of_network"
              class="approval-resource-network-grid grid cell-1"
              :width="'100%'"
              @rowselect="GridOfResourceOnRowSelect($event)"
              :source="dataAdapter_of_network"
              :columns="columns_of_network"
              :pageable="true"
              :editable="true"
              :sortable="true"
              :filterable="true"
              :columnsresize="true"
            />
          </no-ssr>
        </b-col>
      </b-row>
      <modalNetworkDetail ref="Modal_of_network" :details="networkPolicyRowData" />
      <hr />

      <b-row v-if="!isDisabled">
        <b-col cols="6">
          <b-form-group class="strong" label="상신 메모">
            <b-form-textarea
              id="textarea"
              v-model="form_detail.RequesterNote"
              placeholder="내용을 입력해주세요...."
              rows="3"
              max-rows="3"
            ></b-form-textarea>
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import awsResources from './network/awsResources'
import idcResources from './network/idcResources'
import internetResources from './network/internetResources'
import modalNetworkDetail from './network/modalNetworkDetail'

import moment from 'moment'
import XLSX from 'xlsx'

let DateRangePicker = null
let JqxGrid = null

if (process.client) {
  JqxGrid = require('jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue').default
  DateRangePicker = require('vue2-daterange-picker/src/components/DateRangePicker')
    .default
}

export default {
  components: {
    JqxGrid,
    awsResources,
    idcResources,
    internetResources,
    DateRangePicker,
    modalNetworkDetail
  },
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    preparingResources: {
      type: Object,
      default: {
        AWS: {
          Server: [],
          RDS: [],
          DB: [],
          Network: [],
          Storage: [],
          L4: [],
          ServicePort: []
        },
        IDC: {
          Server: [],
          DB: [],
          Network: [],
          Storage: [],
          ServicePort: []
        },
        External: {
          Network: [],
          ServicePort: []
        }
      }
    },
    request_approval: {
      type: Boolean,
      default: false
    },
    forms: {
      type: Object,
      default: {}
    }
  },
  watch: {
    forms: {
      deep: true,
      handler() {
        this.renderForm()
        this.$refs.Grid_of_network.updatebounddata('cells')
      }
    },
    preparingResources: {
      deep: true,
      handler() {
        this.setResources()
      }
    },
    request_approval: {
      handler() {
        this.setDetailForm()
      }
    }
  },
  data() {
    return {
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      },

      form_detail: {
        Content: {
          RenewalDueDate: new Date(),
          RenewalDueDays: '0',
          NetworkPolicies: [],
        },
        RequesterNote: ''
      },

      preparingResources_AWS: {
        Server: [],
        RDS: [],
        DB: [],
        Network: [],
        Storage: [],
        L4: [],
        ServicePort: []
      },
      preparingResources_IDC: {
        Server: [],
        DB: [],
        Network: [],
        Storage: [],
        ServicePort: []
      },
      preparingResources_External: {
        Network: [],
        ServicePort: []
      },

      dataAdapter_of_network: process.client
        ? new jqx.dataAdapter(this.source_of_network)
        : null,


      columns_of_network: [
        {
          text: 'Access Type',
          datafield: 'NetworkAccessType',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Source',
          datafield: 'Source',
          width: 200,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Service',
          datafield: 'Service',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Destination',
          datafield: 'Destination',
          width: 200,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Description',
          datafield: 'Description',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Detail',
          width: '50px',
          datafield: 'Show',
          cellsalign: 'center',
          align: 'center',
          columntype: this.columntype_network,
          cellsrenderer: () => {
            if (this.columntype_network == 'button') {
              return 'Show'
            } else {
              return ''
            }
          },
          buttonclick: row => {
            this.showModal(row)
          }
        }
      ],
      
      gridboundindex_of_network: -1,

      portalSystems: this.$config.portalSystems,
      portalUsers: [],

      resources_network_1: {
        Direction: 'Source',
        InfraCategory: '',
        ResourceType: '',
        ResourceList: []
      },
      resources_network_2: {
        Direction: 'Destination',
        InfraCategory: '',
        ResourceType: '',
        ResourceList: []
      },
      selectedService: {
        DisplayName: '',
        InfraCategory: '',
        Port: ''
      },
      networkPoilcyForm: {
        NetworkAccessType: '',
        Source: {
          InfraCategory: '',
          ResourceType: '',
          ResourceList: []
        },
        Destination: {
          InfraCategory: '',
          ResourceType: '',
          ResourceList: [],
          ServicePortList: []
        },
        Description: ''
      },

      networkPolicyRowData: {},
      serviceList: this.forms['serviceList'],
      file1: null,
      file2: null,
    }
  },
  computed: {
    isDisabled() {
      return this.disable_form
    }
  },
  beforeCreate: function() {
    if (process.client) {
      this.columntype_network = 'button'

      this.source_of_network = {
        datatype: 'array',
        datafields: [
          { name: 'NetworkAccessType', map: 'NetworkAccessType' },
          { name: 'Service', map: 'StrForm>ServicePort' },
          { name: 'Source', map: 'StrForm>Source' },
          { name: 'Destination', map: 'StrForm>Destination' },
          { name: 'Description', map: 'Description' }
        ],
        localdata: []
      }     
    }
  },
  created() {
    if (process.client) {
      if (this.disable_form) {
        this.renderForm()
      }
      this.changeNetworkAccessType(this.networkPoilcyForm.NetworkAccessType)
    }
    
  },
  methods: {
    showModal(row) {

      this.networkPolicyRowData = JSON.parse(JSON.stringify(this.source_of_network.localdata[row]))
      this.$refs.Modal_of_network.showModal()
    },
    setResources() {
      // console.log('======== Network Detail preparing Resources ========')
      // console.log(this.preparingResources)

      this.preparingResources_AWS = this.preparingResources.AWS
      this.preparingResources_IDC = this.preparingResources.IDC
      this.preparingResources_External = this.preparingResources.External

      // console.log('======== Network Detail AWS preparing Resources ========')
      // console.log(this.preparingResources_AWS)

      // console.log('======== Network Detail IDC preparing Resources ========')
      // console.log(this.preparingResources_IDC)

      // console.log('======== Network Detail EXT preparing Resources ========')
      // console.log(this.preparingResources_External)

      //this.source_of_all_resource.localdata = this.preparingResources.AccessDBs
      //this.$refs.Grid_of_all_resource.updatebounddata('cells')
    },

    renderForm() {
      this.form_detail = JSON.parse(JSON.stringify(this.forms))
      
      console.log(this.form_detail)
      this.source_of_network.localdata = this.form_detail.Content.NetworkPolicies
      //this.source_of_Resource.localdata = this.form_detail.Content.ResourcePolicy

      this.dateRange = {
        startDate: moment(this.form_detail.Content.RenewalDueDate),
        endDate: moment(this.form_detail.Content.RenewalDueDate)
      }

      let days =
        parseInt(
          moment.duration(this.dateRange.endDate.diff(moment())).asDays()
        ) + 1
      this.form_detail.Content['RenewalDueDays'] = days
    },
    setDetailForm() {
      if (this.request_approval) {
        this.form_detail.Content.NetworkPolicies = JSON.parse(JSON.stringify(this.source_of_network.localdata))
        this.$emit('formDetails', this.form_detail)
      }
    },

    onUploadFile1: function($event) {
      let files = $event.target.files
      this.form_detail.Content.File1 = files[0]
    },
    onUploadFile2: function($event) {
      let files = $event.target.files
      this.form_detail.Content.File2 = files[0]
    },

    changeNetworkAccessType: function(type) {
      if (type === 'IDC-AWS') {
        this.resources_network_1['InfraCategory'] = 'IDC'
        this.resources_network_2['InfraCategory'] = 'AWS'
      } else if (type === 'AWS-AWS') {
        this.resources_network_1['InfraCategory'] = 'AWS'
        this.resources_network_2['InfraCategory'] = 'AWS'
      } else if (type === 'IDC-IDC') {
        this.resources_network_1['InfraCategory'] = 'IDC'
        this.resources_network_2['InfraCategory'] = 'IDC'
      } else if (type === 'EXT-AWS') {
        this.resources_network_1['InfraCategory'] = 'EXT'
        this.resources_network_2['InfraCategory'] = 'AWS'
      } else if (type === 'EXT-IDC') {
        this.resources_network_1['InfraCategory'] = 'EXT'
        this.resources_network_2['InfraCategory'] = 'IDC'
      } else {
      }
    },
    change_directions() {
      if (this.resources_network_1['Direction'] == 'Source') {
        this.resources_network_1['Direction'] = 'Destination'
        this.resources_network_2['Direction'] = 'Source'
      } else {
        this.resources_network_1['Direction'] = 'Source'
        this.resources_network_2['Direction'] = 'Destination'
      }
    },
    getSelectedResources() {
      let type = this.networkPoilcyForm.NetworkAccessType
      if (type === 'IDC-AWS') {
        this.$refs.idc_resources_form_1.sendSelectedResources();
        this.$refs.aws_resources_form_2.sendSelectedResources();
      } else if (type === 'AWS-AWS') {
        this.$refs.aws_resources_form_1.sendSelectedResources();
        this.$refs.aws_resources_form_2.sendSelectedResources();
      } else if (type === 'IDC-IDC') {
      } else if (type === 'EXT-AWS') {
        this.$refs.external_resources_form_1.sendSelectedResources();
        this.$refs.aws_resources_form_2.sendSelectedResources();
      } else if (type === 'EXT-IDC') {
      } else {
      }
      
    },
    setSelectedResources(selectedResources) {
      if (selectedResources.Direction == 'Source') {
        delete selectedResources.Direction
        this.networkPoilcyForm.Source = selectedResources
      }
      else if (selectedResources.Direction == 'Destination') {
        delete selectedResources.Direction
        this.networkPoilcyForm.Destination = selectedResources
      }
      else {
        alert('There is No Direction in Child Obj')
      }

    },
    isValidSelectedResources() {
      //check Source
      if (this.networkPoilcyForm.Source.ResourceList.length <= 0 ) {
        return false
      }
      if (this.networkPoilcyForm.Destination.ResourceList.length <= 0 || this.networkPoilcyForm.Destination.ServicePortList <= 0) {
        return false
      }
      return true
    },
    addSelectedService() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))

      this.forms['selectedServiceList'].push(this.selectedService)
      this.forms['selectedServiceList'] = uniqueArray(
        this.forms['selectedServiceList']
      )

      this.selectedService = ''
    },
    removeSelectedService(obj) {
      this.forms['selectedServiceList'].forEach(function(value, index, array) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },
    dateFormat(classes, date) {
      if (!classes.disabled) {
        classes.disabled = moment(date.getTime() + 720 * 60 * 1000) < new Date()
      }
      return classes
    },
    updateValues(e) {
      let endDate = moment(e.endDate)
      let startDate = moment()

      let days = parseInt(moment.duration(endDate.diff(startDate)).asDays()) + 1

      this.form_detail.Content['RenewalDueDate'] = endDate.format('YYYY-MM-DD')
      this.form_detail.Content['RenewalDueDays'] = days
    },
    GridOfResourceOnRowSelect: function(event) {
      this.gridboundindex_of_network = event.args.rowindex
      let resourcesInfo = JSON.parse(
        JSON.stringify(
          this.source_of_network.localdata[this.gridboundindex_of_network]
        )
      )
      this.networkPoilcyForm = resourcesInfo
    },
    addResource() {
      
      if (this.gridboundindex_of_network != -1) {
        this.source_of_network.localdata[this.gridboundindex_of_network] = JSON.parse(JSON.stringify(this.networkPoilcyForm))
        this.clearResourceForm()
      }
      else {
        this.getSelectedResources()

        if (this.isValidSelectedResources()) {
          this.addStrToNetworkForm()
          this.source_of_network.localdata.push(JSON.parse(JSON.stringify(this.networkPoilcyForm)))

          console.log("=============="
          )
          console.log(this.source_of_network.localdata.Source)
          console.log(this.source_of_network.localdata.Destination)
          
          let type = this.networkPoilcyForm.NetworkAccessType
          this.clearResourceSelections(type)
          this.clearResourceForm()
        }
        else {
          alert('Resources is not Valid')
        }
      }

    },
    clearResourceForm() {

      this.$refs.Grid_of_network.updatebounddata('cells')
      this.$refs.Grid_of_network.clearselection()
      this.gridboundindex_of_network = -1
      
      this.clearObj(this.networkPoilcyForm)
      this.clearObj(this.resources_network_1)
      this.clearObj(this.resources_network_2)

    },
    removeResource() {
      if (this.gridboundindex_of_network.length != -1) {
        this.source_of_network.splice(this.gridboundindex_of_network, 1)
        this.$refs.Grid_of_network.updatebounddata('cells')
        this.clearResourceForm()
      }
    },
    clearObj(form) {
      ;(function func(obj) {
        Object.keys(obj).forEach(function(key, index) {
          if (Array.isArray(obj[key])) {
            obj[key] = []
          } else if (typeof obj[key] == 'object' && obj[key] != null) {
            func(obj[key])
          } else if (typeof obj[key] == 'boolean') {
            obj[key] = false
          } else {
            obj[key] = ''
          }
        })
      })(form)
    },

    clearResourceSelections(type) {
      if (type === 'IDC-AWS') {
        this.$refs.idc_resources_form_1.clearResourceSelection();
        this.$refs.aws_resources_form_2.clearResourceSelection();
      } else if (type === 'AWS-AWS') {
        this.$refs.aws_resources_form_1.clearResourceSelection();
        this.$refs.aws_resources_form_2.clearResourceSelection();
      } else if (type === 'IDC-IDC') {
      } else if (type === 'EXT-AWS') {
        this.$refs.external_resources_form_1.clearResourceSelection();
        this.$refs.aws_resources_form_2.clearResourceSelection();
      } else if (type === 'EXT-IDC') {
      } else {
      }
    },
    addStrToNetworkForm() {
      let strServicePortList = [] 
      this.networkPoilcyForm.Destination.ServicePortList.forEach(port => {
        let strServciePort = port.Protocol + " " +  port.Port + " (" + port.ServiceName + ")"
        strServicePortList.push(strServciePort)
      })

      this.networkPoilcyForm.StrForm = {
        Source: this.networkPoilcyForm.Source.InfraCategory + " " + this.networkPoilcyForm.Source.ResourceType + ' Resources [' + this.networkPoilcyForm.Source.ResourceList.length + ']',
        Destination: this.networkPoilcyForm.Destination.InfraCategory + " " + this.networkPoilcyForm.Destination.ResourceType + ' Resources [' + this.networkPoilcyForm.Destination.ResourceList.length + ']',
        ServicePort: strServicePortList
      }

    

    }

  }
}
</script>

<style scope>
</style>
