<template>
  <b-card>
    <div class="mb-2">
      <strong>Notes</strong>
    </div>
    <b-table responsive :fields="bNoteTableFields" :items="bNoteTableData.Notes">
      <template v-slot:cell(Process)="row">
        <div v-if="row.item.Process == 'Request'">
          <b-badge variant="warning">Request</b-badge>
        </div>
        <div v-if="row.item.Process == 'Agree'">
          <b-badge variant="success">Agree</b-badge>
        </div>
        <div v-else-if="row.item.Process == 'Review'">
          <b-badge variant="secondary">Review</b-badge>
        </div>
        <div v-else-if="row.item.Process == 'Approve'">
          <b-badge variant="primary">Approve</b-badge>
        </div>
      </template>
      <template v-slot:cell(Note)="row">
        <span v-html="nl2br(row.item.Note)"></span>
      </template>
      <template v-slot:cell(Register)="row">
        <span
          style="font-size:.8rem;display:inline-block;line-height:100%"
        >{{row.item.Register.DisplayName}}({{row.item.Register.UserName}})</span>
      </template>
      <template v-slot:cell(RegDate)="row">
        <span
          style="font-size:.8rem;display:inline-block;line-height:100%"
          v-html="moment(row.item.RegDate)"
        ></span>
      </template>
    </b-table>
    <div v-if="this.bNoteTableData.Status != 'Returned' && !isDisabled">
      <b-row>
        <b-col>
          <b-form-group>
            <b-form-textarea
              id="textarea"
              v-model="note"
              placeholder="Enter something..."
              rows="3"
              max-rows="3"
            ></b-form-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button class="float-right ml-2 mb-2" variant="success" @click="agreeRequest">
            <fa :icon="'check'" />
            {{btnAgreeString}}
          </b-button>
          <b-button
            class="float-right ml-2 mb-2"
            variant="warning"
            @click="returnRequest"
            v-show="this.bNoteTableData.vStatus != 'Approved'"
          >
            <fa :icon="'undo'" />
            {{btnReturnString}}
          </b-button>
        </b-col>
      </b-row>
    </div>
  </b-card>
</template>
<script>
import moment from "moment";

export default {
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    bNoteTableData: {
      type: Object,
      default: {
        _id: "",
        Notes: []
      }
    },
    pageStage: {
      type: String,
      default: "Request"
    }
  },
  data() {
    return {
      portalSystems: this.$config.portalSystems,
      currentStage: "Request",
      bNoteTableFields: [
        {
          key: "Process",
          label: "",
          // stickyColumn: true,
          thStyle: {
            // display: 'none',
            width: "70px"
          }
        },
        {
          key: "Note"
          // label: '',
        },
        {
          key: "Register",
          // label: '',
          thStyle: {
            // display: 'none',
            width: "120px"
          }
        },
        {
          key: "RegDate",
          label: "Date",
          thStyle: {
            // display: 'none',
            width: "80px"
          },
          tdClass: "text-nowrap"
        }
      ],
      note: ""
    };
  },
  created() {},
  computed: {
    isDisabled() {
      return this.disable_form;
    },
    btnAgreeString() {
      switch (this.pageStage) {
        case "Request":
          return "Send Comments";
          break;
        default:
          if (this.bNoteTableData.Status == this.pageStage) {
            return "Approve Request";
          } else {
            return "Send Comments";
          }
          break;
      }
    },
    btnReturnString() {
      switch (this.pageStage) {
        case "Request":
          return "Return Request";
          break;
        default:
          if (this.bNoteTableData.Status == this.pageStage) {
            return "Return Request";
          } else {
            return "Return Request";
          }
          break;
      }
    }
  },
  methods: {
    nl2br: function(string) {
      return string.replace(/(?:\r\n|\r|\n)/g, "<br />");
    },
    moment: function(date) {
      if (!date) {
        date = moment();
      } else {
        date = moment(date);
      }
      return date.format("YY-MM-DD") + "<br/>" + date.format("HH:mm:ss");
    },
    agreeRequest() {
      alert("approve");
      // let requestObject = {
      //   _id: this.bNoteTableData._id,
      //   Note: this.note,
      //   Stage: this.pageStage
      // };
      // this.$axios({
      //   method: "POST",
      //   url: `http://${
      //     this.portalSystems.active.IpAddress
      //   }/approval/${this.pageStage.toLowerCase()}`,
      //   headers: {
      //     Authorization: "Bearer " + this.$store.state._token
      //   },
      //   data: requestObject
      // }).then(res => {
      //   this.note = "";
      //   this.$emit("updateFormData", res.data);
      // });
    },
    returnRequest() {
      alert("return");
      // if (this.pageStage == 'Request') {
      //   this.note = '[회수입니다]  ' + this.note
      // }
      // else {
      //   this.note = '[반려]  ' + this.note
      // }
      // let requestObject = {
      //   _id: this.bNoteTableData._id,
      //   Note: this.note,
      //   Stage: this.pageStage
      // }
      // this.$axios({
      //   method: 'POST',
      //   url: `http://${this.portalSystems.active.IpAddress}/approval/return`,
      //   headers: {
      //     Authorization: 'Bearer ' + this.$store.state._token
      //   },
      //   data: requestObject
      // }).then(res => {
      //   this.note = ''
      //   this.$emit('updateFormData', res.data)
      // })
    }
  }
};
</script>