<template>
  <div>
    <b-card>
      <b-row>
        <b-col>
          <b-form-group label="Photo">
            <b-img :src="form_detail.Content.Photo" fluid></b-img>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Email" :disabled="isDisabled">
            <b-form-input
              type="text"
              v-model="form.Requester.Email"
              trim
              placeholder="gildong@compony.com"
            ></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <b-form-group label="Mobile" :disabled="isDisabled">
            <b-form-input
              type="text"
              v-model="form.Requester.Mobile"
              trim
              placeholder="010-1234-5678"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Generate OTP">
            <b-form-checkbox
              v-model="form.Content.GenerateOTP"
              disabled="true"
              value="true"
              unchecked-value="false"
              size="lg"
            ></b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col cols="6">
          <h5>
            <b>Access Policy</b>
          </h5>
          <b-form-group class="strong">
            <b-overlay :show="busyTeamAccessPolicy" rounded="lg" opacity="0.6">
              <template v-slot:overlay>
                <div class="d-flex align-items-center">
                  <b-spinner small type="grow" variant="secondary"></b-spinner>
                  <b-spinner type="grow" variant="dark"></b-spinner>
                  <b-spinner small type="grow" variant="secondary"></b-spinner>
                  <!-- We add an SR only text for screen readers -->
                  <span class="sr-only">Please wait...</span>
                </div>
              </template>
              <b-form-input v-model="form_of_integrated_iam['PolicyName']" disabled></b-form-input>
            </b-overlay>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-form-group label="Infra Category">
            <b-row>
              <b-col cols="2">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.InfraCategory['AWS']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >AWS</b-form-checkbox>
              </b-col>
              <b-col cols="2">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.InfraCategory['IDC']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >IDC</b-form-checkbox>
              </b-col>
              <b-col cols="2">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.InfraCategory['Hybrid']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Hybrid</b-form-checkbox>
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-form-group label="Access Privilages">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['Server']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Server</b-form-checkbox>
              </b-col>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['DB']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >DB</b-form-checkbox>
              </b-col>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['Network']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Network</b-form-checkbox>
              </b-col>
              <b-col cols="2">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['VPN']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >VPN</b-form-checkbox>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['AWS-IAM']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >AWS IAM</b-form-checkbox>
              </b-col>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['AWS-EC2Key']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >AWS EC2 Key</b-form-checkbox>
              </b-col>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['AWS-IAMS3Key']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >AWS IAM/S3 Key</b-form-checkbox>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['LotteDFS-SVN']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >LotteDFS SVN</b-form-checkbox>
              </b-col>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['LotteDFS-VDI']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >LotteDFS VDI</b-form-checkbox>
              </b-col>
              <b-col cols="3">
                <b-form-checkbox
                  v-model="form_of_integrated_iam.AccessPrivilage['LotteDFS-JIRA']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >LotteDFS JIRA</b-form-checkbox>
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-form-group label="Portal Policy">
            <b-row>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Management']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Mgmt</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Diag']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Diag</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Monitoring']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Monitor</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Audit']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Audit</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Approval']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Approval</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Admin']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Admin</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.PortalPolicy['Debug']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Debug</b-form-checkbox>
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <b-form-group label="Password Policy">
            <b-form-input v-model="form_of_integrated_iam['PolicyPassword']['Name']" disabled></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="OTP Policies">
            <b-row>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.OTPPolicy['Server']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Server</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.OTPPolicy['DB']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >DB</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.OTPPolicy['VPN']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >VPN</b-form-checkbox>
              </b-col>
              <b-col>
                <b-form-checkbox
                  v-model="form_of_integrated_iam.OTPPolicy['Portal']"
                  value="true"
                  unchecked-value="false"
                  disabled
                >Portal</b-form-checkbox>
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  components: {},
  props: {
    service_name: {
      type: String,
      default: 'approval'
    },
    disable_form: {
      type: Boolean,
      default: false
    },
    forms: {
      type: Object,
      default: {}
    }
  },
  watch: {
    forms: {
      deep: true,
      handler() {
        this.renderForm()
      }
    }
  },
  data() {
    return {
      portalSystems: this.$config.portalSystems,

      showNewPwd: false,
      btnTogglePwd: 'SHOW',

      validAccount: false,

      form_detail: {
        Content: {
          Password: '',
          GenerateOTP: false,
          Photo: '',
          AccessPolicy: ''
        },
        RequesterNote: ''
      },

      form: {
        Requester: {
          UserName: '',
          DisplayName: '',
          Team: '',
          Email: '',
          Mobile: ''
        },
        Content: {
          Password: '',
          GenerateOTP: false,
          Photo: '',
          AccessPolicy: ''
        },
        InfraCategory: 'Hybrid',
        ResourceType: 'Portal',
        RequestType: 'New',
        ApprovalFormType: 'new-register'
      },

      busyTeam: true,
      busyTeamAccessPolicy: false,
      busyAccountValidation: false,
      btnValidAccountText: 'Validation',

      portalTeams: [],
      teamAccessPolicy: [],

      formData: null,
      upFile: null,
      imageData: '',
      selectedTeam: '',
      selectedAccessPolicy: '',
      accessPolicy: '',
      policyName: '',

      form_of_integrated_iam: {
        'Resource-DisplayName': '',
        'Resource-UserName': '',
        'Resource-Team': '',
        InfraCategory: {
          AWS: false,
          IDC: false,
          Hybrid: false
        },
        'Resource-Role': '',
        AccessPrivilage: {
          Server: false,
          DB: false,
          VPN: false,
          Network: false,
          'AWS-IAM': false,
          'AWS-EC2Key': false,
          'AWS-IAMS3Key': false,
          'LotteDFS-SVN': false,
          'LotteDFS-VDI': false,
          'LotteDFS-JIRA': false
        },
        PortalPolicy: {
          Management: false,
          Diag: false,
          Monitoring: false,
          Audit: false,
          Approval: false,
          Admin: false,
          Debug: false
        },
        PolicyPassword: '',
        OTPPolicy: {
          Server: false,
          DB: false,
          VPN: false,
          Network: false
        }
      },
      btnValidAccountVariant: 'secondary'
    }
  },
  beforeCreate: function() {
    if (process.client) {
    }
  },
  created() {
    this.renderForm()
    this.getServerItems()
  },
  computed: {
    isDisabled() {
      return this.disable_form
    },
    btnValidAccountDisabled() {
      if (this.validAccount) {
        return true
      }

      if (
        this.form.Requester.UserName == '' ||
        this.form.Requester.DisplayName == ''
      ) {
        return true
      }

      return false
    }
  },
  methods: {
    renderForm() {
      this.form = JSON.parse(JSON.stringify(this.forms))
      this.form_detail = JSON.parse(JSON.stringify(this.forms))
      this.getAccessPolicy()
    },

    getServerItems() {
      this.$axios({
        method: 'get',
        url: `http://${this.portalSystems.active.IpAddress}/${this.service_name}/account/team`
      }).then(res => {
        this.portalTeams = JSON.parse(JSON.stringify(res.data))
        this.busyTeam = false
      })
    },
    getTeamAccessPolicy() {
      this.busyTeamAccessPolicy = true

      this.$axios({
        method: 'get',
        url: `http://${this.portalSystems.active.IpAddress}/${this.service_name}/policy/teamAccessPolicy`,
        params: {
          Team: this.selectedTeam
        }
      }).then(res => {
        this.teamAccessPolicy = JSON.parse(JSON.stringify(res.data))
        this.busyTeamAccessPolicy = false
      })
    },
    getAccessPolicy() {
      this.$axios({
        method: 'get',
        url: `http://${this.portalSystems.active.IpAddress}/${this.service_name}/policy/accessPolicy`
      }).then(res => {
        // this.teamAccessPolicy = JSON.parse(JSON.stringify(res.data))
        // console.log(res.data)
        // console.log(this.form_detail.Content.AccessPolicy)

        let accessPolicyList = JSON.parse(JSON.stringify(res.data))
        let selectedAccessPolicy = {}

        accessPolicyList.forEach(accessPolicy => {
          if (accessPolicy._id == this.form_detail.Content.AccessPolicy) {
            selectedAccessPolicy = accessPolicy
          }
        })

        let objAccessPolicy = {}
        objAccessPolicy.PolicyName = selectedAccessPolicy.PolicyName

        let objInfraCategory = {}
        selectedAccessPolicy.InfraCategory.forEach(infra => {
          infra = { [infra]: true }
          Object.assign(objInfraCategory, infra)
        })
        objAccessPolicy.InfraCategory = objInfraCategory

        let objAccessPrivilage = {}
        selectedAccessPolicy.AccessPrivilage.forEach(privilage => {
          privilage = { [privilage]: true }
          Object.assign(objAccessPrivilage, privilage)
        })
        objAccessPolicy.AccessPrivilage = objAccessPrivilage

        let objPortalPolicy = {}
        selectedAccessPolicy.PortalPolicy.forEach(key => {
          key = { [key]: true }
          Object.assign(objPortalPolicy, key)
        })
        objAccessPolicy.PortalPolicy = objPortalPolicy

        let objOTPPolicy = {}
        selectedAccessPolicy.OTPPolicy.forEach(key => {
          key = { [key]: true }
          Object.assign(objOTPPolicy, key)
        })
        objAccessPolicy.OTPPolicy = objOTPPolicy

        if (selectedAccessPolicy.OTPPolicy.length > 0) {
          this.form.Content.GenerateOTP = true
        } else {
          this.form.Content.GenerateOTP = false
        }

        objAccessPolicy.PolicyPassword = selectedAccessPolicy.PolicyPassword

        //console.log(objAccessPolicy)
        this.form_of_integrated_iam = objAccessPolicy
      })
    },

    changeAccessPolicy() {
      // let policy = this.accessPolicy
      let accessPolicy = this.teamAccessPolicy
        .filter(policy => {
          return policy.AccessPolicy._id == this.selectedAccessPolicy
        })
        .pop().AccessPolicy

      let objAccessPolicy = {}
      objAccessPolicy.PolicyName = accessPolicy.PolicyName

      let objInfraCategory = {}
      accessPolicy.InfraCategory.forEach(infra => {
        infra = { [infra]: true }
        Object.assign(objInfraCategory, infra)
      })
      objAccessPolicy.InfraCategory = objInfraCategory

      let objAccessPrivilage = {}
      accessPolicy.AccessPrivilage.forEach(privilage => {
        privilage = { [privilage]: true }
        Object.assign(objAccessPrivilage, privilage)
      })
      objAccessPolicy.AccessPrivilage = objAccessPrivilage

      let objPortalPolicy = {}
      accessPolicy.PortalPolicy.forEach(key => {
        key = { [key]: true }
        Object.assign(objPortalPolicy, key)
      })
      objAccessPolicy.PortalPolicy = objPortalPolicy

      let objOTPPolicy = {}
      accessPolicy.OTPPolicy.forEach(key => {
        key = { [key]: true }
        Object.assign(objOTPPolicy, key)
      })
      objAccessPolicy.OTPPolicy = objOTPPolicy

      if (accessPolicy.OTPPolicy.length > 0) {
        this.form.Content.GenerateOTP = true
      } else {
        this.form.Content.GenerateOTP = false
      }

      objAccessPolicy.PolicyPassword = accessPolicy.PolicyPasswords[0]

      this.form_of_integrated_iam = objAccessPolicy
    },
    clearObj(form) {
      ;(function func(obj) {
        Object.keys(obj).forEach(function(key, index) {
          if (Array.isArray(obj[key])) {
            obj[key] = []
          } else if (typeof obj[key] == 'object' && obj[key] != null) {
            func(obj[key])
          } else if (typeof obj[key] == 'boolean') {
            obj[key] = false
          } else {
            obj[key] = ''
          }
        })
      })(form)
    },
    onUploadPhoto: function($event) {
      let files = $event.target.files

      if (files.length) {
        if (!this.formData) {
          this.formData = new FormData()
        }
        this.formData.set('file', files[0])
      }
    }
  }
}
</script>
<style scoped>
body {
  background: #eeeeee;
}
</style>