* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #eeeeee;
  color: #111;
  font-size: 14px;
  font-family: "Muli", "Malgun Gothic", sans-serif !important;
}

.breadcrumb {
  background-color: #ffffff;
}

.navbar.bg-primary {
  background-color: #242939 !important;
}

.container-fluid {
  clear: both;
}

.navbar-dark .navbar-brand {
  font-weight: 900;
  background: linear-gradient(to left, #fbcac9, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: 0;
  border: 0;
}

.dropdown-menu {
  padding: 1em 0;
  margin: 0;
  font-size: 1em;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #242939;
}

.dropdown-item {
  color: #fff;
  opacity: 0.6;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 1;
}

h1 {
  margin: 15px;
  color: #444;
  font-size: 1.8em;
  letter-spacing: -1px;
  font-weight: 900;
  font-family: "Muli", "Noto Sans KR", sans-serif;
}

.datepicker > div,
.range-picker > div {
  display: flex;
}

.datepicker .form-control,
.range-picker .form-control {
  width: 50%;
}

.datepicker .form-control:first-child,
.range-picker .form-control:first-child {
  margin-right: 1.5em;
}

.datepicker::before,
.range-picker::before {
  content: "~";
  position: absolute;
  left: 50%;
  margin: 0.5em 0 0 -0.2em;
}

.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
  -moz-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
  -o-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
  -ms-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card .card-header:not([data-background-color]) {
  background-color: transparent;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card .card-header .card-title {
  margin-top: 10px;
}

.card-header > div {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #3d4465;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.jqx-widget-content {
  font-family: "Muli", sans-serif !important;
}

.jqx-widget-header {
  background: transparent;
}

.jqx-grid-column-header {
  color: #fff;
  background: #373d50;
  border: 0;
}

.jqx-grid-cell .jqx-button {
  background: #4b5ebe;
  color: #fff;
  border: 0;
}

.jqx-listbox-container .jqx-fill-state-hover,
.jqx-listbox-container .jqx-fill-state-pressed {
  border: 0;
  border-radius: 0;
}

.jqx-grid .jqx-grid .jqx-grid-column-header {
  background: #666;
}

.jqx-grid-content .jqx-widget-content {
  z-index: 999 !important;
}

.dropdown-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.import-excel {
  float: right;
  margin: 0 0 10px 10px;
  width: 6.6em;
  text-align: right;
}

.custom-file-label {
  color: #aaa;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 1em;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
}

::-moz-placeholder {
  font-size: 0.9em;
}

:-ms-input-placeholder {
  font-size: 0.9em;
}

:-moz-placeholder {
  font-size: 0.9em;
}

.import-excel .custom-file-label {
  color: transparent;
  border: 0;
}

.import-excel .custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Import";
  padding-right: 0.7em;
  padding-left: 2.5em;
  color: #487238;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: url(../assets/images/excel.png) no-repeat 0.5em center;
  background-size: 1.7em auto;
}

.export-excel {
  position: relative;
  float: right;
  font-size: 1em;
  padding: 0 0.7em;
  margin: 0 0 10px 10px;
  line-height: 31px;
}

.custom-file:not(.import-excel) .custom-file-input:lang(en) ~ .custom-file-label::after {
  /* content: '\f07c'; */
  /* content: url('images/folder-open-regular.svg'); */
  /* font-family: 'Font Awesome 5 Free'; */
  /* font-weight: 900; */
  display: none;
}

.jqx-widget {
  color: #444;
  font-size: 12px;
}

/*
.jqx-fill-state-normal {
  background: #f0f3ff;
  border-color: #f0f3ff;
}
*/
.jqx-button {
  padding-left: 8px;
  padding-right: 8px;
}

input[list^="revision"] {
  float: left;
  width: 13em;
}

/*
.jqx-fill-state-pressed:not(.jqx-button) {
  border-color: transparent;
  border-radius: 0;
  background: transparent;
}

.jqx-listitem-state-hover {
  border: 0;
  background: transparent;
  font-weight: bold;
}

.jqx-fill-state-focus {
  border-color: #aaa;
}

.jqx-fill-state-hover {
  border-color: transparent;
}

.jqx-grid-cell,
.jqx-grid-group-cell {
  border-right: 0;
  font-size: 12px;
}

.jqx-grid-column-header {
  font-weight: bold;
  color: #fff;
  background: #373d50;
}

.jqx-grid-empty-cell span {
  color: #bbb;
}

[role='row']:nth-child(even) .jqx-grid-cell {
  background-color: #fafafa;
}

.jqx-dropdownlist+div~div {
  display: none !important;
}

.jqx-grid-pager {
  border: 0;
}

.jqx-menu-vertical {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
*/
.ml-auto em {
  float: right;
  font-size: 0.9em;
  color: #aaa;
  font-style: normal;
  margin: 0.7em 0.7em 0 0;
}

.no-margin {
  margin: 0 !important;
}

.avatar {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #666;
  background: url(./images/avatar.png) no-repeat center;
  background-size: cover;
  border-radius: 100%;
  background-color: #fff;
}

button .svg-inline--fa {
  margin-right: 5px;
}

.btn-primary {
  background-color: rgb(75, 94, 190);
  border-color: rgb(75, 94, 190);
}

.btn-outline-primary {
  border-color: rgb(75, 94, 190);
  color: rgb(75, 94, 190);
}

.btn-primary.disabled {
  background-color: rgb(75, 94, 190);
  border-color: rgb(75, 94, 190);
}

.btn-outline-primary.disabled {
  background-color: transparent;
  border-color: rgb(75, 94, 190);
  color: rgba(75, 94, 190, 0.9);
}

.btn-outline-primary.disabled:hover {
  background-color: transparent;
}

.btn-primary:hover {
  background-color: rgba(75, 94, 190, 0.9);
  border-color: rgba(75, 94, 190, 0.9);
}

.btn-outline-primary:hover {
  background-color: rgba(75, 94, 190);
  border-color: rgba(75, 94, 190);
}

.btn-success {
  background-color: #218838;
  border-color: #1e7e34;
}

.custom-file-label::after {
  color: #4b5ebe;
  background-color: #fff;
}

.navbar-dark .navbar-brand,
.nav-item {
  margin-right: 1em;
}

.form-control:disabled,
.form-control[readonly] {
  background: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
}

select.sm {
  max-width: 10em;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.15em;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-link {
  border: 0;
}

.nav-tabs .nav-item {
  padding: 0 0.5em;
}

.nav-pills:not(.nav-fill):not(.nav-justified) .nav-link,
.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link {
  margin-right: 0.125rem;
}

.nav-pills .nav-link:not(.active),
.nav-tabs .nav-link:not(.active) {
  color: #8b888e;
}

.nav-tabs .nav-link {
  background-image: -webkit-gradient(linear, left, from(#4b5ebe), to(#ee44c3));
  background-image: linear-gradient(#4b5ebe, #ee44c3);
}

.nav-tabs .nav-link {
  background-clip: padding-box;
}

.nav-tabs .nav-link {
  border: 0 !important;
  background-color: transparent;
  background-position: bottom;
  background-size: 0 2px;
  background-repeat: no-repeat;
  border: 0px solid transparent;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.nav-pills .nav-link,
.nav-tabs .nav-link {
  display: block;
  padding: 0.75rem 0;
  line-height: 0.5;
  font-weight: 500;
  font-size: 0.8125rem;
}

.nav-tabs .nav-link.active {
  border-bottom-color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  background-size: 100% 2px;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #212529;
  font-weight: bold;
}

.card .nav-pills .nav-link,
.card .nav-tabs .nav-link {
  line-height: 1.47;
}

.card .nav-tabs .nav-link.active,
.card .nav-tabs .nav-item.show .nav-link {
  background-color: #fff;
  border-color: rgba(24, 28, 33, 0.2) rgba(24, 28, 33, 0.2) #fff;
}

.buttons {
  clear: both;
  margin: 10px 0 0 0;
  min-height: 30px;
}

.card-footer {
  background-color: transparent;
}

.navbar.fixed-top ~ div {
  padding-top: 56px;
}

.single-line {
  height: 2.39em !important;
}

.input-group label {
  width: 100%;
}

.cell-1 [role="row"] div:nth-child(1) div,
.cell-2 [role="row"] div:nth-child(2) div,
.cell-3 [role="row"] div:nth-child(3) div,
.cell-4 [role="row"] div:nth-child(4) div,
.cell-5 [role="row"] div:nth-child(5) div,
.cell-6 [role="row"] div:nth-child(6) div,
.cell-7 [role="row"] div:nth-child(7) div,
.cell-8 [role="row"] div:nth-child(8) div,
.cell-9 [role="row"] div:nth-child(9) div {
  font-weight: bold;
}

.cell-1-reset [role="row"] div:nth-child(1) div,
.cell-2-reset [role="row"] div:nth-child(2) div,
.cell-3-reset [role="row"] div:nth-child(3) div,
.cell-4-reset [role="row"] div:nth-child(4) div,
.cell-5-reset [role="row"] div:nth-child(5) div,
.cell-6-reset [role="row"] div:nth-child(6) div,
.cell-7-reset [role="row"] div:nth-child(7) div,
.cell-8-reset [role="row"] div:nth-child(8) div,
.cell-9-reset [role="row"] div:nth-child(9) div {
  font-weight: initial !important;
}

.strong {
  font-weight: bold;
}

.strong input,
.strong select {
  border-color: #888;
}

/*
.danger {
  color: red;
}

.success {
  color: green;
}
*/

.sidebar {
  position: fixed;
  left: 0;
  padding: 5px 0 0 10px;
  width: 200px;
  height: 100%;
  background: #fff;
}

.sidebar li {
  margin: 7px 0;
  font-size: 1.4em;
}

.sidebar a {
  color: inherit;
}

.sidebar a.active,
.sidebar a:hover {
  color: #4b5ebe;
  font-weight: bold;
}

.sidebar ~ .container-fluid {
  padding-left: 220px;
}

.sidebar .icon {
  float: left;
  margin-right: 12px;
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
}

.icon-hybrid {
  background: url(../assets/images/icon_hybrid.png) no-repeat center;
}

.icon-idc {
  background: url(../assets/images/icon_idc.png) no-repeat center;
}

.icon-aws {
  background: url(../assets/images/icon_aws.png) no-repeat center;
}

.icon-vmware {
  background: url(../assets/images/icon_vmware.png) no-repeat center;
}

.icon-google {
  background: url(../assets/images/icon_google.png) no-repeat center;
}

.icon-azure {
  background: url(../assets/images/icon_azure.png) no-repeat center;
}

.icon-oracle {
  background: url(../assets/images/icon_oracle.png) no-repeat center;
}

.sidebar .disabled {
  filter: grayscale(1);
  opacity: 0.7;
}

input:disabled + label,
input:disabled + label .icon {
  filter: grayscale(1);
  opacity: 0.7;
}

.row-icons {
  padding-right: 10px;
  padding-bottom: 10px;
}

.input-group-append .btn:first-child {
  border-right: 0;
}

.input-group-append .btn + .btn {
  border-left: 0;
}

.icon-only .svg-inline--fa {
  margin: 0 10px;
}

.btn-download {
  position: absolute;
  right: 6%;
  font-size: 1.3em;
  color: #3d4465;
  padding: 0;
}

/* .mgmt-alert-critical:not(.jqx-fill-state-pressed):not(.jqx-fill-state-hover) {
  color: #fff;
  background-color: #f5f5f5;
}

.mgmt-alert-info:not(.jqx-fill-state-pressed):not(.jqx-fill-state-hover) {
  color: #000;
  background-color: #edffee;
} */

.alert-critical:not(.jqx-fill-state-pressed) {
  background-color: #fac656;
}

.alert-info:not(.jqx-fill-state-pressed) {
  background-color: #8fd36a;
  /*#d1ecf1;*/
}
