<template>
  <div>
    <TheHeader />
   
    <b-container fluid class="content-top">
      <b-row>
        <b-col class="bd-sidebar border-bottom-0 col-sm-3 col-xl-2">
          <sidebar />
        </b-col>
        <b-col class="col-sm-9 col-xl-10">
          <Nuxt />
        </b-col>
      </b-row>
    </b-container>

    <TheFooter />
  </div>
</template>

<script>
import sidebar from "~/components/sidebar";

import TheHeader from "~/components/TheHeader.vue";
import TheFooter from "~/components/TheFooter.vue";

export default {
  components: {
    sidebar,
    TheHeader,
    TheFooter,
  },
};
</script>

<style scoped>
.content-top {
  padding-top: 120px;
}
@media (min-width: 1200px) {
  /* .bd-sidebar {
    flex: 0 1 320px;
  } */
}
@media (min-width: 768px) {
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    /* z-index: 1000; */
    height: calc(100vh - 7rem);
  }
}
@media (min-width: 768px) {
  .bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.bd-sidebar {
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
</style>