<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>

    <div>
      <b-table
        :striped="true"
        :bordered="true"
        :hover="true"
        :items="userTable.items"
        :fields="userTable.fields"
        head-variant="dark"
        :current-page="userTable.currentPage"
        :per-page="userTable.perPage"
        :filter="userTable.filter"
        :filter-included-fields="userTable.filterOn"
        :sort-by.sync="userTable.sortBy"
        :sort-desc.sync="userTable.sortDesc"
        :sort-direction="userTable.sortDirection"
      >
        <template v-slot:[`cell(regions)`]="row">
          {{ row.item.regions.join(", ") }}
        </template>
        <template v-slot:[`cell(connectivity)`]="row">
          <b-button variant="success" size="sm" v-if="row.item.regions.length === 2"><fa icon="check" /></b-button>
          <b-button variant="warning" size="sm" v-else><fa icon="exclamation-triangle" /></b-button>
        </template>
      </b-table>
      <div>
        <b-pagination
          v-model="userTable.currentPage"
          :total-rows="userTableRows"
          :per-page="userTable.perPage"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Admin",
          href: "#",
        },
        {
          text: "Credentials",
          href: "#",
        },
        {
          text: "Connectivity 확인",
          active: true,
        },
      ],
      optionsOfInfraType: [
        { value: "AWS", text: "AWS" },
        { value: "VMWARE-AWS", text: "VMWare Cloud on AWS" },
        { value: "VMWARE-GCP", text: "Google Cloud VMWare Engine" },
        // { value: "VMWARE-ORACLE", text: "Oracle Cloud VMWare Solution" },
        { value: "VMWARE-AZURE", text: "Azure VMWare Solution" },
        { value: "AZURE", text: "MS Azure" },
        { value: "GCP", text: "Google Cloud Platform" },
        { value: "NCP", text: "Naver Cloud Platform" },
      ],
      optionsOfAWSRegions: [
        {
          value: "ap-northeast-2",
          text: "ap-northeast-2 (Asia Pacific - Seoul)",
        },
        {
          value: "us-east-1",
          text: "us-east-1 (US East - N. Virginia)",
        },
        {
          value: "us-east-2",
          text: "us-east-2 (US East - Ohio)",
        },
        {
          value: "us-west-1",
          text: "us-west-1 (US West - N. California)",
        },
        {
          value: "us-west-2",
          text: "us-west-2 (US West - Oregon)",
        },
        {
          value: "af-south-1",
          text: "af-south-1 (Africa - Cape Town)",
        },
        {
          value: "ap-east-1",
          text: "ap-east-1 (Asia Pacific - Hong Kong)",
        },
        {
          value: "ap-south-1",
          text: "ap-south-1 (Asia Pacific - Mumbai)",
        },
        {
          value: "ap-southeast-1",
          text: "ap-southeast-1 (Asia Pacific - Singapore)",
        },
        {
          value: "ap-southeast-2",
          text: "ap-southeast-2 (Asia Pacific - Sydney)",
        },
        {
          value: "ap-northeast-1",
          text: "ap-northeast-1 (Asia Pacific - Tokyo)",
        },
        {
          value: "ca-central-1",
          text: "ca-central-1 (Canada - Central)",
        },
        {
          value: "eu-central-1",
          text: "eu-central-1 (Europe - Frankfurt)",
        },
        {
          value: "eu-west-1",
          text: "eu-west-1 (Europe - Ireland)",
        },
        {
          value: "eu-west-2",
          text: "eu-west-2 (Europe - London)",
        },
        {
          value: "eu-south-1",
          text: "eu-south-1 (Europe - Milan)",
        },
        {
          value: "eu-west-3",
          text: "eu-west-3 (Europe - Paris)",
        },
        {
          value: "eu-north-1",
          text: "eu-north-1 (Europe - Stockholm)",
        },
        {
          value: "me-south-1",
          text: "me-south-1 (Middle East - Bahrain)",
        },
        {
          value: "sa-east-1",
          text: "sa-east-1 (South America - São Paulo)",
        },
      ],
      optionsOfNCPRegions: [
        {
          value: "KR",
          text: "KR (Korea)",
        },
        {
          value: "SG",
          text: "SG (Singapore)",
        },{
          value: "JP",
          text: "JP (Japan)",
        },{
          value: "USW",
          text: "USW (US West)",
        },{
          value: "DE",
          text: "DE (Germany)",
        },{
          value: "HK",
          text: "HK (HongKong)",
        },
      ],
      userTable: {
        totalRows: 3,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15],
        sortBy: "",
        sortDesc: false,
        sortDirection: "asc",
        filter: null,
        filterOn: [],
        fields: [
          {
            key: "infraType",
            label: "InfraType",
            sortable: true,
            sortDirection: "desc",
          },
          {
            key: "infraName",
            label: "InfraName",
            sortable: true,
            sortDirection: "desc",
          },
          {
            key: "accessKey",
            label: "AccessKey",
          },
          {
            key: "regions",
            label: "Regions",
          },
          {
            key: "connectivity",
            label: "Connectivity Status",
            tdClass: 'text-center'
          },
        ],
        items: [
          {
            infraType: "AWS",
            infraName: "AWS-Ops",
            accessKey: "ABDFTGETEFGDGSVVV",
            regions: ["ap-northeast-2", "ap-northeast-1"],
          },
          {
            infraType: "AWS",
            infraName: "AWS-Dev",
            accessKey: "ABDFTBBBBBBDGVVV",
            regions: ["ap-northeast-2"],
          },
          {
            infraType: "AWS",
            infraName: "AWS-West",
            accessKey: "ABDFTECCCCDGSVVV",
            regions: ["us-west-1", "us-west-2"],
          },
        ],
      },
    };
  },
  computed: {
    userTableRows() {
      return this.userTable.items.length;
    },
  },
  methods: {
    
  },
};
</script>