<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>
    <h1>Stats</h1>
    <b-container fluid>
      <!-- <b-tabs content-class="mt-3">
      <b-tab title="Stats">-->

      <b-card v-if="isDataPrepared">
        <b-card-header>
          <b-col>
            <b-form inline>
              <h4>금일 총 결재 건 수</h4>
              <b-button
                :pressed="true"
                variant="outline-dark"
                size="sm"
                class="ml-2"
              >Last synced: {{this.ResourceNoComment && this.ResourceNoComment.length > 0 && this.ResourceNoComment[0].UpdateDate ? this.moment(this.ResourceNoComment[0].UpdateDate).format('YYYY-MM-DD HH:mm:ss') : 'Never'}}</b-button>
            </b-form>
          </b-col>
        </b-card-header>
        <b-card-body>
          <b-row>
            <b-col>
              <client-only>
                <JqxChart
                  style="width: 100%; height: 250px; float: left"
                  :title="''"
                  :description="charts[0].title"
                  :showLegend="true"
                  :enableAnimations="false"
                  :padding="padding"
                  :titlePadding="titlePadding"
                  :source="charts[0].dataSource"
                  :showBorderLine="true"
                  :seriesGroups="seriesGroups2"
                  :colorScheme="'scheme03'"
                ></JqxChart>
              </client-only>
            </b-col>
          </b-row>
          <hr />
          <b-row>
            <b-col cols="2">
              <DonutSimpleChart
                :chart_data="event_server_access"
                :chart_title="'Server Access'"
                :chart_description="'서버 접근제어 이벤트 수'"
              ></DonutSimpleChart>
            </b-col>
            <b-col cols="2">
              <DonutSimpleChart
                :chart_data="event_db_access"
                :chart_title="'DB Access'"
                :chart_description="'DB 접근제어 이벤트 수'"
              ></DonutSimpleChart>
            </b-col>
            <b-col cols="2">
              <DonutSimpleChart
                :chart_data="event_vpn_access"
                :chart_title="'VPN Access'"
                :chart_description="'VPN 접근 이벤트 수'"
              ></DonutSimpleChart>
            </b-col>
            <b-col cols="2">
              <DonutSimpleChart
                :chart_data="event_aws_iam_access"
                :chart_title="'AWS-IAM Access'"
                :chart_description="'AWS IAM 접근 이벤트 수'"
              ></DonutSimpleChart>
            </b-col>
            <b-col cols="2">
              <DonutSimpleChart
                :chart_data="event_portal_access"
                :chart_title="'Portal Access'"
                :chart_description="'Portal 접근 이벤트 수'"
              ></DonutSimpleChart>
            </b-col>
          </b-row>
        </b-card-body>
      </b-card>

      <!-- </b-tab>
        <b-tab title="Trends">
          <b-row>
            <b-col></b-col>
          </b-row>
        </b-tab>
        <b-tab title="Symptom"></b-tab>
      </b-tabs>-->
    </b-container>
  </div>
</template>
<script>
import PieChart from "~~/components/chart/PieChart_jqx";
import LineChart from "~~/components/chart/LineChart_jqx";
import DonutSimpleChart from "~~/components/chart/DonutSimpleChart_jqx";
import moment from "moment";
let JqxChart = null;
if (process.client) {
  JqxChart = require("jqwidgets-scripts/jqwidgets-vue/vue_jqxchart.vue")
    .default;
}

export default {
  components: {
    LineChart,
    PieChart,
    DonutSimpleChart,
    JqxChart
  },
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Dashboard",
          href: "#"
        },
        {
          text: "Stats",
          active: true
        }
      ],
      moment: moment,

      isDataPrepared: false,
      pieData: null,
      series_groups: null,
      policy_securitygroup_inbound: [],

      searchForm: {
        StartDate: moment().startOf("day"),
        EndDate: moment().endOf("day")
      },

      LastUpdatedStatLogEvent: "",

      ResourceNoComment: [],
      AccountNotWorking: [],
      PolicyManagement: [],
      StatEventLogs: [],

      //Pie
      charts: [
        {
          title: "Event Types",
          label: "Stat",
          dataSource: this.dataStatCounter
        }
      ],
      padding: { left: 5, top: 5, right: 5, bottom: 5 },
      titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
      seriesGroups2: [
        {
          type: "pie",
          showLegend: true,
          enableSeriesToggle: true,
          series: [
            {
              dataField: "Share",
              displayText: "EventType",
              showLabels: true,
              labelRadius: 160,
              labelLinesEnabled: true,
              labelLinesAngles: true,
              labelsAutoRotate: false,
              initialAngle: 0,
              radius: 125,
              minAngle: 0,
              maxAngle: 180,
              centerOffset: 0,
              offsetY: 170,
              formatFunction: (value, itemIdx, serieIndex, groupIndex) => {
                if (isNaN(value)) return value;
                return value + "%";
              }
            }
          ]
        }
      ]
    };
  },
  beforeCreate() {
    this.dataStatCounter = [
      { EventType: "Server", Share: 35.6 },
      { EventType: "DB", Share: 34.6 },
      { EventType: "VPN", Share: 15.4 },
      { EventType: "AWS-IAM", Share: 10.1 },
      { EventType: "Portal", Share: 4.3 }
    ];
  },
  created() {
    // this.getServerItems();
    this.initChart();
    this.getServerItems_dev();
  },

  mounted() {
    // this.initChart();
    // this.getServerItems();
  },

  methods: {
    getStatEventLogs() {
      return this.$axios({
        method: "get",
        url: `http://${this.portalSystems.active.IpAddress}/dashboard/stat/log_event`,
        params: JSON.parse(JSON.stringify(this.searchForm))
      });
    },

    getServerItems_dev() {
      // let statEventLogs_server = [{ Count: 10 }];

      // if (
      //   Array.isArray(statEventLogs_server) &&
      //   statEventLogs_server.length > 0
      // ) {
      //   server_count = statEventLogs_server[0].Count;
      //   this.event_server_access[0].value = server_count;
      // }

      // let statEventLogs_db = [{ Count: 10 }];

      // if (Array.isArray(statEventLogs_db) && statEventLogs_db.length > 0) {
      //   db_count = statEventLogs_db[0].Count;
      // }

      // let statEventLogs_vpn = [{ Count: 10 }];

      // if (Array.isArray(statEventLogs_vpn) && statEventLogs_vpn.length > 0) {
      //   vpn_count = statEventLogs_vpn[0].Count;
      //   this.event_vpn_access[0].value = vpn_count;
      // }

      // let statEventLogs_aws_iam = [{ Count: 10 }];

      // if (
      //   Array.isArray(statEventLogs_aws_iam) &&
      //   statEventLogs_aws_iam.length > 0
      // ) {
      //   aws_iam_count = statEventLogs_aws_iam[0].Count;
      //   this.event_aws_iam_access[0].value = aws_iam_count;
      // }

      // let statEventLogs_portal = this.StatEventLogs.filter(item => {
      //   return item.Resource == "Portal";
      // });

      // if (
      //   Array.isArray(statEventLogs_portal) &&
      //   statEventLogs_portal.length > 0
      // ) {
      //   portal_count = statEventLogs_portal[0].Count;
      //   this.event_portal_access[0].value = portal_count;
      // }

      this.event_server_access[0].value = 10;
      this.event_db_access[0].value = 20;
      this.event_vpn_access[0].value = 30;
      this.event_aws_iam_access[0].value = 40;
      this.event_portal_access[0].value = 50;
      let total_count,
        server_count,
        db_count,
        vpn_count,
        aws_iam_count,
        portal_count = 10;

      // server_count = 10;
      // db_count = 20;
      // vpn_count = 30;
      // aws_iam_count = 40;
      // portal_count = 50;

      total_count =
        server_count + db_count + vpn_count + aws_iam_count + portal_count;

      // this.dataStatCounter[0].Share = (
      //   (server_count / total_count) *
      //   100
      // ).toFixed(2); //(14/281 * 100).toFixed(2)
      // this.dataStatCounter[1].Share = ((db_count / total_count) * 100).toFixed(
      //   2
      // );
      // this.dataStatCounter[2].Share = ((vpn_count / total_count) * 100).toFixed(
      //   2
      // );
      // this.dataStatCounter[3].Share = (
      //   (aws_iam_count / total_count) *
      //   100
      // ).toFixed(2);
      // this.dataStatCounter[4].Share = (
      //   (portal_count / total_count) *
      //   100
      // ).toFixed(2);

      console.log(this.dataStatCounter);

      this.isDataPrepared = true;
    },

    getServerItems() {
      Promise.all([this.getStatEventLogs()]).then(
        function([StatEventLogsRes]) {
          this.StatEventLogs = JSON.parse(
            JSON.stringify(StatEventLogsRes.data)
          );
          console.log(this.StatEventLogs);

          let total_count,
            server_count,
            db_count,
            vpn_count,
            aws_iam_count,
            portal_count = 0;

          let statEventLogs_server = this.StatEventLogs.filter(item => {
            return (
              item.Resource == "SERVER" &&
              (item.Resource == "AWS" || item.InfraCategory == "IDC")
            );
          });

          if (
            Array.isArray(statEventLogs_server) &&
            statEventLogs_server.length > 0
          ) {
            server_count = statEventLogs_server[0].Count;
            this.event_server_access[0].value = server_count;
          }

          let statEventLogs_db = this.StatEventLogs.filter(item => {
            return (
              item.Resource == "DB" &&
              (item.Resource == "AWS" || item.InfraCategory == "IDC")
            );
          });

          if (Array.isArray(statEventLogs_db) && statEventLogs_db.length > 0) {
            db_count = statEventLogs_db[0].Count;
            this.event_db_access[0].value = db_count;
          }

          let statEventLogs_vpn = this.StatEventLogs.filter(item => {
            return item.Resource == "VPN";
          });

          if (
            Array.isArray(statEventLogs_vpn) &&
            statEventLogs_vpn.length > 0
          ) {
            vpn_count = statEventLogs_vpn[0].Count;
            this.event_vpn_access[0].value = vpn_count;
          }

          let statEventLogs_aws_iam = this.StatEventLogs.filter(item => {
            return item.Resource == "AWS-IAM";
          });

          if (
            Array.isArray(statEventLogs_aws_iam) &&
            statEventLogs_aws_iam.length > 0
          ) {
            aws_iam_count = statEventLogs_aws_iam[0].Count;
            this.event_aws_iam_access[0].value = aws_iam_count;
          }

          let statEventLogs_portal = this.StatEventLogs.filter(item => {
            return item.Resource == "Portal";
          });

          if (
            Array.isArray(statEventLogs_portal) &&
            statEventLogs_portal.length > 0
          ) {
            portal_count = statEventLogs_portal[0].Count;
            this.event_portal_access[0].value = portal_count;
          }

          total_count =
            server_count + db_count + vpn_count + aws_iam_count + portal_count;

          this.dataStatCounter[0].Share = (
            (server_count / total_count) *
            100
          ).toFixed(2); //(14/281 * 100).toFixed(2)
          this.dataStatCounter[1].Share = (
            (db_count / total_count) *
            100
          ).toFixed(2);
          this.dataStatCounter[2].Share = (
            (vpn_count / total_count) *
            100
          ).toFixed(2);
          this.dataStatCounter[3].Share = (
            (aws_iam_count / total_count) *
            100
          ).toFixed(2);
          this.dataStatCounter[4].Share = (
            (portal_count / total_count) *
            100
          ).toFixed(2);

          console.log(this.dataStatCounter);

          this.isDataPrepared = true;
        }.bind(this)
      );
    },

    preparingCharts() {},

    initChart() {
      this.event_server_access = [{ text: "이벤트 수", value: 0 }];

      this.event_db_access = [{ text: "이벤트 수", value: 0 }];

      this.event_vpn_access = [{ text: "이벤트 수", value: 0 }];

      this.event_aws_iam_access = [{ text: "이벤트 수", value: 0 }];

      this.event_portal_access = [{ text: "이벤트 수", value: 0 }];
    },
    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    }
  }
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 50px auto;
}
</style>
