<template>
  <div>
    <b-container fluid>
      <h1>AWS</h1>
      <b-card class="strong" label="AWS Resources">
        <b-row>
          <b-col>
            <b-form-group label="자원 유형">
              <b-form-select v-model="selectedResourceType" v-on:change="changeResourceType">
                <option
                  v-bind:key="item"
                  v-for="item in resourceTypeList"
                  :value="item"
                >{{item.Type}}</option>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-radio-group v-model="direction_status" v-on:change="changeNetworkDirection">
              <b-form-radio value="Source">출발지</b-form-radio>
              <b-form-radio value="Destination">목적지</b-form-radio>
            </b-form-radio-group>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='Server'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_server"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfServerOnRowSelect($event)"
                :source="dataAdapter_of_server"
                :columns="columns_of_server"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='RDS'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_rds"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfRDSOnRowSelect($event)"
                :source="dataAdapter_of_rds"
                :columns="columns_of_rds"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='DB'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_db"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfDBOnRowSelect($event)"
                :source="dataAdapter_of_db"
                :columns="columns_of_db"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='Network'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_network"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfNetworkOnRowSelect($event)"
                :source="dataAdapter_of_network"
                :columns="columns_of_network"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='L4'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_l4"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfL4OnRowSelect($event)"
                :source="dataAdapter_of_l4"
                :columns="columns_of_l4"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='Storage'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_storage"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfStorageOnRowSelect($event)"
                :source="dataAdapter_of_storage"
                :columns="columns_of_storage"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>

        <div v-if="selectedResourceType.Type != '' && direction_status =='Destination'">
          <hr />
          <b-row>
            <b-col cols="8">
              <b-form-group class="strong" label="서비스 포트">
                <b-input-group>
                  <b-form-select
                    size="sm"
                    class="sm mb-2"
                    v-model="selectedServicePort"
                    :disabled="isDisabled"
                  >
                    <option
                      v-bind:key="item"
                      v-for="item in preparingResources.ServicePort"
                      :value="item"
                    >{{item.Protocol}} {{item.Port}} ({{item.ServiceName}})</option>
                  </b-form-select>
                  <b-input-group-append>
                    <b-button
                      variant="primary"
                      size="sm"
                      class="mb-2"
                      :disabled="selectedServicePort==''"
                      @click="addSelectedServicePort"
                    >Add</b-button>
                  </b-input-group-append>
                </b-input-group>
                <b-link
                  @click="removeSelectedServicePort(item)"
                  v-bind:key="item"
                  v-for="item in servicePortList"
                  :disabled="isDisabled"
                >
                  <b-badge class="mr-1">{{item.Protocol}} {{item.Port}} ({{item.ServiceName}})</b-badge>
                </b-link>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'

let JqxGrid = null
if (process.client) {
  JqxGrid = require('jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue').default
}

export default {
  components: {
    JqxGrid
  },
  props: {
    direction_status: String,
    preparingResources: {
      type: Object,
      default: {
        Server: [],
        DB: [],
        RDS: [],
        Network: [],
        L4: [],
        Storage: [],
        ServicePort: []
      }
    }
  },
  watch: {
    preparingResources: {
      deep: true,
      handler() {
        this.setResources()
      }
    }
  },
  data() {
    return {
      portalSystems: this.$config.portalSystems,

      selectedResourceType: {
        Type: ''
      },
      resourceTypeList: [
        { Type: 'Server' },
        { Type: 'RDS' },
        { Type: 'DB' },
        { Type: 'Network' },
        { Type: 'L4' },
        { Type: 'Storage' }
      ],

      selectedServicePort: '',
      servicePortList: [],

      dataAdapter_of_server: process.client
        ? new jqx.dataAdapter(this.source_of_server)
        : null,

      dataAdapter_of_rds: process.client
        ? new jqx.dataAdapter(this.source_of_rds)
        : null,

      dataAdapter_of_db: process.client
        ? new jqx.dataAdapter(this.source_of_db)
        : null,

      dataAdapter_of_network: process.client
        ? new jqx.dataAdapter(this.source_of_network)
        : null,

      dataAdapter_of_l4: process.client
        ? new jqx.dataAdapter(this.source_of_l4)
        : null,

      dataAdapter_of_storage: process.client
        ? new jqx.dataAdapter(this.source_of_storage)
        : null,

      columns_of_server: [
        {
          text: 'VPC ID',
          datafield: 'VpcId',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Name',
          datafield: 'Name',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Private IP',
          datafield: 'PrivateIpAddress',
          editable: false,
          cellclassname: this.cellclassname
        }
        // {
        //   text: 'Private DNS Name',
        //   datafield: 'PrivateDnsName',
        //   editable: false,
        //   cellclassname: this.cellclassname
        // }
      ],
      columns_of_rds: [
        {
          text: 'VPC ID',
          width: 100,
          datafield: 'VpcId',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'EndPoint',
          datafield: 'EndPoint',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'DBInstanceIdentifier',
          datafield: 'DBInstanceIdentifier',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'DBName',
          datafield: 'DBName',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'DBInstanceClass',
          datafield: 'DBInstanceClass',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],
      columns_of_db: [
        {
          text: 'DB Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'IP Address',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname,
          width: '100px'
        }
      ],
      columns_of_network: [
        {
          text: 'VPC ID',
          datafield: 'VpcId',
          editable: false,
          cellclassname: this.cellclassname,
          width: 100
        },
        {
          text: 'Subnet Name',
          datafield: 'SubnetName',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'IPv4 CIDR',
          datafield: 'IPv4CIDR',
          editable: false,
          cellclassname: this.cellclassname,
          width: '135px'
        }
      ],
      columns_of_l4: [
        {
          text: 'VPC ID',
          datafield: 'VpcId',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Name',
          datafield: 'LoadBalancerName',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'DNS Name',
          datafield: 'DNSName',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],
      columns_of_storage: [
        {
          text: 'Account',
          datafield: 'Account',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'BucketName',
          datafield: 'Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'CreationDate',
          datafield: 'CreationDate',
          width: 230,
          cellsformat: 'yyyy-MM-dd (ddd) HH:mm:ss zzz',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      gridboundindex_of_selected_resource: -1,
      gridboundindex_of_server: -1,
      gridboundindex_of_rds: -1,
      gridboundindex_of_db: -1,
      gridboundindex_of_network: -1,
      gridboundindex_of_l4: -1,
      gridboundindex_of_storage: -1,
      gridselectedrowindexes_of_selected_resource: [],

    }
  },
  beforeCreate: function() {
    if (process.client) {
      this.source_of_server = {
        datatype: 'array',
        datafields: [
          { name: 'Name', map: 'virtualTagArr>Name' },
          { name: 'VpcId', map: 'VpcId' },
          { name: 'PrivateIpAddress', map: 'PrivateIpAddress' },
          { name: 'PrivateDnsName', map: 'PrivateDnsName' }
        ],
        localdata: []
      }
      this.source_of_rds = {
        datatype: 'array',
        datafields: [
          { name: 'VpcId', map: 'DBSubnetGroup>VpcId' },
          { name: 'EndPoint', map: 'Endpoint>Address' },
          { name: 'DBInstanceIdentifier', map: 'DBInstanceIdentifier' },
          { name: 'DBName', map: 'DBName' },
          { name: 'DBInstanceClass', map: 'DBInstanceClass' }
        ],
        localdata: []
      }
      this.source_of_db = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }
      this.source_of_network = {
        datatype: 'array',
        datafields: [
          { name: 'VpcId', map: 'VpcId' },
          { name: 'SubnetName', map: 'virtualTagArr>Name' },
          { name: 'IPv4CIDR', map: 'CidrBlock' }
        ],
        localdata: []
      }
      this.source_of_l4 = {
        datatype: 'array',
        datafields: [
          { name: 'LoadBalancerName', map: 'LoadBalancerName' },
          { name: 'DNSName', map: 'DNSName' },
          { name: 'State', map: 'State>Code' },
          { name: 'VpcId', map: 'VpcId' }
        ],
        localdata: []
      }
      this.source_of_storage = {
        datatype: 'array',
        datafields: [
          { name: 'Account', map: 'PortalInfo>Account', type: 'string' },
          { name: 'Name', map: 'Name' },
          { name: 'CreationDate', map: 'CreationDate', type: 'date' }
        ],
        localdata: []
      }
    }
  },
  created() {
    if (process.client) {
      // this.getServerItems()
    }
  },
  methods: {
    setResources() {
      // console.log(
      //   '======== Network Detail Child AWS preparing Resources ========'
      // )
      // console.log(this.preparingResources)
      this.source_of_server.localdata = this.preparingResources.Server
      this.source_of_rds.localdata = this.preparingResources.RDS
      this.source_of_db.localdata = this.preparingResources.DB
      this.source_of_network.localdata = this.preparingResources.Network
      this.source_of_l4.localdata = this.preparingResources.L4
      this.source_of_storage.localdata = this.preparingResources.Storage

      this.$refs.Grid_of_server.updatebounddata('cells')
      this.$refs.Grid_of_rds.updatebounddata('cells')
      this.$refs.Grid_of_db.updatebounddata('cells')
      this.$refs.Grid_of_network.updatebounddata('cells')
      this.$refs.Grid_of_l4.updatebounddata('cells')
      this.$refs.Grid_of_storage.updatebounddata('cells')
    },

    cellclassname: function(row, column, value, data) {
      if (data.PortalSeverity == 'critical') {
        return 'mgmt-alert-critical'
      } else if (data.PortalSeverity == 'info') {
        return 'mgmt-alert-info'
      }
    },
    getServerItems() {},

    GridOfServerOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_server = event.args.rowindex
      }

    },
    GridOfRDSOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_rds = event.args.rowindex
      }

    },
    GridOfDBOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_db = event.args.rowindex
      }

    },
    GridOfNetworkOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_network = event.args.rowindex
      }

    },
    GridOfL4OnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_l4 = event.args.rowindex
      }

    },
    GridOfStorageOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_storage = event.args.rowindex
      }
      
    },

    changeResourceType(event) {
      //alert(JSON.stringify(event))
    },
    changeNetworkDirection(event) {
      this.servicePortList = []
      this.$emit('direction_event', event)
    },
    sendSelectedResources() {
      let selectedResources = {
        Direction: '',
        InfraCategory: '',
        ResourceType: '',
        ResourceList: []
      }

      selectedResources.Direction = this.direction_status
      if (selectedResources.Direction == 'Destination') {
        selectedResources.ServicePortList = this.servicePortList      
      }
      selectedResources.ResourceType = this.selectedResourceType.Type
      selectedResources.InfraCategory = 'AWS'

      let selectedResourceRowIndexes = []

      if (selectedResources.ResourceType == 'Server') {
        selectedResourceRowIndexes = this.$refs.Grid_of_server.getselectedrowindexes()
        if (selectedResourceRowIndexes.length > 0) {
          selectedResourceRowIndexes.forEach( index => {
            selectedResources.ResourceList.push(this.source_of_server.localdata[index])
          })
        }
      }
      else if (selectedResources.ResourceType == 'RDS') {
        selectedResourceRowIndexes = this.$refs.Grid_of_rds.getselectedrowindexes()
        if (selectedResourceRowIndexes.length > 0) {
          selectedResourceRowIndexes.forEach( index => {
            selectedResources.ResourceList.push(this.source_of_rds.localdata[index])
          })
        }

      }
      else if (selectedResources.ResourceType == 'DB') {
        selectedResourceRowIndexes = this.$refs.Grid_of_db.getselectedrowindexes()
        if (selectedResourceRowIndexes.length > 0) {
          selectedResourceRowIndexes.forEach( index => {
            selectedResources.ResourceList.push(this.source_of_db.localdata[index])
          })
        }

      }
      else if (selectedResources.ResourceType == 'Network') {
        selectedResourceRowIndexes = this.$refs.Grid_of_network.getselectedrowindexes()
        if (selectedResourceRowIndexes.length > 0) {
          selectedResourceRowIndexes.forEach( index => {
            selectedResources.ResourceList.push(this.source_of_network.localdata[index])
          })
        }

      }
      else if (selectedResources.ResourceType == 'L4') {
        selectedResourceRowIndexes = this.$refs.Grid_of_l4.getselectedrowindexes()
        if (selectedResourceRowIndexes.length > 0) {
          selectedResourceRowIndexes.forEach( index => {
            selectedResources.ResourceList.push(this.source_of_l4.localdata[index])
          })
        }

      }
      else if (selectedResources.ResourceType == 'Storage') {
        selectedResourceRowIndexes = this.$refs.Grid_of_storage.getselectedrowindexes()
        if (selectedResourceRowIndexes.length > 0) {
          selectedResourceRowIndexes.forEach( index => {
            selectedResources.ResourceList.push(this.source_of_storage.localdata[index])
          })
        }

      }
      else {
        alert('Please Select Resource Type')
      }
      
      this.$emit('formSelectedResources', selectedResources)
    },
    addSelectedServicePort() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))

      this.servicePortList.push(this.selectedServicePort)
      this.servicePortList = uniqueArray(this.servicePortList)

      this.selectedServicePort = ''
    },
    removeSelectedServicePort(obj) {
      this.servicePortList.forEach(function(value, index, array) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },
    clearResourceSelection() {

      if (this.selectedResourceType.Type == 'Server') {
        this.$refs.Grid_of_server.clearselection()
      }
      else if (this.selectedResourceType.Type == "RDS") {
        this.$refs.Grid_of_rds.clearselection()
      }
      else if (this.selectedResourceType.Type == 'DB') {
        this.$refs.Grid_of_db.clearselection()
      }
      else if (this.selectedResourceType.Type == "Network") {
        this.$refs.Grid_of_network.clearselection()
      }
      else if (this.selectedResourceType.Type == "L4") {
        this.$refs.Grid_of_l4.clearselection()
      }
      else if (this.selectedResourceType.Type == "Storage") {
        this.$refs.Grid_of_storage.clearselection()
      }
      else {
        alert("[Error] Selected Resource Type is Not Vaild")
      }

      this.selectedResourceType = { Type: ''};
      this.servicePortList = [];
      this.selectedServicePort = '';
    }
  }
}
</script>

<style scope>
/* div.system-grid div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 2) {
  background-color: cadetblue;
} */

.alert-emergency {
  color: #fff;
  background-color: #c61010; /*#f8d7da;*/
}

.alert-alert {
  color: #fff;
  background-color: #fc8d06;
}

.alert-critical {
  color: #fff;
  background-color: #f7b900;
}

.alert-info {
  color: #fff;
  background-color: #61c22c; /*#d1ecf1;*/
}

/* div.approval-resource-server-aws-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 4) {
  background-color: #283576;
} */
</style>
