<template>
  <div>
    <b-container fluid>
      <h1>IDC</h1>
      <b-card class="strong" label="IDC Resources">
        <b-row>
          <b-col>
            <b-form-group label="자원 유형">
              <b-form-select v-model="selectedResourceType" v-on:change="changeResourceType">
                <option
                  v-bind:key="item"
                  v-for="item in resourceTypeList"
                  :value="item"
                >{{item.Type}}</option>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-radio-group v-model="direction_status" v-on:change="changeNetworkDirection">
              <b-form-radio value="Source">출발지</b-form-radio>
              <b-form-radio value="Destination">목적지</b-form-radio>
            </b-form-radio-group>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='Server'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_server"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfServerOnRowSelect($event)"
                :source="dataAdapter_of_server"
                :columns="columns_of_server"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='DB'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_db"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfDBOnRowSelect($event)"
                :source="dataAdapter_of_db"
                :columns="columns_of_db"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='Network'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_network"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfNetworkOnRowSelect($event)"
                :source="dataAdapter_of_network"
                :columns="columns_of_network"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>
        <b-row style="h-75" v-show="selectedResourceType.Type=='Storage'">
          <b-col>
            <no-ssr>
              <JqxGrid
                ref="Grid_of_storage"
                class="approval-resource-server-aws-grid grid cell-1"
                :width="'100%'"
                :selectionmode="'checkbox'"
                @rowselect="GridOfStorageOnRowSelect($event)"
                :source="dataAdapter_of_storage"
                :columns="columns_of_storage"
                :pageable="true"
                :editable="true"
                :sortable="true"
                :filterable="true"
                :columnsresize="true"
              />
            </no-ssr>
          </b-col>
        </b-row>

        <div v-if="selectedResourceType.Type != '' && direction_status =='Destination'">
          <hr />
          <b-row>
            <b-col cols="8">
              <b-form-group class="strong" label="서비스 포트">
                <b-input-group>
                  <b-form-select
                    size="sm"
                    class="sm mb-2"
                    v-model="selectedServicePort"
                    :disabled="isDisabled"
                  >
                    <option
                      v-bind:key="item"
                      v-for="item in preparingResources.ServicePort"
                      :value="item"
                    >{{item.Protocol}} {{item.Port}} ({{item.ServiceName}})</option>
                  </b-form-select>
                  <b-input-group-append>
                    <b-button
                      variant="primary"
                      size="sm"
                      class="mb-2"
                      :disabled="selectedServicePort==''"
                      @click="addSelectedServicePort"
                    >Add</b-button>
                  </b-input-group-append>
                </b-input-group>
                <b-link
                  @click="removeSelectedServicePort(item)"
                  v-bind:key="item"
                  v-for="item in servicePortList"
                  :disabled="isDisabled"
                >
                  <b-badge class="mr-1">{{item.Protocol}} {{item.Port}} ({{item.ServiceName}})</b-badge>
                </b-link>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'

let JqxGrid = null
if (process.client) {
  JqxGrid = require('jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue').default
}

export default {
  components: {
    JqxGrid
  },
  props: {
    direction_status: String,
    preparingResources: {
      type: Object,
      default: {
        Server: [],
        DB: [],
        Network: [],
        Storage: [],
        ServicePort: []
      }
    }
  },
  watch: {
    preparingResources: {
      deep: true,
      handler() {
        this.setResources()
      }
    }
  },
  data() {
    return {
      selectedResourceType: {
        Type: ''
      },
      resourceTypeList: [
        { Type: 'Server' },
        { Type: 'DB' },
        { Type: 'Network' },
        { Type: 'Storage' }
      ],

      selectedServicePort: '',
      servicePortList: [],

      dataAdapter_of_server: process.client
        ? new jqx.dataAdapter(this.source_of_server)
        : null,

      dataAdapter_of_db: process.client
        ? new jqx.dataAdapter(this.source_of_db)
        : null,

      dataAdapter_of_network: process.client
        ? new jqx.dataAdapter(this.source_of_network)
        : null,

      dataAdapter_of_storage: process.client
        ? new jqx.dataAdapter(this.source_of_storage)
        : null,

      columns_of_server: [
        {
          text: 'Resource Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Resource IP',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Ports',
          datafield: 'ports',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      columns_of_db: [
        {
          text: 'DB Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'IP Address',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname,
          width: '100px'
        },
        {
          text: 'DB Port',
          datafield: 'dbPort',
          editable: false,
          cellclassname: this.cellclassname,
          width: '60px'
        }
      ],

      columns_of_network: [
        { text: 'Subnet Name', datafield: 'SubnetName' },
        { text: 'IPv4 CIDR', datafield: 'IPv4CIDR' }
      ],

      columns_of_storage: [
        {
          text: 'Storage Name',
          datafield: 'Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Mgmt IpAddress',
          datafield: 'IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Access Port',
          datafield: 'Port',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      gridboundindex_of_server: -1,
      gridboundindex_of_db: -1,
      gridboundindex_of_network: -1,
      gridboundindex_of_storage: -1,
      ////////////////////////////////////////////////////////////

      dataAdapter_of_idc: process.client
        ? new jqx.dataAdapter(this.source_of_idc)
        : null,

      gridboundindex_of_idc: -1,
      columns_of_idc: [
        { text: 'Subnet Name', datafield: 'SubnetName' },
        { text: 'IPv4 CIDR', datafield: 'IPv4CIDR' },
        {
          text: 'Location',
          datafield: 'Location',
          editable: true,
          cellclassname: this.cellclassname
        },
        {
          text: 'Category',
          datafield: 'Category',
          editable: false,
          cellclassname: this.cellclassname,
          width: '80px'
        },
        {
          text: 'Manager',
          datafield: 'Manager',
          columntype: 'dropdownlist',
          createeditor: (row, value, editor) => {
            editor.jqxDropDownList({
              width: 100,
              height: 27,
              source: this.usersAdapter,
              displayMember: 'text',
              valueMember: 'value'
            })
          },
          cellclassname: this.cellclassname
        }
      ]
    }
  },
  beforeCreate: function() {
    if (process.client) {
      this.source_of_server = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' },
          { name: 'ports', map: 'vPorts' }
        ],
        localdata: []
      }

      this.source_of_db = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' },
          { name: 'dbPort', map: 'dbPort' }
        ],
        localdata: []
      }

      this.source_of_network = {
        datatype: 'array',
        datafields: [
          { name: 'SubnetName', map: 'Name' },
          { name: 'IPv4CIDR', map: 'CidrBlock' }
        ],
        localdata: []
      }

      this.source_of_storage = {
        datatype: 'array',
        datafields: [
          { name: 'Name', map: 'Name' },
          { name: 'IpAddress', map: 'IpAddress' },
          { name: 'Port', map: 'Port' }
        ],
        localdata: []
      }

      //////////////////////////////////////
      this.source_of_idc = {
        datatype: 'array',
        datafields: [
          { name: 'SubnetName', map: 'Name' },
          { name: 'IPv4CIDR', map: 'CidrBlock' },
          { name: 'Location', map: 'PortalInfo>Location' },
          { name: 'Category', map: 'PortalInfo>Category' },
          { name: 'Manager', map: 'PortalInfo>Manager' },
          { name: 'Comment', map: 'PortalInfo>Comment' },
          { name: 'CheckDate', map: 'PortalInfo>CheckDate', type: 'date' },
          { name: 'PortalSeverity', map: 'PortalSeverity' }
        ],
        localdata: []
      }
    }
  },
  created() {
    if (process.client) {
      this.getServerItems()
    }
  },
  methods: {
    setResources() {
      // console.log(
      //   '======== Network Detail Child IDC preparing Resources ========'
      // )
      // console.log(this.preparingResources)
      this.source_of_server.localdata = this.preparingResources.Server
      this.source_of_db.localdata = this.preparingResources.DB
      this.source_of_network.localdata = this.preparingResources.Network
      this.source_of_storage.localdata = this.preparingResources.Storage

      this.$refs.Grid_of_server.updatebounddata('cells')
      this.$refs.Grid_of_db.updatebounddata('cells')
      this.$refs.Grid_of_network.updatebounddata('cells')
      this.$refs.Grid_of_storage.updatebounddata('cells')
    },

    cellclassname: function(row, column, value, data) {
      if (data.PortalSeverity == 'critical') {
        return 'mgmt-alert-critical'
      } else if (data.PortalSeverity == 'info') {
        return 'mgmt-alert-info'
      }
    },
    getServerItems() {},

    GridOfServerOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_server = event.args.rowindex
      }
    },
    GridOfDBOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_db = event.args.rowindex
      }
    },
    GridOfNetworkOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_network = event.args.rowindex
      }
    },
    GridOfStorageOnRowSelect: function(event) {
      if (Array.isArray(event.args.rowindex)) {
        //전체선택 체크박스
      } else {
        this.gridboundindex_of_storage = event.args.rowindex
      }
    },
    changeVPC(event) {
      //alert(JSON.stringify(event));
    },
    changeResourceType(event) {
      //alert(JSON.stringify(event));
    },
    changeNetworkDirection(event) {
      this.$emit('direction_event', event)
    },
    addSelectedServicePort() {
      const uniqueArray = a =>
        [...new Set(a.map(o => JSON.stringify(o)))].map(s => JSON.parse(s))

      this.servicePortList.push(this.selectedServicePort)
      this.servicePortList = uniqueArray(this.servicePortList)

      this.selectedServicePort = ''
    },
    removeSelectedServicePort(obj) {
      this.servicePortList.forEach(function(value, index, array) {
        if (value == obj) {
          array.splice(index, 1)
        }
      })
    },
    sendSelectedResources() {
      let selectedResources = {
        Direction: '',
        InfraCategory: '',
        ResourceType: '',
        ResourceList: []
      }

      selectedResources.Direction = this.direction_status
      if (selectedResources.Direction == 'Destination') {
        selectedResources.ServicePortList = this.servicePortList      
      }
      selectedResources.ResourceType = this.selectedResourceType.Type
      selectedResources.InfraCategory = 'IDC'
      
      if (selectedResources.ResourceType == 'Server') {
        selectedResources.ResourceList = JSON.parse(JSON.stringify(this.source_of_server.localdata))
      }
      else if (selectedResources.ResourceType == 'DB') {
        selectedResources.ResourceList = JSON.parse(JSON.stringify(this.source_of_db.localdata))
      }
      else if (selectedResources.ResourceType == 'Network') {
        selectedResources.ResourceList = JSON.parse(JSON.stringify(this.source_of_network.localdata))
      }
      else if (selectedResources.ResourceType == 'Storage') {
        selectedResources.ResourceList = JSON.parse(JSON.stringify(this.source_of_storage.localdata))
      }
      else {
        alert('error')
      }

      this.$emit('formSelectedResources', selectedResources)
    },
    clearResourceSelection() {

      if (this.selectedResourceType.Type == 'Server') {
        this.$refs.Grid_of_server.clearselection()
      }
      else if (this.selectedResourceType.Type == 'DB') {
        this.$refs.Grid_of_db.clearselection()
      }
      else if (this.selectedResourceType.Type == "Network") {
        this.$refs.Grid_of_network.clearselection()
      }
      else if (this.selectedResourceType.Type == "Storage") {
        this.$refs.Grid_of_storage.clearselection()
      }
      else {
        alert("[Error] Selected Resource Type is Not Vaild")
      }

      this.selectedResourceType = { Type: ''};
      this.servicePortList = [];
      this.selectedServicePort = '';
    }
  }
}
</script>

<style scope>
/* div.system-grid div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 2) {
  background-color: cadetblue;
} */

.alert-emergency {
  color: #fff;
  background-color: #c61010; /*#f8d7da;*/
}

.alert-alert {
  color: #fff;
  background-color: #fc8d06;
}

.alert-critical {
  color: #fff;
  background-color: #f7b900;
}

.alert-info {
  color: #fff;
  background-color: #61c22c; /*#d1ecf1;*/
}

div.approval-resource-network-idc-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 3) {
  background-color: #283576;
}

div.container-fluid .my-flex-container {
  border: 2px solid green;
  height: 100px;
  margin-bottom: 20px;
}
</style>
