<template>
  <div>
    <b-modal
      v-model="isShowing"
      title="네트워크 접근 정책 목록"
      scrollable
      size="xl"
      :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant"
      :body-bg-variant="bodyBgVariant"
      :body-text-variant="bodyTextVariant"
      :footer-bg-variant="footerBgVariant"
      :footer-text-variant="footerTextVariant"
    >
      <b-container fluid>
        <b-row class="mb-1">
          <b-col>
            <b-row>
              <b-col>
                <h3>
                  <b-badge variant="dark">출발지</b-badge>
                  <b-badge
                    v-bind:class="{ badge_variant_aws: isSourceInfraAWS, badge_variant_idc: isSourceInfraIDC, badge_variant_ext: isSourceInfraEXT }"
                  >{{ networkPoilcyForm.Source.InfraCategory }}</b-badge>
                  <b-badge variant="secondary">{{ networkPoilcyForm.Source.ResourceType }}</b-badge>
                </h3>
              </b-col>
            </b-row>
            <div v-if="networkPoilcyForm.Source.ResourceType == 'Server'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_server"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_server_source"
                  :columns="columns_of_server"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Source.ResourceType == 'DB'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_db"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_db_source"
                  :columns="columns_of_db"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Source.ResourceType == 'Network'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_network"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_network_source"
                  :columns="columns_of_network"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Source.ResourceType == 'Storage'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_storage"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_storage_source"
                  :columns="columns_of_storage"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Source.ResourceType == 'RDS'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_db"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_db_source"
                  :columns="columns_of_db"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Source.ResourceType == 'L4'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_l4"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_l4_source"
                  :columns="columns_of_l4"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
          </b-col>
          <b-col>
            <b-row>
              <b-col>
                <h3>
                  <b-badge variant="dark">서비스 포트</b-badge>
                </h3>
              </b-col>
            </b-row>
            <b-table
              striped
              responsive
              hover
              :items="networkPoilcyForm.Destination.ServicePortList"
              :fields="netowrkFormfields"
            ></b-table>
          </b-col>
          <b-col>
            <b-row>
              <b-col>
                <h3>
                  <b-badge variant="dark">목적지</b-badge>
                  <b-badge
                    v-bind:class="{ badge_variant_aws: isDestinationInfraAWS, badge_variant_idc: isDestinationInfraIDC, badge_variant_ext: isDestinationInfraEXT }"
                  >{{ networkPoilcyForm.Destination.InfraCategory }}</b-badge>
                  <b-badge variant="secondary">{{ networkPoilcyForm.Destination.ResourceType }}</b-badge>
                </h3>
              </b-col>
            </b-row>
            <div v-if="networkPoilcyForm.Destination.ResourceType == 'Server'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_server"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_server_destination"
                  :columns="columns_of_server"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Destination.ResourceType == 'DB'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_db"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_db_destination"
                  :columns="columns_of_db"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Destination.ResourceType == 'Network'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_network"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_network_destination"
                  :columns="columns_of_network"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Destination.ResourceType == 'Storage'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_storage"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_storage_destination"
                  :columns="columns_of_storage"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Destination.ResourceType == 'RDS'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_db"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_db_destination"
                  :columns="columns_of_db"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
            <div v-if="networkPoilcyForm.Destination.ResourceType == 'L4'">
              <no-ssr>
                <JqxGrid
                  ref="Grid_of_l4"
                  class="approval-resource-server-aws-grid grid cell-1"
                  :width="'100%'"
                  :source="dataAdapter_of_l4_destination"
                  :columns="columns_of_l4"
                  :pageable="true"
                  :editable="true"
                  :sortable="true"
                  :filterable="true"
                  :columnsresize="true"
                />
              </no-ssr>
            </div>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col>
            <b-form-group label="Description">
              <b-form-textarea
                disabled
                id="textarea"
                v-model="networkPoilcyForm.Description"
                placeholder
                rows="1"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>

      <template v-slot:modal-footer>
        <!-- <div class="w-100"> -->
        <p class="float-left">Modal Content</p>
        <b-button variant="primary" size="sm" class="float-right" @click="hideModal()">Close</b-button>
        <!-- </div> -->
      </template>
    </b-modal>
  </div>
</template>

<script>

let JqxGrid = null
if (process.client) {
  JqxGrid = require('jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue').default
}

export default {

  components: {
    JqxGrid
  },
  props: {
    details: {
      type: Object,
      default: {
        NetworkAccessType: '',
        Source: {
          InfraCategory: '',
          ResourceType: '',
          ResourceList: []
        },
        Destination: {
          InfraCategory: '',
          ResourceType: '',
          ResourceList: [],
          ServicePortList: []
        },
        Description: ''        
      }
    }
  },
  watch: {
    details: {
      deep: true,
      handler() {
        this.setResources()
      }
    }

  },
  data() {
    return {
      //for CSS
      isSourceInfraAWS: false,
      isSourceInfraIDC: false,
      isSourceInfraEXT: false,
      isDestinationInfraAWS: false,
      isDestinationInfraIDC: false,
      isDestinationInfraEXT: false,

      isShowing: false,
      netowrkFormfields: ['Protocol', 'Port', 'ServiceName'],

      headerBgVariant: 'dark',
      headerTextVariant: 'light',
      bodyBgVariant: 'light',
      bodyTextVariant: 'dark',
      footerBgVariant: 'dark',
      footerTextVariant: 'light',

      ///////////////////

      networkPoilcyForm: {
        NetworkAccessType: '',
        Source: {
          InfraCategory: '',
          ResourceType: '',
          ResourceList: []
        },
        Destination: {
          InfraCategory: '',
          ResourceType: '',
          ResourceList: [],
          ServicePortList: []
        },
        Description: ''
      },

      source_resources: [],
      destination_resources: [],

      dataAdapter_of_server_source: process.client
        ? new jqx.dataAdapter(this.source_of_server_source)
        : null,
      dataAdapter_of_server_destination: process.client
        ? new jqx.dataAdapter(this.source_of_server_destination)
        : null,

      dataAdapter_of_db_source: process.client
        ? new jqx.dataAdapter(this.source_of_db_source)
        : null,
      dataAdapter_of_db_destination: process.client
        ? new jqx.dataAdapter(this.source_of_db_destination)
        : null,

      dataAdapter_of_network_source: process.client
        ? new jqx.dataAdapter(this.source_of_network_source)
        : null,
      dataAdapter_of_network_destination: process.client
        ? new jqx.dataAdapter(this.source_of_network_destination)
        : null,

      dataAdapter_of_storage_source: process.client
        ? new jqx.dataAdapter(this.source_of_storage_source)
        : null,

      dataAdapter_of_storage_destination: process.client
        ? new jqx.dataAdapter(this.source_of_storage_destination)
        : null,

      dataAdapter_of_l4_source: process.client
        ? new jqx.dataAdapter(this.source_of_l4_source)
        : null,

      dataAdapter_of_l4_destination: process.client
        ? new jqx.dataAdapter(this.source_of_l4_destination)
        : null,

      columns_of_server: [
        {
          text: 'Resource Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'Resource IP',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      columns_of_db: [
        {
          text: 'DB Name',
          datafield: 'Resource-Name',
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'IP Address',
          datafield: 'Resource-IpAddress',
          editable: false,
          cellclassname: this.cellclassname,
          width: '100px'
        }
      ],

      columns_of_network: [
        { text: 'Subnet Name', datafield: 'SubnetName' },
        { text: 'IPv4 CIDR', datafield: 'IPv4CIDR' }
      ],

      columns_of_storage: [
        {
          text: 'Storage Name',
          datafield: 'Name',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      columns_of_l4: [
        {
          text: 'Name',
          datafield: 'LoadBalancerName',
          width: 100,
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: 'DNS Name',
          datafield: 'DNSName',
          editable: false,
          cellclassname: this.cellclassname
        }
      ],

      gridboundindex_of_network: -1
    }
  },
  beforeCreate: function() {
    if (process.client) {

      // Server
      this.source_of_server_source = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' },
        ],
        localdata: []
      }
      this.source_of_server_destination = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' },
        ],
        localdata: []
      }

      // DB, RDS
      this.source_of_db_source = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }
      this.source_of_db_destination = {
        datatype: 'array',
        datafields: [
          { name: 'Resource-Name', map: 'Resource-Name' },
          { name: 'Resource-IpAddress', map: 'Resource-IpAddress' }
        ],
        localdata: []
      }

      // Network
      this.source_of_network_source = {
        datatype: 'array',
        datafields: [
          { name: 'SubnetName', map: 'Name' },
          { name: 'IPv4CIDR', map: 'CidrBlock' }
        ],
        localdata: [
        ]
      }

      this.source_of_network_destination = {
        datatype: 'array',
        datafields: [
          { name: 'SubnetName', map: 'Name' },
          { name: 'IPv4CIDR', map: 'CidrBlock' }
        ],
        localdata: [
        ]
      }

      // Storage
      this.source_of_storage_source = {
        datatype: 'array',
        datafields: [
          { name: 'Name', map: 'Name' },
          { name: 'IpAddress', map: 'IpAddress' },
        ],
        localdata: []
      }

      this.source_of_storage_destination = {
        datatype: 'array',
        datafields: [
          { name: 'Name', map: 'Name' },
          { name: 'IpAddress', map: 'IpAddress' },
        ],
        localdata: []
      }

      this.source_of_l4_source = {
        datatype: 'array',
        datafields: [
          { name: 'LoadBalancerName', map: 'LoadBalancerName' },
          { name: 'DNSName', map: 'DNSName' },
        ],
        localdata: []
      }

      this.source_of_l4_destination = {
        datatype: 'array',
        datafields: [
          { name: 'LoadBalancerName', map: 'LoadBalancerName' },
          { name: 'DNSName', map: 'DNSName' },
        ],
        localdata: []
      }

    }
  },
  created() {
    if (process.client) {
      //this.getServerItems()
    }
  },
  methods: {
    toggleModal() {
      if (this.isShowing == true) {
        this.isShowing = false
        this.$emit('isShowing', false)
      }
      else {
        this.isShowing = true
        this.$emit('isShowing', true)
      }
    },
    showModal() {
      this.isShowing = true
    },
    hideModal() {
      this.isShowing = false
    },


    setResources() {
      // console.log(
      //   '======== [MODAL] Network Detail  ========'
      // )

      this.networkPoilcyForm = JSON.parse(JSON.stringify(this.details))
      this.setVariantOfBadge()

      this.source_resources = JSON.parse(JSON.stringify(this.networkPoilcyForm.Source.ResourceList))
      this.destination_resources = JSON.parse(JSON.stringify(this.networkPoilcyForm.Destination.ResourceList))

      if (this.networkPoilcyForm.Source.ResourceType == 'Server') {
        if (this.networkPoilcyForm.Source.InfraCategory == 'AWS') {
          this.source_resources.forEach(resource => {

            let serverObj = {
              'Resource-Name': resource.virtualTagArr.Name,
              'Resource-IpAddress': resource.PrivateIpAddress
            }
            Object.assign(resource, serverObj)
          })
        }
        this.source_of_server_source.localdata = this.source_resources
      }
      if (this.networkPoilcyForm.Destination.ResourceType == 'Server') {
        if (this.networkPoilcyForm.Destination.InfraCategory == 'AWS') {
          this.destination_resources.forEach(resource => {
            let serverObj = {
              'Resource-Name': resource.virtualTagArr.Name,
              'Resource-IpAddress': resource.PrivateIpAddress
            }
            Object.assign(resource, serverObj)
          })
        }
        this.source_of_server_destination.localdata = this.destination_resources 
      }

      if (this.networkPoilcyForm.Source.ResourceType == 'DB') {
        this.source_of_db_source.localdata = this.source_resources
      }

      if (this.networkPoilcyForm.Destination.ResourceType == 'DB') {
        this.source_of_db_destination.localdata = this.destination_resources
      }


      if (this.networkPoilcyForm.Source.ResourceType == 'RDS') {
        if (this.networkPoilcyForm.Source.InfraCategory == 'AWS') {
          this.source_resources.forEach(resource => {
            let dbObj = {
              'Resource-Name': 'RDS_' + resource.Endpoint.Address.split('.')
                .filter((elem, idx) => {
                  return idx < 2
                })
                .join('.'),
              'Resource-IpAddress': resource.Endpoint.Address
            }
            Object.assign(resource, dbObj)
          })
        }
        this.source_of_db_source.localdata = this.source_resources
      }

      if (this.networkPoilcyForm.Destination.ResourceType == 'RDS') {
        if (this.networkPoilcyForm.Destination.InfraCategory == 'AWS') {
          this.destination_resources.forEach(resource => {
            let dbObj = {
              'Resource-Name': 'RDS_' + resource.Endpoint.Address.split('.')
                .filter((elem, idx) => {
                  return idx < 2
                })
                .join('.'),
              'Resource-IpAddress': resource.Endpoint.Address
            }
            Object.assign(resource, dbObj)
          })
        }
        this.source_of_db_destination.localdata = this.destination_resources
      }

      if (this.networkPoilcyForm.Source.ResourceType == 'Network') {
        if (this.networkPoilcyForm.Source.InfraCategory == 'AWS') {
          this.source_resources.forEach(resource => {
            let networkObj = {
              'Name': resource.virtualTagArr.Name,
              'CidrBlock': resource.CidrBlock
            }
            Object.assign(resource, networkObj)
          })
        }
        this.source_of_network_source.localdata = this.source_resources 
      }
      if (this.networkPoilcyForm.Destination.ResourceType == 'Network') {
        if (this.networkPoilcyForm.Destination.InfraCategory == 'AWS') {
          this.destination_resources.forEach(resource => {
            let networkObj = {
              'Name': resource.virtualTagArr.Name,
              'CidrBlock': resource.CidrBlock
            }
            Object.assign(resource, networkObj)
          })
        }
        this.source_of_network_destination.localdata = this.destination_resources
      }

      if (this.networkPoilcyForm.Source.ResourceType == 'Storage') {
        this.source_of_storage_source.localdata = this.source_resources
      }

      if (this.networkPoilcyForm.Destination.ResourceType == 'Storage') {
        this.source_of_storage_destination.localdata = this.destination_resources
      }

      if (this.networkPoilcyForm.Source.ResourceType == 'L4') {
        this.source_of_l4_source.localdata = this.source_resources
      }

      if (this.networkPoilcyForm.Destination.ResourceType == 'L4') {
        this.source_of_l4_destination.localdata = this.destination_resources
      }

    //   console.log(this.networkPoilcyForm.Source.ResourceList)
    //   this.networkPoilcyForm.Destination.ServicePortList[0].ServiceName = '412444araqwrqwrqwrqwrqrqwrqerwrwarwrewarwearawerewarwaerree'
    //   console.log(this.source_of_network.localdata)
    //   console.log(this.preparingResources)
    //   this.source_of_network.localdata = this.preparingResources.Network
    //   console.log(this.source_of_network.localdata)

    //   this.$refs.Grid_of_network.updatebounddata('cells')

    },
    cellclassname: function(row, column, value, data) {
      if (data.PortalSeverity == 'critical') {
        return 'mgmt-alert-critical'
      } else if (data.PortalSeverity == 'info') {
        return 'mgmt-alert-info'
      }
    },
    setVariantOfBadge() {
      if (this.networkPoilcyForm.Source.InfraCategory == 'AWS') {
        this.isSourceInfraAWS = true
        this.isSourceInfraIDC = false
        this.isSourceInfraEXT = false
      }
      else if (this.networkPoilcyForm.Source.InfraCategory == 'IDC') {
        this.isSourceInfraAWS = false
        this.isSourceInfraIDC = true
        this.isSourceInfraEXT = false
      }
      else {
        this.isSourceInfraAWS = false
        this.isSourceInfraIDC = false
        this.isSourceInfraEXT = true        
      }

      if (this.networkPoilcyForm.Destination.InfraCategory == 'AWS') {
        this.isDestinationInfraAWS = true
        this.isDestinationInfraIDC = false
        this.isDestinationInfraEXT = false
      }
      else if (this.networkPoilcyForm.Destination.InfraCategory == 'IDC') {
        this.isDestinationInfraAWS = false
        this.isDestinationInfraIDC = true
        this.isDestinationInfraEXT = false
      }
      else {
        this.isDestinationInfraAWS = false
        this.isDestinationInfraIDC = false
        this.isDestinationInfraEXT = true        
      }
    },

    getServerItems() {},
    
  }
}
</script>

<style scope>
/* div.system-grid div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 2) {
  background-color: cadetblue;
} */
.badge_variant_aws {
  color: #fff;
  background-color: #109bc6;
}
.badge_variant_idc {
  color: #fff;
  background-color: #f3ca4f;
}
.badge_variant_ext {
  color: #fff;
  background-color: #7e11c7;
}

.alert-emergency {
  color: #fff;
  background-color: #c61010; /*#f8d7da;*/
}

.alert-alert {
  color: #fff;
  background-color: #fc8d06;
}

.alert-critical {
  color: #fff;
  background-color: #f7b900;
}

.alert-info {
  color: #fff;
  background-color: #61c22c; /*#d1ecf1;*/
}

div.approval-resource-network-idc-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 3) {
  background-color: #283576;
}

div.container-fluid .my-flex-container {
  border: 2px solid green;
  height: 100px;
  margin-bottom: 20px;
}
</style>
