<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>
    <h1>Server Account</h1>
    <b-container fluid>
      <b-card>
        <b-form-select v-model="selected" size="sm" class="sm mb-2" disabled></b-form-select>
        <b-button class="export-excel" variant="success">
          <fa :icon="'file-export'" />Export
        </b-button>
        <no-ssr>
          <JqxGrid
            ref="myGrid"
            class="management-account-portal-grid grid cell-1"
            :width="'100%'"
            :source="dataAdapter"
            :columns="columns"
            :pageable="true"
            :editable="true"
            :sortable="true"
            :filterable="true"
            :columnsresize="true"
          />
        </no-ssr>
        <b-card-footer class="text-center">
          <b-button variant="primary" disabled>
            <fa :icon="'sync-alt'" />Update Revision
          </b-button>
        </b-card-footer>
      </b-card>
    </b-container>
  </div>
</template>

<script>
let JqxGrid = null;
if (process.client) {
  JqxGrid = require("jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue").default;
  console.log(JqxGrid);
}

export default {
  components: {
    JqxGrid
  },
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Admin",
          href: "#"
        },
        {
          text: "Credentials",
          href: "#"
        },
        {
          text: "Connectivity 확인",
          active: true
        }
      ],
      dataAdapter: process.client ? new jqx.dataAdapter(this.source) : null,
      columns: [
        {
          text: "UserName",
          datafield: "UserName",
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: "Display Name",
          datafield: "DisplayName",
          editable: false,
          cellclassname: this.cellclassname
        },
        {
          text: "HR Status",
          datafield: "HRStatus",
          editable: false,
          cellclassname: this.cellclassname,
          width: "100px"
        },
        {
          text: "Category",
          datafield: "Category",
          editable: false,
          cellclassname: this.cellclassname,
          width: "80px"
        },
        {
          text: "Manager",
          datafield: "Manager",
          displayfield: "ManagerDisplayName",
          columntype: "dropdownlist",
          createeditor: (row, value, editor) => {
            editor.jqxDropDownList({
              width: 100,
              source: this.usersAdapter,
              displayMember: "label",
              valueMember: "value"
            });
          },
          cellclassname: this.cellclassname,
          width: "100px"
        },
        {
          text: "Comment",
          datafield: "Comment",
          cellclassname: this.cellclassname
        },
        {
          text: "Check Date",
          datafield: "CheckDate",
          cellsformat: "yyyy-MM-dd",
          editable: false,
          cellclassname: this.cellclassname,
          width: "90px"
        },
        {
          text: "",
          width: "50px",
          cellsalign: "center",
          align: "center",
          columntype: "button",
          cellsrenderer: () => {
            return "Save";
          },
          buttonclick: row => {
            this.updateItem(row);
          }
        }
      ]
    };
  },
  beforeCreate: function() {
    if (process.client) {
      this.usersSource = {
        datatype: "array",
        datafields: [
          { name: "value", type: "string" },
          { name: "label", type: "string" }
        ],
        localdata: this.portalUsers ? this.portalUsers : []
      };

      this.usersAdapter = new jqx.dataAdapter(this.usersSource, {
        autoBind: true
      });

      this.source = {
        datatype: "array",
        datafields: [
          { name: "UserName", map: "UserName" },
          { name: "DisplayName", map: "DisplayName" },
          { name: "HRStatus", map: "virtualHRStatus" },
          { name: "Category", map: "PortalInfo>Category" },
          { name: "Manager", map: "PortalInfo>Manager" },
          {
            name: "ManagerDisplayName",
            value: "Manager",
            values: {
              source: this.usersAdapter.records,
              value: "value",
              name: "label"
            }
          },
          { name: "Comment", map: "PortalInfo>Comment" },
          { name: "CheckDate", map: "PortalInfo>CheckDate", type: "date" },
          { name: "PortalSeverity", map: "PortalSeverity" }
        ],
        localdata: []
      };
    }
  },
  computed: {
    userTableRows() {
      return this.userTable.items.length;
    }
  },
  methods: {}
};
</script>
<style>
div.management-account-portal-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 4) {
  background-color: #667cee;
}
</style>