<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Account",
          href: "#"
        },
        {
          text: "Dashboard",
          active: true
        }
      ]
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style scoped>
</style>