<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>
    <b-container fluid>
      <b-card>
        <b-row>
          <b-col cols="3">
            <b-form-group label="Approved Date Range">
              <date-range-picker
                ref="picker"
                :opens="'right'"
                :locale-data="localData"
                :maxDate="maxDate"
                :timePicker="false"
                :timePicker24Hour="false"
                :showWeekNumbers="true"
                :showDropdowns="true"
                :autoApply="true"
                v-model="dateRange"
                @update="updateDateRangePicker"
                :dateFormat="dateFormat"
                style="width:100%;"
              ></date-range-picker>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Requester">
              <b-form-select v-model="searchForm.Requester" :options="definedOption.Requester"></b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Infra Category">
              <b-form-select
                v-model="searchForm.InfraCategory"
                :options="definedOption.InfraCategory"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Resource Type">
              <b-form-select
                v-model="searchForm.ResourceType"
                :options="definedOption.ResourceType"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Request Type">
              <b-form-select v-model="searchForm.RequestType" :options="definedOption.RequestType"></b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label style="margin-top:28px;">
              <b-button class="float-right" variant="primary" block @click="getServerItems">
                <fa :icon="'search'" />Search
              </b-button>
            </b-form-group>
          </b-col>
        </b-row>

        <b-overlay
          no-wrap
          :show="filterOverlayShow"
          rounded="lg"
          @shown="onShown"
          @hidden="onHidden"
        >
          <template v-slot:overlay>
            <div class="d-flex align-items-center">
              <b-spinner small type="grow" variant="secondary"></b-spinner>
              <b-spinner type="grow" variant="dark"></b-spinner>
              <b-spinner small type="grow" variant="secondary"></b-spinner>
              <!-- We add an SR only text for screen readers -->
            </div>
            <p id="cancel-label" class="sr-only">Please wait...</p>
          </template>
        </b-overlay>
      </b-card>
      <b-card>
        <b-row>
          <b-col>
            <client-only>
              <JqxGrid
                class="approval-sign-grid cell-1 cell-5 cell-6 cell-7 cell-8"
                ref="Grid_of_sign"
                :width="'100%'"
                @rowselect="GridOfSignOnRowSelect($event)"
                :source="dataAdapter"
                :columns="jqGridColumns"
                :columnsresize="true"
                :pageable="true"
                :sortable="true"
                :filterable="true"
              />
            </client-only>
          </b-col>
        </b-row>
        <hr />

        <b-row v-show="this.gridboundindex_of_sign != '-1'">
          <b-col cols="8">
            <div>
              <b-row>
                <b-col>
                  <commonForm :disable_form="true" :forms="form_of_common" :preparingData="{}" />
                </b-col>
              </b-row>
              <b-row>
                <b-col v-if="this.FormDetailTemplate === 'Account'">
                  <accountDetailForm
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                </b-col>
                <!-- <b-col v-if="this.FormDetailTemplate === 'Credentials'">
                  <credentialsDetailForm
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                </b-col>
                <b-col v-if="this.FormDetailTemplate === 'AccessPolicy'">
                  <awsServerDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'aws_access-policy_server-access'"
                    :service_name="'diag'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <awsDbDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'aws_access-policy_db-access'"
                    :service_name="'diag'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <awsNetworkDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'aws_access-policy_network-access'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <idcServerDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'idc_access-policy_server-access'"
                    :service_name="'diag'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                  <idcDbDetailForm
                    v-if="this.selectedRequest['ApprovalFormType'] == 'idc_access-policy_db-access'"
                    :service_name="'diag'"
                    :disable_form="true"
                    :forms="form_of_detail"
                    :request_approval="false"
                  />
                </b-col>-->
              </b-row>
            </div>
          </b-col>
          <b-col cols="4">
            <noteTemplate
              :disable_form="true"
              :bNoteTableData="bNoteTableData"
              pageStage="Agree"
              @updateFormData="updateFormData"
            />
          </b-col>
        </b-row>
      </b-card>
    </b-container>
  </div>
</template>

<script>
let JqxGrid = null;

if (process.client) {
  JqxGrid = require("jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue").default;
}
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

import moment from "moment";

import commonForm from "~~/components/approval_form/common";
import accountDetailForm from "~~/components/approval_form/accountDetail";
import noteTemplate from "~~/components/approval_form/note";

export default {
  components: {
    JqxGrid,
    DateRangePicker,
    commonForm,
    accountDetailForm,
    noteTemplate
  },
  data() {
    return {
      breadcrumbNav: [
        {
          text: "History",
          href: "#"
        },
        {
          text: "Approval Archive",
          active: true
        }
      ],
      filterOverlayShow: true,

      dateRange: {
        startDate: moment().subtract(1, "month"),
        endDate: moment()
      },
      maxDate: moment(),
      localData: {
        direction: "ltr",
        format: "mm/dd/yyyy",
        separator: " - ",
        applyLabel: "Apply",
        cancelLabel: "Cancel",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        daysOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        monthNames: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        firstDay: 0
      },

      searchForm: {
        StartDate: moment().subtract(1, "month"),
        EndDate: moment(),
        Requester: "",
        InfraCategory: "",
        ResourceType: "",
        RequestType: ""
      },

      definedOption: {
        Requester: [{ value: "", text: "Any" }],
        InfraCategory: [{ value: "", text: "Any" }],
        ResourceType: [{ value: "", text: "Any" }],
        RequestType: [{ value: "", text: "Any" }]
      },

      dataAdapter: process.client
        ? new jqx.dataAdapter(this.source_of_sign)
        : null,

      jqGridColumns: [
        {
          text: "Requester",
          datafield: "Requester",
          cellclassname: this.cellclassname,
          width: "120px"
        },
        {
          text: "Infra Type",
          datafield: "InfraType",
          cellclassname: this.cellclassname,
          width: "120px"
        },
        {
          text: "Resource Type",
          datafield: "ResourceType",
          cellclassname: this.cellclassname,
          width: "120px"
        },
        {
          text: "Request Type",
          datafield: "RequestType",
          cellclassname: this.cellclassname,
          width: "100px"
        },
        {
          text: "Policy Name",
          datafield: "PolicyName",
          cellclassname: this.cellclassname
        },
        {
          text: "Status",
          datafield: "Status",
          cellclassname: this.cellclassname
        },
        {
          text: "Request Time",
          datafield: "RequestTime",
          cellsformat: "yyyy-MM-dd HH:mm:ss",
          cellclassname: this.cellclassname,
          width: "150px"
        },
        {
          text: "Approval Time",
          datafield: "ApprovalTime",
          cellsformat: "yyyy-MM-dd HH:mm:ss",
          cellclassname: this.cellclassname,
          width: "150px"
        },
        {
          text: "Remain Days",
          datafield: "ReApprovalRemainDays",
          cellclassname: this.cellclassname,
          width: "100px"
        },
        {
          text: "Approver",
          datafield: "Approver",
          cellclassname: this.cellclassname,
          width: "100px"
        }
      ],

      gridboundindex_of_sign: -1,
      selectedRequest: {
        _id: "",
        ResourceType: "",
        RequestType: "",
        PolicyName: "",
        Status: "",
        RequestTime: {
          type: Date,
          default: 0
        },
        ApprovalTime: {
          type: Date,
          default: 0
        },
        Reviewer: "",
        Approver: "",
        Note: "",
        RemainRenewalDays: ""
      },

      FormDetailTemplate: "",
      bNoteTableData: {
        _id: "",
        Notes: []
      },
      form_of_common: {
        Requester: {
          UserName: "",
          DisplayName: "",
          Team: ""
        },
        InfraCategory: "",
        ResourceType: "",
        accessRequestType: ""
      }
    };
  },
  beforeCreate: function() {
    if (process.client) {
      this.source_of_sign = {
        datatype: "array",
        datafields: [
          { name: "Requester", map: "Requester>UserName" },
          { name: "InfraType", map: "InfraCategory" },
          { name: "ResourceType", map: "ResourceType" },
          { name: "RequestType", map: "RequestType" },
          { name: "PolicyName", map: "ApprovalName" },
          { name: "Status", map: "Status" },
          { name: "RequestTime", map: "Signed>RequestDate", type: "date" },
          { name: "ApprovalTime", map: "Signed>ApproveDate", type: "date" },
          {
            name: "ReApprovalRemainDays",
            map: "Content>RenewalDueDays",
            type: "number"
          },
          { name: "Approver", map: "Signed>Approve>UserName" }
        ],
        localdata: []
      };
    }
  },
  created() {
    this.getOptionFilter();
    // this.getServerItems();
  },
  mounted() {},
  methods: {
    onShown() {
      // Focus the cancel button when the overlay is showing
      // this.$refs.cancel.focus()
    },
    onHidden() {
      // Focus the show button when the overlay is removed
      // this.$refs.show.focus()
    },
    GridOfSignOnRowSelect: function(event) {
      this.$refs.Grid_of_sign.clearselection();

      this.gridboundindex_of_sign = event.args.rowindex;
      this.selectedRequest = JSON.parse(
        JSON.stringify(
          this.source_of_sign.localdata[this.gridboundindex_of_sign]
        )
      );

      this.form_of_common = this.selectedRequest;
      this.form_of_detail = this.selectedRequest;

      this.bNoteTableData = JSON.parse(JSON.stringify(this.selectedRequest));

      this.showDetailTemplate(this.selectedRequest["ApprovalFormType"]);
    },
    showDetailTemplate(formType) {
      switch (formType) {
        case "aws_account_server-account":
        case "aws_account_db-account":
        case "aws_account_aws-account":
        case "aws_account_dfs-svn-account":
        case "aws_account_dfs-jira-account":
        case "aws_account_dfs-vdi-account":
        case "idc_account_server-account":
        case "idc_account_db-account":
        case "aws_access-policy_vpn-access":
        case "aws_access-policy_aws-access-key":
          this.FormDetailTemplate = "Account";
          break;
        case "aws_account_server-credentials":
        case "aws_account_db-credentials":
        case "idc_account_server-credentials":
        case "idc_account_db-credentials":
          this.FormDetailTemplate = "Credentials";
          break;
        case "aws_access-policy_server-access":
        case "aws_access-policy_db-access":
        case "aws_access-policy_network-access":
        case "idc_access-policy_server-access":
        case "idc_access-policy_db-access":
          this.FormDetailTemplate = "AccessPolicy";
          break;
        default:
          this.FormDetailTemplate = "";
      }
    },
    clearSelectedForm() {
      this.gridboundindex_of_sign = -1;
      this.$refs.Grid_of_sign.clearselection();
    },
    getOptionFilter() {
      this.filterOverlayShow = true;

      let requestObject = JSON.parse(JSON.stringify(this.searchForm));
      requestObject.StartDate = this.searchForm.StartDate.set({
        hour: 0,
        minute: 0,
        second: 0
      }).format();
      requestObject.EndDate = this.searchForm.EndDate.set({
        hour: 23,
        minute: 59,
        second: 59
      }).format();

      this.filterOverlayShow = false;
      // this.$axios({
      //   method: "get",
      //   url: `http://${this.portalSystems.active.IpAddress}/diag/security-approval/option-filter`,
      //   params: requestObject
      // })
      //   .then(res => {
      //     this.definedOption.Requester = res.data.Requester;
      //     this.definedOption.InfraCategory = res.data.InfraCategory;
      //     this.definedOption.ResourceType = res.data.ResourceType;
      //     this.definedOption.RequestType = res.data.RequestType;

      //     this.filterOverlayShow = false;
      //   })
      //   .catch(error => {
      //     console.log(error);
      //     this.filterOverlayShow = false;
      //   });
    },
    getServerItems() {
      let requestObject = JSON.parse(JSON.stringify(this.searchForm));
      requestObject.StartDate = this.searchForm.StartDate.set({
        hour: 0,
        minute: 0,
        second: 0
      }).format();
      requestObject.EndDate = this.searchForm.EndDate.set({
        hour: 23,
        minute: 59,
        second: 59
      }).format();

      // this.$axios({
      //   method: "get",
      //   url: `http://${this.portalSystems.active.IpAddress}/diag/security-approval/history`,
      //   params: requestObject
      // }).then(res => {
      //   this.source_of_sign.localdata = JSON.parse(JSON.stringify(res.data));
      //   // console.log(this.source_of_sign.localdata)
      //   this.$refs.Grid_of_sign.updatebounddata("cells");
      // });
    },
    cellclassname: function(row, column, value, data) {
      // if (data.ReApprovalRemainDays <= 18) {
      //   return 'alert-urgent-approval'
      // }

      if (data.Status == "Approved") {
        return "alert-approved-approval";
      } else if (data.Status == "Waiting") {
        return "alert-wait-approval";
      } else if (data.Status == "Returned") {
        return "alert-returned-approval";
      }
    },
    dateFormat(classes, date) {
      // if (!classes.disabled) {
      //   classes.disabled = moment(date.getTime() + 720 * 60 * 1000) < new Date()
      // }
      return classes;
    },
    updateDateRangePicker(e) {
      this.searchForm.StartDate = moment(e.startDate);
      this.searchForm.EndDate = moment(e.endDate);
      this.searchForm.Requester = "";
      this.searchForm.InfraCategory = "";
      this.searchForm.ResourceType = "";
      this.searchForm.RequestType = "";
      this.getOptionFilter();
    }
  }
};
</script>
<style scope>
.alert-urgent-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #fc8d06; /*#f8d7da;*/
}
.alert-returned-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #fc8d06; /*#f8d7da;*/
}
.alert-approved-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #61c22c; /*#f8d7da;*/
}
.alert-wait-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #e6ddd2; /*#f8d7da;*/
}

.alert-alert-approval:not(.jqx-fill-state-pressed) {
  /* color: #fff; */
  background-color: #fc8d06; /*#f8d7da;*/
}

div.approval-sign-grid
  div.jqx-grid-column-header.jqx-widget-header:nth-child(n + 7) {
  background-color: #283576;
}
</style>