<template>
  <div>
    <!-- <b-form-group class="strong" label="Pie-Chart"> -->
    <client-only>
      <JqxChart
        style="width: 100%; height: 300px"
        :title="chart_title"
        :description="chart_description"
        :showLegend="true"
        :enableAnimations="true"
        :padding="padding"
        :titlePadding="titlePadding"
        :source="chart_data"
        :xAxis="xAxis"
        :valueAxis="valueAxis"
        :seriesGroups="seriesGroups"
        :colorScheme="'scheme05'"
      ></JqxChart>
    </client-only>
    <!-- </b-form-group> -->
  </div>
</template>

<script>
import moment from "moment";
let JqxChart = null;
if (process.client) {
  JqxChart = require("jqwidgets-scripts/jqwidgets-vue/vue_jqxchart.vue")
    .default;
}

export default {
  components: {
    JqxChart
  },
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    chart_data: {
      type: Array,
      default: []
    },
    chart_series_groups: {
      type: Array,
      default: []
    },
    chart_title: {
      type: String,
      default: ""
    },
    chart_description: {
      type: String,
      default: ""
    }
  },
  watch: {
    chart_data: {
      deep: true,
      handler() {}
    },
    chart_series_groups: {
      deep: true,
      handler() {
        this.setChartSeriesGroup();
      }
    }
  },
  data() {
    return {
      padding: { left: 5, top: 5, right: 5, bottom: 5 },
      titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
      xAxis: {
        dataField: "Date",
        baseUnit: "week",

        labels: {
          formatFunction: value => {
            let month = new Date().getMonth() + 1;
            let xAxisString = month + " / " + value;
            return xAxisString;
          },
          angle: 0,
          horizontalAlignment: "right"
        },
        unitInterval: 1,
        tickMarks: { visible: true, interval: 1 },
        gridLinesInterval: { visible: true, interval: 1 },
        valuesOnTicks: false,
        padding: { bottom: 10 }
      },
      valueAxis: {
        unitInterval: 50,
        minValue: 0,
        maxValue: 200,
        title: { text: "Count<br><br>" },
        labels: { horizontalAlignment: "right" }
      },
      seriesGroups: [
        {
          type: "line",
          series: [
            {
              dataField: "Series1",
              symbolType: "square",
              labels: {
                visible: true,
                backgroundColor: "#FFCC99", //"#FEFEFE",
                backgroundOpacity: 0.2,
                borderColor: "#9900FF", //"#7FC4EF",
                borderOpacity: 0.7,
                padding: { left: 5, right: 5, top: 0, bottom: 0 }
              }
            },
            {
              dataField: "Series2",
              symbolType: "square",
              labels: {
                visible: true,
                backgroundColor: "#FEFEFE",
                backgroundOpacity: 0.2,
                borderColor: "#7FC4EF",
                borderOpacity: 0.7,
                padding: { left: 5, right: 5, top: 0, bottom: 0 }
              }
            }
          ]
        }
      ]
      // data_example: [{ text: "Used", value: 55 }, { text: "Available", value: 9 }]
    };
  },
  beforeCreate: function() {
    this.counter = 0;
  },
  created() {
  },
  computed: {
    isDisabled() {
      return this.disable_form;
    }
  },
  methods: {
    setChartSeriesGroup() {
      this.seriesGroups[0].series.forEach((series, i) => {
        series.dataField = this.chart_series_groups[0].series[i].dataField;
      });
    },
    setChartData() {}
  }
};
</script>
<style>
</style>