<template>
  <div>
    <client-only>
      <JqxChart
        ref="donutChart"
        style="width: 100%; height: 180px"
        :title="chart_title"
        :description="chart_description"
        :showLegend="false"
        :enableAnimations="true"
        :padding="padding"
        :titlePadding="titlePadding"
        :source="chart_data"
        :showToolTips="true"
        :seriesGroups="seriesGroups3"
        :colorScheme="'scheme01'"
        :backgroundColor="'#FAFAFA'"
        :drawBefore="drawBefore"
      ></JqxChart>
    </client-only>
  </div>
</template>

<script>
import moment from "moment";
let JqxChart = null;
if (process.client) {
  JqxChart = require("jqwidgets-scripts/jqwidgets-vue/vue_jqxchart.vue")
    .default;
}

export default {
  components: {
    JqxChart
  },
  props: {
    disable_form: {
      type: Boolean,
      default: false
    },
    chart_data: {
      type: Array,
      default: []
    },
    chart_title: {
      type: String,
      default: ""
    },
    chart_description: {
      type: String,
      default: ""
    }
  },
  watch: {
    chart_data: {
      deep: true,
      handler() {}
    }
  },
  data() {
    return {
      padding: { left: 5, top: 5, right: 5, bottom: 5 },
      titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
      seriesGroups3: [
        {
          type: "donut",
          useGradientColors: false,
          series: [
            {
              showLabels: false,
              enableSelection: true,
              displayText: "text",
              dataField: "value",
              labelRadius: 120,
              initialAngle: 90,
              radius: 60,
              innerRadius: 50,
              centerOffset: 0
            }
          ]
        }
      ]
      // data_example: [{ text: "Used", value: 55 }, { text: "Available", value: 9 }]
    };
  },
  beforeCreate: function() {
    this.counter = 0;
  },
  created() {},
  computed: {
    isDisabled() {
      return this.disable_form;
    }
  },
  methods: {
    drawBefore: function(renderer, rect) {
      let value;
      if (this.counter === 0) {
        value = this.chart_data[0].value;
      }
      // value = Math.floor(
      //   (this.chart_data[0].value /
      //     (this.chart_data[0].value + this.chart_data[1].value)) *
      //     100
      // );

      value = 
        (this.chart_data[0].value /
          (this.chart_data[0].value + this.chart_data[1].value)) *
          100
      
      if (value == 100 || value == 0) {
        value = value + '%'
      }
      else {
        value = value.toFixed(1) + "%";
      }
      
      // else if (this.counter === 1) {
      //   value = this.data2[0].value;
      // } else if (this.counter === 2) {
      //   value = this.data3[0].value;
      // } else if (this.counter === 3) {
      //   value = this.data4[0].value;
      // }

      let sz = renderer.measureText(value, 0, { class: "chart-inner-text" });
      renderer.text(
        value,
        rect.x + (rect.width - sz.width) / 2,
        rect.y + rect.height / 2,
        0,
        0,
        0,
        { class: "chart-inner-text" }
      );
      this.counter++;
    },
    refresh: function () {
      this.$ref.donutChart.refresh()
    },
    update: function () {
      this.$ref.donutChart.update()
    }
  }
};
</script>
<style>
.chart-inner-text {
  fill: #00baff;
  color: #00baff;
  font-size: 24px;
  font-family: Verdana;
}
</style>