<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>
    <b-row>
      <b-col>
        <b-form-group
            label="Step1. 관리 인프라 변경"
            label-size="lg"
            label-class="font-weight-bold pt-0"
            class="mb-0"
          >
          <b-form-checkbox-group id="checkbox-group-2" v-model="selected" name="flavour-2">
              <b-row style="padding-left: 40px;">
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/icons/idc_n.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="OnPremise">
                      On Premise
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/icons/vmware_n.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="VMWare">
                      VMWare
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="AWS">
                      AWS
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="Azure">
                      Azure
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="GCP">
                      GCP
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="NBP">
                      NBP
                    </b-form-checkbox>
                  </b-row>
                </b-col>                                                
              </b-row>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>
    <hr/> 
    <b-row>
      <b-col>
        <b-form-group
            label="Step2. 관리 인프라 서비스 변경"
            label-size="lg"
            label-class="font-weight-bold pt-0"
            class="mb-0"
          >
          <b-form-checkbox-group id="checkbox-group-2" v-model="selected" name="flavour-2">
              <b-row style="padding-left: 40px;">
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="statistic">
                      통계관리
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="architecture">
                      구성관리
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="price">
                      비용관리
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="resource">
                      자원관리
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="monitor">
                      모니터링
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="log">
                      로그관리
                    </b-form-checkbox>
                  </b-row>
                </b-col>                                                
              </b-row>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>
    <hr/>
    <b-row>
      <b-col>
        <b-form-group
            label="Step3. 요금방식 변경"
            label-size="lg"
            label-class="font-weight-bold pt-0"
            class="mb-0"
          >
          <b-form-checkbox-group id="checkbox-group-2" v-model="selected" name="flavour-2">
              <b-row style="padding-left: 40px;">
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/icons/billing_card_n.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="month">
                      월 약정
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/icons/billing_card_n.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="year">
                      1년 약정
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/icons/billing_card_n.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="3year">
                      3년 약정
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                                                          
              </b-row>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>
    <hr/>
    <b-row>
      <b-col>
        <b-form-group
            label="Step4. 서비스 변경 개시일 지정"
            label-size="lg"
            label-class="font-weight-bold pt-0"
            class="mb-0"
          >
          <b-form-checkbox-group id="checkbox-group-2" v-model="selected" name="flavour-2">
              <b-row style="padding-left: 40px;">
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="fromNow">
                      지금부터
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_3.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="customPriod">
                      날짜지정
                    </b-form-checkbox>
                  </b-row>
                </b-col>                              
              </b-row>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>
    <hr/>    
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Admin",
          href: "#",
        },
        {
          text: "Service",
          href: "#",
        },
        {
          text: "변경 신청",
          active: true,
        },
      ],
    };
  },
};
</script>