<template>
  <div>
    <b-breadcrumb :items="breadcrumbNav"></b-breadcrumb>
    <b-row>
      <b-col>
        <b-form-group
            label="서비스 해지일 지정"
            label-size="lg"
            label-class="font-weight-bold pt-0"
            class="mb-0"
          >
          <b-form-checkbox-group id="checkbox-group-2" v-model="selected" name="flavour-2">
              <b-row style="padding-left: 40px;">
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_1.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="fromNow">
                      지금부터
                    </b-form-checkbox>
                  </b-row>
                </b-col>
                <b-col cols='2'>
                  <b-row>
                    <b-img
                      src="~/assets/images/logo/logo_pic_c_1.png"
                      style="height: 80px"
                      fluid
                      class="mr-2"
                      alt="TIKA Cloud"
                    />
                  </b-row>
                  <b-row>
                    <b-form-checkbox value="customPriod">
                      날짜지정
                    </b-form-checkbox>
                  </b-row>
                </b-col>                              
              </b-row>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
    </b-row>   
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbNav: [
        {
          text: "Admin",
          href: "#",
        },
        {
          text: "Service",
          href: "#",
        },
        {
          text: "해지 신청",
          active: true,
        },
      ],
    };
  },
};
</script>